.header2__sidenav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    z-index: 1000;
    color: $black;
    background-color: $white;
    overflow-x: hidden;
    overflow-y: auto;

    h2 {
        color: inherit;
        padding: 8px 12px;
        font-weight: 700;
        font-size: 24px;
    }

    /* total width */
    &::-webkit-scrollbar {
        background-color:$lighter-grey;
        width: 8px;
    }

    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
        background-color:$lighter-grey;
    }
    &::-webkit-scrollbar-track:hover {
        background-color:#f4f4f4;
    }

    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
        background-color:#babac0;
        border-radius:16px;
        border:1px solid $lighter-grey;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color:#a0a0a5;
        border:1px solid #f4f4f4;
    }

    /* set button(top and bottom of the scrollbar) */
    .scrollbar::-webkit-scrollbar-button {display:none}
}

.header2__sidenav-logo {
    padding: 12px 0;
    display: block;
    text-align: center;
}

.header2__sidenav-brand {
    display: block;
    padding: 0 15px;
}

.header2__sidenav-menu {
    list-style: none;
    font-size: $font-size + 2px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.header2__sidenav-item {
    margin-left: 24px;
}

.header2__sidenav-section {
    .heading {
        padding-left: 8px;
        color: $black;
        font-weight: 700;
        font-size: $font-size4;
    }
}

.header2__sidenav-icon {
}

.header2__sidenav-dropdown-menu{
    display: none;
    list-style: none;
    width: 80%;
    margin-left: 20%;
    margin-top: 1px;
}

.header2__sidenav-dropdown-arrow{
    position: absolute;
    right: 0;
    width: 50px;
    height: 40px;
    text-align: center;
    padding-top: 9px;
    z-index: 10;
    &:hover {
        cursor: pointer;
    }
}
