.nav-item{
    display: flex;
    align-items: center;
    border-left: 5px solid transparent;
    height: 40px;
    transition-duration: .05s;
    margin-left: 24px;

    &:hover {
        background-color: $gray5;
    }
    &.active{
        background-color: transparent;
        border-left: 5px solid $blue5;
        font-weight: 700;
        color: $blue5;
        &:hover {
            background-color: $gray5;
        }
    }
}
