
.ss-main .ss-single-selected, .ss-main .ss-multi-selected{
    min-height: 42px;
    padding: 6px 12px;
}

.ss-main .ss-multi-selected .ss-add{
    display: flex;
    width: 8px;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    margin: 0 6px;
}

.ss-main .ss-multi-selected .ss-values .ss-value{
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    padding: 4px 6px;
    color: $black;
    background-color: $gray5;
    border-radius: 4px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ss-main .ss-content .ss-list .ss-option:hover{
    color: $black;
    background-color: $gray6;
}

.ss-main .ss-content .ss-list .ss-option:focus{
    background-color: $gray6;
}
