.focus-outline-blue3 {
    outline: 3px solid $blue3;
}

.custom-accordion-menu {
    box-shadow: $box-shadow1;
    .card-header {
        padding: 12px 18px;
        position: relative;
        font-weight: 500;
        color: $gray1;
        background-color: $gray6;
        cursor: pointer;
        position: relative;

        button, h5 {
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
        }

        .arrow-icon {
            transition-duration: .2s;
            font-size: 16px;
        }

        button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:not(.collapsed) {
                .arrow-icon {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    .collapse {
        transition-duration: .2s;
    }

    .card-body {
        padding: 12px 18px;
        a {
            display: block;
            padding: 6px 0;
            color: $gray2;
            &:hover {
                color: $blue4;
                text-decoration: underline;
            }
            &.active {
                color: $blue5;
                font-weight: 700;
            }
        }
    }
}
