// Body
$body-bg: #F0F2F5;
$max-width: 992px;

$panelPadding: 8px 12px;
$panelXPadding: 12px;
$panelYPadding: 8px;
$toolButtonXPadding: 6px;
$headerPadding: 16px 0;
$header-box-shadow: 0 3px 4px rgba(0,0,0,0.08);

$box-shadow: 0 1px 1px rgba(0,0,0,0.12);
$box-shadow-dark: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-darker: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shadow-darkest: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$box-shadow-blue: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 1);
$buttonBorderRadius: 4px;
$border-radius: 8px;

// Colors
$lightest-grey-solid: #F8F8F8;
$lightest-grey: rgba(0,0,0,0.015);
$lighter-grey: rgba(0,0,0,0.03);
$light-grey: rgba(0,0,0,0.1);
$grey: #555555;
$black: #000000;
$white: #ffffff;
$yellow: #FFD700;
$dark-yellow: #d1b200;
$gold: #FFDF00;
$primary: #6c53a7;
$dark-primary: #361642;

$orange: #FF8C00;
$light-red: #e77e87;
$red: #e63946;
$dark-red: #ba333e;

// Shades of Gray
$gray1: #505050;
$gray2: gray;
$gray3: darkgray;
$gray4: lightgray;
$gray5: #DCDCDC;
$gray6: #F5F5F5;

// Shades of Blue
$lightest-blue: #e0fbfc;
$lighter-blue: #B6D9EE;
$light-blue: #1da0dd;
$blue: #198dc2;

$light-green: #98d6bd;
$green: #26b67c;
$dark-green: #1f9868;

$overlay: rgba(0,0,0,0.5);

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$font-size: 14px;

// Font size
$font-size1: 11px;
$font-size2: 13px;
$font-size3: 14px;
$font-size4: 16px;
$font-size5: 18px;
$font-size6: 22px;
$font-size7: 24px;
$font-size8: 28px;
$font-size9: 32px;
$font-size10: 36px;
$font-size11: 44px;
$font-size12: 48px;


$blue1:#e0fbfc;
$blue2:#B6D9EE;
$blue3:#1da0dd;
$blue4:#198dc2;
$blue5: #2174D3;
$blue6: #064389;

$box-shadow1: 0 1px 1px rgba(0,0,0,0.12);
$box-shadow2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shadow4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
