@import '../app';

@import 'variables';
@import 'base';
@import 'components';
@import 'mixins';

@import 'components/profile';
@import 'components/question';
@import 'components/resources';
@import 'components/search';

@import 'navs/header2';
@import 'navs/sidenav';

@import 'pages/register';

.qi__login-rewards {
    .countdown {
        text-align: center;
        border: 3px solid $blue5;
        color: $blue5;
        font-weight: 700;
        text-transform: uppercase;
        padding: 12px;
        margin-bottom: 6px;
        border-radius: 4px;
        .number {
            font-size: $font-size9;
        }

        .text {
            font-size: $font-size4;
        }
    }

    .sub-title {
        font-size: $font-size3;
        font-weight: 400;
    }

    .coin {
        float: right;
        font-size: $font-size - 1px;
        color: $gray1;
    }

    .caption {
        color: $grey;
        margin: 0;
        padding: 4px 0;
    }

    .rewards{

        text-align: center;
        .gift-img {
            width: 150px;
            height: 150px;
            display: inline-block;
            margin-bottom: 8px;
        }

        .remark {
            font-size: $font-size2;
            font-weight: 500;
            background-color: $blue1;
        }

    }

    input[type=checkbox] {
        display: none;

        + label {
            display: block;
            cursor: pointer;
            padding: 4px 0;
            color: $black;
            font-weight: 400;

            &::before {
                content: "\2714";
                border: 1px solid $light-grey;
                border-radius: $border-radius / 2;
                display: inline-block;
                width: 20px;
                height: 20px;
                padding-left: 3px;
                margin-right: 5px;
                vertical-align: baseline;
                color: transparent;
                transition: 0.2s;
                font-size: 14px;
                line-height: 20px;
            }

            &:active {
                &::before {
                    transform: scale(0);
                }
            }
        }

        &:checked {
            + label {
                &::before {
                    background-color: $green;
                    border-color: $green;
                    color: $white;
                }
            }
        }

        &:disabled {
            + label {
                &::before {
                    transform: scale(1);
                    border-color: $light-grey;
                }
            }
        }
    }

    input[type=checkbox]:checked:disabled {
        + label {
            text-decoration: line-through;
            &:before {
                transform: scale(1);
                background-color: $light-green;
                border-color: $light-green;
            }
        }
    }
}

.qi__right-col {
    margin-top: 12px;
}

.reward-panel__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: $font-size3;

    .key {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
    }

    .value {
        color: $gray2;
    }
}

