html, body {
    background-color: $body-bg;
}
html {
    height: 100%;
}

.root {
    position: relative;
    padding-top: 60px;
    min-height: 95vh;
}

* {
    font-family: $font-family-sans-serif;
    letter-spacing: .3px;
    box-sizing: border-box;
}

h1, .h1 {
    font-size: $font-size10;
    color: $black;
    font-weight: 500;
}

h2, .h2 {
    font-size: $font-size9;
    color: $black;
    font-weight: 500;
}

h3, .h3 {
    font-size: $font-size5;
    color: $black;
    font-weight: 500;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-size: $font-size4;
    color: $black;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    span, a {
        font-size: inherit;
    }
}

li {
    font-size: $font-size3;
}

div, a, p, span, button, label, input, blockquote {
    font-size: $font-size3;
}

button {
    padding: 8px 12px;
    background-color: transparent;
    border: 0;
    &:hover, &:focus {
        outline: 0;
        border: 0;
    }
}

label {
    display: block;
    color: $gray1;
    letter-spacing: .5px;
    font-weight: 500;

    &.normal-weight {
        font-weight: 400;
    }
}

select {
    width: 100%;
    height: 42px;
    border: 1px solid $gray4;
    padding: 6px 12px;
    font-size: $font-size3;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='lightgray'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 12px;
    background-position: calc(100% - 10px) 17px;
    background-repeat: no-repeat;
    background-color: $white;

    &:focus {
        border: 2px solid $blue3;
        outline: 0;
    }
}

input {
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    border: 1px solid $gray4;
    border-radius: 4px;

    &:hover {
        border: 1px solid $blue3;
    }

    &:focus {
        border: 1px solid #1da0dd;
        outline: 0;
    }

    &:read-only {
        background-color: $gray5;
    }
}

input[type=checkbox] {
    display: inline-block;
    width: unset;
    height: unset;
    margin-right: 3px;

    + label {
        display: inline-block;
        margin: 0;
    }

    &:disabled {
        cursor: not-allowed;
        + label {
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}



label {
    margin-bottom: 4px;
    letter-spacing: 0.3px;
    font-weight: 500;
    color: $gray1;
}

textarea {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid $gray4;
    border-radius: 4px;
    resize: vertical;

    &:hover {
        border: 1px solid $blue3;
    }

    &:focus {
        border: 1px solid #1da0dd;
        outline: 0;
    }
}

input, textarea {
    border: 1px solid $gray4;
    font-size: $font-size3;
    
    &:focus {
        border: 2px solid $blue3;
        outline: 0;
    }
}

th, tr, td {
    font-size: 14px;
    padding: 6px 8px;
}

a {
    &.disabled:hover {
        cursor: not-allowed;
    }
}

.alert-primary {
    color: $black;
    background-color: $blue1;
    border-color: $blue2;
}

#toast-container {
    >.toast-success {
        background-color: $green;
    }

    >.toast-danger, >.toast-error {
        background-color: $red;
    }

    >.toast-info {
        background-color: $blue4;
    }
}

.toast-top-right {
    top: 64px;
}

.jssocials-share  {
    background-color: transparent;
    color: $gray3 !important;

    .jssocials-share-link {
        color: inherit !important;
        font-size: 16px;
    }
}

.jssocials-share i.fa {
    font-family: "Font Awesome 5 Brands" !important;
    font-weight: 400;
}

.swal2-confirm {
    background-color: $blue5;
    &:hover{
        background-color: $blue6;
    }
}

textarea.tinymce-editor {
    display: none;
}

.mce-content-body { margin: 0; padding: 6px 12px !important; }

.editor {
    height: 100%;
}

.ql-editor {
    height: 250px;
    resize: vertical;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid $blue3;
    }
    &:focus {
        border: 2px solid $blue3;
    }
}

.icon-lg {
    font-size: 24px;
}

.bg-lighter-blue {
    background-color: $lighter-blue;
}

.bg-blue2 {
    background-color: $blue2;
}

.bg-light-red {
    background-color: $light-red;
}

.modal-dialog {
    background-color: $white;
}

.modal-content {
    border: 0;
    border-radius: 4px;
    background-color: $white;
}

.list-group-item {
    border: 0;
    padding: 16px 18px;
    &:hover {
        border: 0;
        // background-color: $gray5;
    }

    &.active {
        color: $white;
        background-color: $blue5;

        &:hover {
            background-color: $blue6;
        }
    }
}

.nav-tabs {
    border-bottom: 1px solid $gray5;
}

.data-header {
    font-weight: 700;
}

.data-header, .data-row {
    display: flex;

    .key {
        font-weight: inherit;
        min-width: 90%;
        color: $gray2;
    }

    .value {
        font-weight: inherit;
        text-align: center;
        min-width: 10%;
    }
}

.mb-2 {
    margin-bottom: 8px;
}

.dashboard {
    h2 {
        font-size: $font-size7;
        font-weight: 700;
    }
}

.list-style-none {
    list-style: none;
}

.card {
    border: 1px solid $gray5;
    box-shadow: $box-shadow;
}

.ql-toolbar {
    text-align: center;
}

.container-wider {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: $sm) {
        max-width: 740px;
    }
    @media (min-width: $md) {
        max-width: 920px;
    }
    @media (min-width: $lg) {
        max-width: 1160px;
    }
    @media (min-width: $xl) {
        max-width: 1340px;
    }
}

.dataTables_length {
    float: left;
    // margin-bottom: 8px;
}

.dataTables_filter {
    float: right;
    // margin-bottom: 8px;
    display: none;
    @media(min-width: $md) {
        display: block;
    }
}

.dataTables_info {
    float: left;
    padding: 12px 0;
    margin-bottom: 16px;
}

.dataTables_paginate {
    float: right;
    padding: 12px 0;
    margin-bottom: 16px;
}

.paginate_button {
    border-radius: 0;
    border: 1px solid $gray4;
    background-color: transparent;
    color: $blue5 !important;
    padding: 8px 12px;
    &:hover {
        background-color: $gray6;
        cursor: pointer;
    }

    &.current {
        color: $white !important;
        background-color: $blue5;
    }
}

.border-gold {
    border: 1px solid $gold;
}

.border-width3px {
    border-width: 3px;
}

.dropdown-item {
    &:focus {
        color: inherit;
        background-color: $gray4;
    }
}

.modal-dialog {
    background-color: $white;
    border-radius: 4px;
}

.modal-open .modal {
    padding: 0 !important;
}

.tui-full-calendar-time-schedule-content {
    font-weight: 400;
}

.modal-header .close span {
    font-size: 22px;
}
// JS Social
// .jssocials-share-link { border-radius: 50%; }

#calendarMenu {
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .calendar-render-range {
        font-weight: 700;
        font-size: $font-size5;
    }

    .menu-navi {
        margin-right: 8px;
    }

    .calendar-btn {
        border-radius: 1000px;
        border: 1px solid $gray4;
        color: $black;
        background-color: $white;
        font-size: 12px;
        margin-right: 3px;
        padding: 8px 10px;

        &:disabled {
            color: $gray2;
            background-color: $gray5;
        }

        .calendar-move-today {
            padding: 0 16px;
            line-height: 30px;
            font-weight: 700;
        }

        .calendar-move-day {
            padding: 8px;
        }

        .calendar-icon {
            display: inline-block;
            width: 14px;
            height: 14px;
            vertical-align: middle;
        }

        .ic-arrow-line-left {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAK1JREFUKBVjYKAFaGhoYMJlLjMuibS0NNZHjx6t1tHR0bx69eoBdHVYTQRpev/+/Uqg4sD////rYbOZEd0kZE1AufWCgoLhs2bN+o2uDkUjsZpAhsA1kqIJpBGrH0EShAA8VM+ePfvPxsZm3Y8fP3SAmgJBNIgPEsdmCFwjSJIUzRhOBYUgKCSB5qwH4kBQtBAVHSCbQQAWWIyMjJdWrVrVABYklsBmE7F6caoDAB4rYZDo034sAAAAAElFTkSuQmCC') no-repeat;
        }

        .ic-arrow-line-right {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAKNJREFUKBVjYKA2aGhoYMJnJiM2ybCwsIb////rCQoKhs+aNes3NjUYpoJsAmkCKg58//79yrS0NFZsGrHaCFIM0gTSDMTrsdnMjM20s2fP/rOxsVn348cPHZBmEA3ig8Rh6rFqBEkS0ozhR5iJhGisfgRpIuRPrBoJaQIZjOFUUHQQClGQRozAOXDgwH8dHR1NoNx7bNEA0oQXEEpyeDXjkwQAiyNhSndGN/YAAAAASUVORK5CYII=') no-repeat;
        }
    }
}

.tinymce-editor-contents {
    margin-top: 8px;

    * {
        font-family: 'Poppins', 'Roboto', sans-serif;
    }

    h2, h3, h4 {
        margin-bottom: 16px;
    }

    h2 {
        font-size: $font-size8;
        font-weight: 700;
    }

    h3 {
        font-size: $font-size6;
        font-weight: 700;
    }

    h4 {
        font-size: $font-size5;
        font-weight: 500;
        color: $gray2;
    }

    p {
        margin-bottom: 8px;
    }

    hr {
        margin: 24px 0;
        border-bottom: 1px solid $gray5;
    }

    img {
        max-width: 100%;
        max-height: 500px;
        object-fit: contain;
    }

    .content-wrapper, .content-blockquote {
        padding: 8px 12px;
        margin-bottom: 16px;
        border-radius: 4px;
        *:last-child {
            margin-bottom: 0;
        }
    }

    .content-wrapper {
        border: 1px solid $blue2;
        background-color: $blue1;
    }

    .content-blockquote {
        border: 1px solid $gray5;
        border-left: 4px solid $blue5;
        padding: 8px;
        padding-left: 16px;
        background-color: $gray6;
    }
}

.badge-light {
    background-color: $gray5;
    color: $gray2;
}
