@import 'components/filter';

.loading-icon {
    $border-width: 3px;
    $border-style: solid;
    border-radius: 50%;
    &.in-button {
        margin: 0 auto;
        width: 21px;
        height: 21px;
    }
    &.in-editor {
        padding: 12px 0;
        margin: 0 auto;
        width: 40px;
        height: 40px;
    }
    &.loading {
        animation: rotate .6s infinite linear;
    }
    &.white {
        border: $border-width $gray5 $border-style;
        border-top: $border-width $white $border-style;
    }
    &.blue {
        border: $border-width $blue6 $border-style;
        border-top: $border-width $blue1 $border-style;
    }
}

.square-dot {
    border: 0;
    padding: 4px;
    margin: 0;
    display: inline-block;
}

.dropdown-menu.right {
    left: unset;
    right: 0;
}

.page-header {
    font-size: $font-size7;
    font-weight: 700;
    color: $gray1;
    margin-bottom: 0;
}

.page-subheader {
    font-size: $font-size5;
    font-weight: 500;
    color: $gray2;
    margin-bottom: 0;
}

.wrapper, .ask-wrapper {
    width: 100%;
    padding: 24px 20px;
    border-radius: 4px;
    box-shadow: $box-shadow1;
    background-color: $white;
    margin: 0 auto;
    padding: 30px;

    .heading, .sub-heading {
        text-align: center;
    }

    .heading {
        color: $blue5;
        font-size: $font-size8;
        margin-bottom: 8px;
        font-weight: 700;
    }

    .sub-heading {
        color: $black;
        font-size: $font-size4;
    }

    [type=submit] {
        text-align: center;
    }
}

.wrapper{
    min-width: 300px;
    max-width: 460px;
}

.ask-wrapper{
    min-width: 300px;
    max-width: 740px;
}

.inline-image {
    width: 25px;
    height: 25px;
    margin-right: 4px;
}

a {
    &.header-link {
        color: $black;
        &:hover {
            color: $black;
            text-decoration: none;
        }
    }

    &.inactive {
        color: $black;
        &:hover {
            color: $black;
            text-decoration: underline;
        }
    }

    &.hover-on-underline, &.underline-on-hover {
        &:hover {
            text-decoration: underline;
        }
    }
}

.button-link {
    padding: 0;
    margin: 0;
    display: inline-block;
    color: $black;
    border: 0;

    &:hover {
        outline: 0;
        border: 0;
        &.underline-on-hover {
            text-decoration: underline;
        }
    }
}

.gray-button {
    color: $gray2;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0;
    .iconify {
        font-size: 20px;
        margin-right: 4px;
    }

    &:hover {
        color: $blue4;
    }

    &.disabled {
        color: $gray4;
        &:hover {
            cursor: not-allowed;
        }
    }

    &.sm {
        font-size: $font-size2;

        .iconify {
            font-size: 18px;
            margin-right: 2px;
        }
    }
}

.table {
    th, td {
        color: $gray1;
    }
}

.button {
    border-radius: $buttonBorderRadius;
    border: 1px solid transparent;
    padding: 8px 12px;
    text-align: center;
    display: inline-block;

    &:hover {
        text-decoration: none;
    }

    .iconify {
        font-size: 18px;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &.sm {
        font-size: $font-size3;
        padding: 4px 8px;
        .iconify {
            font-size: 18px;
        }
    }

    &.lg {
        padding: 12px 16px;
        .iconify {
            font-size: 24px;
        }
    }

    &--primary {
        @extend .button;
        color: $white;
        background-color: $blue5;

        &:hover, &:focus {
            color: $white;
            background-color: $blue6;
            border: 1px solid transparent;
        }

        &.disabled, &:disabled {
            background-color: $blue4;
            border: 1px solid transparent;
            &:hover {
                border: 1px solid transparent;
                background-color: $blue4;
            }
        }

        &--inverse {
            @extend .button;
            color: $blue5;
            background-color: $white;
            border: 1px solid $blue5;

            &:hover, &:focus {
                color: $blue5;
                background-color: $gray6;
                border: 1px solid $blue5;
            }

            &.disabled, &:disabled {
                background-color: $gray5;
                &:hover {
                    background-color: $gray5;
                }
            }
        }
    }

    &--success {
        @extend .button--primary;
        color: $white;
        background-color: $green;
        border: 1px solid $green;

        &:hover, &:focus {
            color: $white;
            background-color: $dark-green;
        }

        &.disabled, &:disabled {
            background-color: $light-green;
            border: 1px solid transparent;
            &:hover {
                background-color: $light-green;
                border: 1px solid transparent;
            }
        }

        &--inverse {
            @extend .button;
            color: $green;
            background-color: $white;
            border: 1px solid $green;

            &:hover, &:focus {
                color: $green;
                background-color: $gray6;
                border: 1px solid $green;
            }

            &.disabled, &:disabled {
                background-color: $light-green;
            }
        }
    }

    &--orange {
        @extend .button;
        color: $white;
        background-color: $orange;
        border: 1px solid $orange;

        &:hover, &:focus {
            color: $white;
            background-color: $dark-orange;
            border: 1px solid $orange;
        }

        &:disabled {
            background-color: $light-orange;
            border: 1px solid transparent;
        }

        &--inverse {
            @extend .button;
            color: $orange;
            background-color: $white;
            border: 1px solid $orange;

            &:hover, &:focus {
                color: $orange;
                background-color: $gray6;
                border: 1px solid $orange;
            }

            &:disabled {
                background-color: $light-orange;
            }
        }
    }

    &--danger {
        @extend .button;
        color: $white;
        background-color: $red;
        border: 1px solid $red;

        &:hover, &:focus {
            color: $white;
            background-color: $dark-red;
            border: 1px solid $red;
        }

        &:disabled {
            background-color: $light-red;
            border: 1px solid transparent;
        }

        &--inverse {
            @extend .button;
            color: $red;
            background-color: $white;
            border: 1px solid $red;

            &:hover, &:focus {
                color: $red;
                background-color: $gray6;
                border: 1px solid $red;
            }

            &:disabled {
                background-color: $light-red;
            }
        }
    }
}

.google-btn{
    width: 100%;
    height: 42px;
    border: 1px solid $gray2;
    background-color: $white;
    padding: 0;
    box-shadow: $box-shadow1;

    &:hover, &:focus {
        border: 1px solid #1da0dd;
        background-color: #fff;
        box-shadow: $box-shadow1;
    }
}

.google-icon{
    width: 33px;
    height: 33px;
    margin-right: 3px;
    border-radius: 100px;
    object-fit: cover;
    background-color: transparent;
}


.panel {
    padding: $panelPadding;
    box-shadow: $box-shadow;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid $gray4;

    &.p-0 {
        .panel-header {
            padding: 12px;
            color: $black;
            font-weight: 700;
            font-size: $font-size5;
            background-color: $gray6;
            border-bottom: 1px solid $gray4;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .panel-body {
            padding: 8px 12px;
        }

        .panel-footer {
            padding: 8px 12px;
        }
    }
}

.cta-panel {
    color: $white;
    background-color: $blue6;
    padding: 20px;
}

.cta-panel__button {
    color: $blue6;
    background-color: $white;
    border: 2px solid $white;
    font-weight: 700;
    padding: 12px;
    transition: 0.2s ease-in-out;
    display: inline-block;
    width: 200px;
    font-size: $font-size5;
    border-radius: $border-radius;
    &:hover {
        transform: scale(1.02);
    }
}

.panel-title, .block-title {
    color: $grey;
    text-transform: uppercase;
    font-size: $font-size4 - 2px;
    padding-top: 4px;
}


.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 2px;
    border-radius: 100%;
}



.form-field {
    margin-bottom: 16px;
}

// File input
.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 42px;
    border: 1px dashed #ced4da;
    border-radius: 3px;
    transition: 0.2s;
    padding: 6px 12px;
}

.file-drop-area.is-active {
    background-color: rgba(255, 255, 255, 0.05);
}

.fake-btn {
    flex-shrink: 0;
    background-color: $blue3;
    border: 1px solid $blue3;
    color: $white;
    border-radius: 4px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        background-color: $blue4;
    }
  }

.file-msg {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 56px; /* 42px + 2*6px */
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.file-input:focus {
  outline: none;
}

.file-input-preview{
    margin-top: 8px;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
}

// Pagination
.pagination{
    justify-content: center;
    margin-top: 12px;
}

.page-item.active .page-link{
    color: #fff;
    background-color: $blue5;
    border-color: $blue5;
}

a.page-link{
    color: $black;

    &:hover {
        color: $black;
        background-color: $gray6;
    }

    &:focus {
        outline: 0;
    }
}

// Nav pills
.nav-pills{
    flex: 1;
    height: 40px;
    padding: 0;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid transparent;
    font-weight: 500;

    @media (min-width: $lg) {
        max-width: 135px;
    }

    &:hover {
        cursor: pointer;
    }

    &.active {
        color: $blue5;
        border-bottom: 3px solid $blue5;
    }

    a {
        font-weight: 500;
        color: inherit;
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 38px;

        &:hover {
            text-decoration: none;
        }
    }
}

.nav-link {
    &.active {
        border-bottom: 3px solid $blue6;
    }
}

.html-container {
    ol, ul, p {
        padding: 0;
        margin: 0;
    }
}

.steps-form {
    padding: 8px 0;
    .title {
        display: none;
    }
    .steps {
        color: $black;
        ul {
            list-style: none;
            margin-bottom: 8px;
        }
        li {
            display: inline-block;
            padding: 8px 12px;
            margin-right: 12px;
            color: inherit;
            background-color: $gray6;
            border-radius: 4px;

            &.current {
                color: $white;
                background-color: $blue5;
            }
        }

        a {
            color: inherit;
        }

        .current-info {
            display: none;
        }

    }
    .content {
        width: 100%;
        margin: 0;
        label.error {
            font-weight: 500;
        }
    }
    .actions {
        display: none;
    }
}

// Checkbox
.styled-radio-input {
    display: block;
    margin-bottom: 6px;
    position: relative;

    label {
        padding: 12px;
        padding-left: 30px;
        width: 100%;
        display: block;
        text-align: left;
        color: $black;
        background-color: $gray6;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: color 200ms ease-in;
        overflow: hidden;
        margin: 0;
        border: 1px solid $gray5;

        &:before {
            width: 30px;
            height: 10px;
            border-radius: 50%;
            content: '';
            background-color: $blue5;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
            opacity: 0;
            z-index: -1;
        }

        &:after {
            width: 12px;
            height: 12px;
            content: '';
            border: 2px solid $gray5;
            background-color: $white;
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
            background-repeat: no-repeat;
            background-position: 2px 3px;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            left: 12px;
            top: 17px;
            cursor: pointer;
            transition: all 200ms ease-in;
        }
    }

    input:disabled ~ label {
        background-color: $white;
        border: 1px solid $gray6;
        &:hover {
            cursor: default;
        }
    }

    input:checked ~ label {
        color: $white;
        &:before {
            transform: translate(-50%, -50%) scale3d(56, 56, 1);
            opacity: 1;
        }
        &:after {
            background-color: $green;
            border-color: $green;
        }
    }

    input {
        width: 32px;
        height: 32px;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
    }

}

.fb-button {
    color: $white;
    background-color: #395185;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 240px;
    &:hover {
        color: $white;
        background-color: #395185;
    }
    .iconify {
        font-size: 24px;
        margin-right: 6px;
    }
}

.heading {
    font-weight: 700;
    font-size: $font-size11;
}

.sub-heading {
    font-size: $font-size5;
    color: $gray1;
    margin-bottom: 12px;
}

.profile-img {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    border-radius: 100%;
    object-fit: cover;

    &.lg {
        min-width: 120px;
        min-height: 120px;
        width: 120px;
        height: 120px;
    }
}

.eclipse {
    border-radius: 1000px;
}

.tag {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border-radius: 1000px;
    font-size: $font-size2 - 1px;
    padding: 3px 8px !important;

    &:hover {
        cursor: default;
    }

    &.sm {
        padding: 2px 4px !important;
        font-size: 10px;
    }

    &.lg {
        padding: 6px 16px;
        font-size: 16px;
        line-height: 25px;
    }

    &.primary, &--primary {
        @extend .tag;
        color: $blue5;
        background-color: $white;
        border: 1px solid $blue5;
        &:hover, &:focus {
            color: $blue5;
            background-color: $white;
            border: 1px solid $blue5;
            cursor: pointer;
        }
    }

    &--light {
        @extend .tag;
        color: $gray2;
        background-color: $gray5;
        border: 1px solid $gray3;
        &:hover, &:focus {
            color: $white;
            background-color: darken($gray5, 20%);
            border: 1px solid $gray4;
            cursor: pointer;
        }
    }

    &--success, &.green {
        @extend .tag;
        color: $dark-green !important;
        background-color: lighten($light-green, 15%);
        border: 1px solid $green;
        &:hover, &:focus {
            color: $white !important;
            background-color: darken($light-green, 10%);
            border: 1px solid $dark-green;
            cursor: pointer;
        }
    }

    &.free, &.red {
        color: $red !important;
        background-color: transparent !important;
        border: 2px solid $red;

        &:hover {
            color: $blue5;
            background-color: transparent !important;
            border: 2px solid $red;
        }
    }

    &.owned {
        width: 64px;
        color: $green;
        border: 2px solid $green;
    }

    &.shared {
        width: 80px;
        color: $orange;
        border: 2px solid $orange;
    }

    &.private {
        padding: 6px 8px;
        color: $blue;
        border: 2px solid $blue;
        height: unset;
    }
}

.status-tag {
    text-align: center;
    font-weight: 500;
    background-color: transparent;
    border-radius: 1000px;
    font-size: $font-size2;
    padding: 2px 6px;
    color: $white;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;

    &.blue5, &.issued {
        color: $white !important;
        background-color: $blue5 !important;
    }

    &.yellow, &.submitted, &.scheduled {
        color: darken($yellow, 20%) !important;
        background-color: $yellow !important;
    }
    &.green, &.marked, &.returned, &.active, &.paid {
        color: darken($light-green, 40%) !important;
        background-color: $light-green !important;
    }

    &.red, &.overdue {
        color: darken($light-red, 40%) !important;
        background-color: $light-red !important;

        &--inverse {
            color: $red !important;
            background-color: transparent !important;
            border: 1px solid $red;
        }
    }

    &.light, &.gray, &.gray4, &.unsubmitted {
        color: $gray2 !important;
        background-color: $gray5 !important;
    }

    &.sm {
        padding: 2px 4px !important;
        font-size: $font-size1;
    }

    &.lg {
        padding: 4px 8px;
    }
}

.user-role-icon {
    font-size: 20px;
    color: $blue6;
    padding: 0;
    line-height: 1px;
}

.key-value-pair {
    display: flex;
    font-size: $font-size3;
    padding: 2px 0;
    .key {
        min-width: 33%;
        margin-right: 8px;
    }

    .value {
        color: $gray2;
        line-height: 24px;
        width: 100%;
    }
}

.homework-metric-block {
    text-align: center;
    .metric {
        padding: 8px;
    }

    .key {
        font-size: $font-size3;
        font-weight: 700;
    }

    .value {
    }
}


.progress-bar {

}

.hiddenFormSection {
    display: none;
}
.overflow-x-auto {
    overflow-x: auto;
}

.flag {
    display: inline-block;
    background: $blue4;
    padding: 10px 40px;
    text-transform: uppercase;
    color: white;
    position: relative;
    span {
        color: black;
    }

    .triangle-left {
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-left: 25px solid $white;
        border-bottom: 25px solid transparent;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.user-info {
    color: $black;
    margin-bottom: 8px;
    .avatar {
        margin-right: 8px;
        min-width: 40px;
        max-width: 60px;
    }
    .text {
        line-height: 20px;
    }

    .user-info {
        font-size: $font-size + 1px;
        color: $black;
        margin: 0;
    }

    .username {
        font-weight: 700;
        font-size: $font-size + 1px;
        color: $black;
        margin: 0;
        &:hover {
            color: $black;
            text-decoration: underline;
        }
    }
    .time {
        font-size: $font-size - 2px;
        color: $gray2;
    }

    &.active {
        color: $blue4;
        border-bottom: 3px solid $blue4;
        font-weight: 700;
        font-size: $font-size;

        &:hover {
            text-decoration: underline;
        }
    }

    &:hover {
        color: $black;
    }
}

.collapseButtonParent {
    &:hover {
        cursor: pointer;
    }
}

ol.checklist, ul.checklist {
    margin: 0;
    padding: 0;

    li {
        line-height: 18px;
        position: relative;
        list-style-type: none;
        padding-left: 24px;
        margin-bottom: 12px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: -2px;
            width: 6px;
            height: 12px;
            border-width: 0 2px 2px 0;
            border-style: solid;
            border-color: $green;
            transform-origin: bottom left;
            transform: rotate(45deg);
        }
    }
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $gray5;

    &.active {
        background-color: $green;
    }
}

.blue-underline {
    color: $black;
    text-decoration: underline;
    text-decoration-color: $blue4;

    &:hover, &:focus {
        color: $blue4;
        text-decoration: none;
    }
}

.styled-checkbox {
    display: none !important;

    + label {
        display: block;
        cursor: pointer;
        padding: 4px 0;
        color: $black;
        font-weight: 400;

        &::before {
            content: "\2714";
            border: 1px solid $light-grey;
            border-radius: $border-radius / 2;
            display: inline-block;
            width: 20px;
            height: 20px;
            padding-left: 3px;
            margin-right: 7px;
            vertical-align: baseline;
            color: transparent;
            transition: 0.2s;
            font-size: 14px;
            line-height: 20px;
        }

        &:active {
            &::before {
                transform: scale(0);
            }
        }
    }

    &:checked {
        + label {
            &::before {
                background-color: $blue5;
                border-color: $blue5;
                color: $white;
            }
        }
    }

    &:disabled {
        + label {
            color: $gray2;
            &::before {
                transform: scale(1);
                border-color: $light-grey;
                background-color: $gray6;
            }
        }
    }

    &:checked:disabled {
        + label {
            &:before {
                transform: scale(1);
                background-color: $blue3;
                border-color: $blue3;
            }
        }
    }

    &--green {
        @extend .styled-checkbox;

        &:checked {
            + label {
                &::before {
                    background-color: $green;
                    border-color: $green;
                    color: $white;
                }
            }
        }

        &:checked:disabled {
            + label {
                &:before {
                    background-color: $light-green;
                    border-color: $light-green;
                }
            }
        }
    }

    &--blue {
        @extend .styled-checkbox;

        &:checked {
            + label {
                &::before {
                    background-color: $blue6;
                    border-color: $blue6;
                    color: $white;
                }
            }
        }

        &:checked:disabled {
            + label {
                &:before {
                    background-color: $blue4;
                    border-color: $blue6;
                }
            }
        }
    }
}

.smart-bar-container {
    width: 100%;
    background-color: $blue1;
    color: $black;
    position: sticky;
    top: 60px;
    left: 0;
    z-index: 999;
    font-size: $font-size4;
    box-shadow: $header-box-shadow;
    border-bottom: 1px solid $blue2;
}

.smart-bar {
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $lg) {
        padding: 6px 0;
        text-align: center;
    }

    .dismiss-button {
        width: 38px;
        min-width: 38px;
        max-width: 38px;
    }

    .time {
        font-size: inherit;
        color: inherit;
    }
}


.avatar {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    object-fit: cover;
    margin-right: 2px;
    border-radius: 100% !important;
}

.avatar-lg {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    margin: 0;
    border-radius: 100% !important;
}

.file-block {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
    border: 1px solid $gray4;
    border-radius: 4px;
    margin-bottom: 6px;
    background-color: $white;

    &:hover {
        cursor: pointer;
        .file-title {
            color: $blue4;
        }
    }

    &.selected {
        border: 2px solid $blue4;
        background-color: $gray6;
    }

    .file-preview {
        display: inline-block;
        min-width: 85px;
        height: 100%;
        margin-right: 8px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue1;
        border-right: 1px solid $gray5;

        .iconify {
            font-size: 38px;
            color: $blue6;
        }
    }

    .file-content {
        flex: 1;
        width: 0;
    }

    .file-title {
        font-size: $font-size3;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .file-type {
        font-size: $font-size1;
        color: $gray2;
    }

    .file-cross-button {
        width: 30px;
        min-width: 30px;
        max-width: 30px;
        text-align: center;
        z-index: 100;
    }
}

.custom_pdf_viewer_preview {
    filter: blur(3px);
    + .custom-pdf-preview-prompt-block {
        padding: 18px 24px;
        width: 100%;
        position: relative;
        bottom: 25px;
    }
}

.star-rating-bar {
    .star {
        color: $gray4;
        font-size: 40px;
        &.hover, &:hover {
            cursor: pointer;
            color: $yellow;
        }

        &.active {
            color: $yellow;

            &:hover {
                color: $dark-yellow;
            }
        }
    }
}

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: 48px;
    font-family: Times; // make sure ★ appears correctly
    line-height: 1;

    &.xs {
        font-size: 18px;
    }

    &.sm {
        font-size: 24px;
    }

    &::before {
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(90deg, $yellow var(--percent), $gray4 var(--percent));
      -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
   }
}
