.w-lg-100 {
    @media screen and (min-width: $lg) {
        width: 100%;
    }
}
// Background colors
.bg-success, .bg-green {
    background-color: $green;
}
.bg-warning, .bg-orange {
    background-color: $orange;
}

.bg-blue5 {
    background-color: $blue5 !important;
}

.bg-info, .bg-blue6 {
    background-color: $blue6 !important;
}

.bg-danger, .bg-red {
    background-color: $red !important;
}

.bg-gray5 {
    background-color: $gray5 !important;
}

.bg-body {
    background-color: $body-bg !important;
}

.bg-gray6 {
    background-color: $gray6 !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-dark-red {
    background-color: $dark-red !important;
}

.bg-blue1 {
    background-color: $blue1 !important;
}
.bg-blue4 {
    background-color: $blue4 !important;
}
.bg-blue6 {
    background-color: $blue6 !important;
}
// Background colors

// Box-shadow
.box-shadow1 {
    box-shadow: $box-shadow1;
}

// Font Colors
.gray1 {
    color: $gray1 !important;
}
.gray2 {
    color: $gray2 !important;
}

.gray3 {
    color: $gray3 !important;
}

.gray4 {
    color: $gray4 !important;
}

.uppercase {
    text-transform: uppercase;
}

.border-bottom-gray2 {
    border-bottom: 1px solid $gray2;
}

.white {
    color: $white;
}

.red {
    color: $red !important;
}

.dark-red {
    color: $dark-red !important;
}

.yellow {
    color: $yellow !important;
}

.dark-yellow {
    color: $dark-yellow !important;
}

.orange {
    color: $orange !important;
}

.blue4 {
    color: $blue4 !important;
}

.blue5 {
    color: $blue5;
}

.blue6 {
    color: $blue6;
}

.dark-red {
    color: $dark-red;
}

.error {
    color: $red;
}

.green {
    color: $green !important;
}

.orange {
    color: $orange !important;
}

.color-inherit {
    color: inherit;
}
// Font Colors

// Font sizes
.font-size-inherit {
    font-size: inherit;
}

.font-size1 {
    font-size: $font-size1 !important;
}

.font-size2 {
    font-size: $font-size2;
}

.font-size3 {
    font-size: $font-size3;
}

.font-size4 {
    font-size: $font-size4;
}

.font-size5 {
    font-size: $font-size5;
}

.font-size6 {
    font-size: $font-size6;
}
.font-size7 {
    font-size: $font-size7;
}
.font-size8 {
    font-size: $font-size8;
}
.font-size9 {
    font-size: $font-size9;
}
.font-size10 {
    font-size: $font-size10;
}
.font-size11 {
    font-size: $font-size11;
}
.font-size12 {
    font-size: $font-size12;
}
.font-size-64px {
    font-size: 64px;
}
// Font sizes

.font-weight400 {
    font-weight: 400;
}

.font-weight500 {
    font-weight: 500;
}

.font-weight700 {
    font-weight: 700;
}

// Widths
.minw-100px {
    min-width: 100px;
}
.mw-100px {
    max-width: 100px;
}
.minw-50px {
    min-width: 50px;
}
.minw-150px {
    min-width: 150px;
}

.minw-250px {
    min-width: 250px;
}

.w-150px {
    width: 150px;
}

.w-250px {
    width: 250px;
}

.minw-62px {
    min-width: 62px;
}

.maxw-50px {
    max-width: 50px;
}

.maxw-70px {
    max-width: 70px;
}

.maxw-100px {
    max-width: 100px;
}

.maxw-150px {
    max-width: 150px;
}

.maxw-250px {
    max-width: 250px;
}

.maxw-460px {
    max-width: 460px;
}

.maxw-600px {
    max-width: 600px;
}

.maxw-740px {
    max-width: 740px;
}

.maxw-960px {
    max-width: 960px;
}

.mw-50 {
    max-width: $max-width * 0.5;
}

.mw-70 {
    max-width: $max-width * 0.7;
}

.mw-80 {
    max-width: $max-width * 0.8;
}

.mw-100 {
    max-width: $max-width;
}

.max-100pct {
    max-width: 100% !important;
}

.mw-30px {
    min-width: 30px;
}

.mw-150px {
    min-width: 150px;
}

.mw-300px {
    min-width: 300px;
}

// Height
.h-225px {
    height: 225px;
}

.h-250px {
    height: 250px;
}

// Widths
.flex-1 {
    flex: 1;
}

.all-caps {
    text-transform: uppercase;
}

.font-sm {
    font-size: $font-size2;
}
.recommended {
    color: $yellow;
}

.checked {
    color: $green;
}

// Animation
.grow {
    animation-duration: .5s;
    &:hover {
        transform: scale(1.02);
    }
}

// Social icons
.linkedin {
    .iconify {
        &:hover {
            color: #0e76a8;
        }
    }
}

.youtube {
    .iconify {
        &:hover {
            color: #ff0000;
        }
    }
}
.facebook {
    .iconify {
        &:hover {
            color: #3b5998;
        }
    }
}
.instagram {
    .iconify {
        &:hover {
            color: #dd2a7b;
        }
    }
}

.w100-header {
    background-color: $white;
    padding: $headerPadding;
}

.color-inherit {
    color: inherit;
}

.underline-on-hover {
    &:hover {
        text-decoration: underline;
    }
}

.scale-on-hover {
    &:hover {
        transform: scale(1.02);
    }
}
.fast {
    transition-duration: .2s;
}

.text-uppercase {
    text-transform: uppercase;
}

.white-hoverable {
    background-color: $white;
    &:hover {
        cursor: pointer;
        background-color: $gray6;
    }
}

.px-12px {
    padding-left: 12px;
    padding-right: 12px;
}

.border-gray3 {
    border-color: $gray3 !important;
}

.border-gray4 {
    border-color: $gray4 !important;
}

.border-gray5 {
    border-color: $gray5 !important;
}

.border-gray6 {
    border-color: $gray6 !important;
}

.border-red {
    border-color: $red !important;
}

.border-blue5 {
    border-color: $blue5 !important;
}

.border-width-3px {
    border-width: 3px !important;
}

.border-left-white-3px {
    border-left: 3px solid $white !important;
}
.border-left-green-3px {
    border-left: 3px solid $green !important;
}
.border-left-yellow-3px {
    border-left: 3px solid $yellow !important;
}
.border-left-gray5-3px {
    border-left: 3px solid $gray5 !important;
}
.border-left-blue5-3px {
    border-left: 3px solid $blue5 !important;
}
.border-left-blue6-3px {
    border-left: 3px solid $blue6 !important;
}

.h-500px {
    height: 500px;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

.bg-center {
    background-position: center;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-cover {
    background-size: cover;
}

.bg-gray2 {
    background-color: $gray2;
}

// Others
.filter--blur-1px {
    filter: blur(1px);
}
