@mixin flag( $height ) {
    display: inline-block;
    background: $blue4;
    height: $height;
    text-transform: uppercase;
    color: white;
    position: relative;
    font-size: $font-size3;
    span {
        color: black;
    }

    .triangle-left {
        width: 0;
        height: 0;
        border-top: ($height / 2) solid transparent;
        border-left: ($height / 2) solid $white;
        border-bottom: ($height / 2) solid transparent;
        position: absolute;
        left: 0;
        top: 0;
    }
}

@mixin fa5-icon($font-weight, $unicode) {
    .icon::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: $font-weight;
        content: unquote("\"\\#{$unicode}\"");
    }
}
