/*
|         |
| Overlay |
|         |
*/
.overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background-color: $overlay;
}

.header, .header2 {
    color: $black;
    z-index: 1025;
}

/*
 * ----------------------
 * NOTIFICATION DROPDDOWN
 * ----------------------
 */
.notification-dropdown-menu {
    width: 335px;
    top: 47px;
    left: unset;
    right: -150px;
    padding: 0;

    @media (min-width: $lg) {
        right: -60px;
    }

    &:hover {
        cursor: default;
    }
    .dropdown-header {
        border-bottom: 1px solid $gray5;
        padding: 12px;
        z-index: 10;
        background-color: $gray6;
        font-weight: 700;
        color: $black;
        font-size: $font-size5;
    }
}

.notification-badge{
    position: absolute;
    border-radius: 100%;
    top: 0px;
    left: 48%;
    &:hover {
        cursor: pointer;
    }
}

.notification-dropdown-list {
    padding: 0;
    overflow: auto;
    max-height: 60vh;
}

.notification-list-item {
    padding: 8px 12px;
    position: relative;
    border-bottom: 1px solid $gray5;
    &:hover {
        background-color: $gray6;
    }
    &.unread {
        background-color: $blue1;
        &:hover {
            background-color: $gray6;
        }
    }
    p, span {
        font-size: $font-size2;
    }
    p {
        margin-bottom: 4px;
    }
}

.mobile-nav-link {
    font-size: inherit;
}

.mobile-nav-dropdown-menu-item {
    font-size: $font-size - 1px;

    &:hover {
        background-color: $light-grey;
        cursor: pointer;
    }
}

.mobile-nav-dropdown-menu-link {
    color: inherit;
    font-size: inherit;
    display: inline-block;
    padding: 3px 0;
    &:hover {
        color: inherit;
    }
}

.hamburger-button {
    padding: 8px;
    display: block;

    @media (min-width: $lg) {
        display: none;
    }
}

.header{
    width: 100%;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 1000;
    padding: 0 10px;
    background-color: $white;
    box-shadow: $header-box-shadow;
}

.header-icon {
    font-size: 18px;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding-bottom: 4px;
    &:hover, &:focus {
        background-color: $gray6;
    }

    &:focus {
        color: $blue5;
    }
}

a.header-brand {
    display: inline-block;
    height: 60px;
    padding: 12px 0;
}

.search-input-header {
    padding: 6px 12px;
    padding-left: 32px;
    color: $black;
    background-color: transparent;
    border: 1px solid $light-grey;
    border-radius: 0;

    &:hover, &:focus {
        color: $black;
        background-color: transparent;
        border: 1px solid $light-grey;
    }
}

.header__sidenav {
    background-color: transparent;
    box-shadow: none;
}

/* total width */
.header__sidenav::-webkit-scrollbar {
    background-color:$lighter-grey;
    width: 8px;
}

/* background of the scrollbar except button or resizer */
.header__sidenav::-webkit-scrollbar-track {
    background-color:$lighter-grey;
}
.header__sidenav::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4;
}

/* scrollbar itself */
.header__sidenav::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:1px solid $lighter-grey;
}
.header__sidenav::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:1px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {display:none}

.header__sidenav {
    .heading {
        font-weight: 700;
        color: $black;
        font-size: $font-size4;
    }
}

.nav-icon{
    display: inline-block;
    width: 40px;
    font-size: 22px;
    text-align: center;
    line-height: unset;
    padding-top: 0;
    padding-bottom: 2px;
}

.nav-icon img {
    width: 25px;
    height: 25px;
}

.nav-pills {

    .nav-link{
        font-weight: inherit;
        color: inherit;
        padding: 0;

        &.active {
            background-color: $blue5;
        }
    }

    &:hover {
        color: inherit;
    }
}

.mobile-nav-dropdown-arrow{
    position: absolute;
    right: 0;
    width: 50px;
    height: 40px;
    text-align: center;
    padding-top: 9px;
    z-index: 10;

    &:hover {
        cursor: pointer;
    }
}

.mobile-nav-dropdown-menu {
    display: none;
    list-style: none;
    width: 80%;
    margin-top: 1px;
    margin-left: 48px;
}

.mobile-nav-dropdown-menu-item {
    padding: 2px 8px;
    cursor: pointer;
    border-left: 5px solid transparent;
    position: relative;
    &:hover {
        background-color: $lighter-grey;
        cursor: pointer;
    }

    &.active {
        background-color: transparent;
        border-left: 5px solid $blue5;
        font-weight: 700;
        &:hover {
            background-color: $lighter-grey;
        }
    }

    .mobile-nav-dropdown-arrow {
        padding: 0;
        padding-top: 2px;
    }
}

ul.mobile-nav-dropdown-menu__level-2 {
    display: none;
    margin-left: 30px;
    list-style: none;
    li {

    }
}

.mobile-nav-dropdown-menu-link {
    color: $black;

    &:hover {
        color: $black;
        text-decoration: none;
    }
}

.nav-footer {
    padding-left: 8px;
    font-size: 14px;
}

.nav-footer a{
    margin-right: 4px;
    font-size: 14px;
}

.mobile-nav-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    z-index: 1000;
    color: $black;
    background-color: $white;
    overflow: auto;

    h2 {
        padding: 8px 12px;
        font-weight: 700;
    }
}

.mobile-nav-brand{
    padding: 0 15px;
    height: 66px;
    display: inline-block;

    &.mobile-base-nav-brand {
        padding: 18px 0;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}


.mobile-nav-menu{
    list-style: none;
    font-size: $font-size;
}

.mobile-nav-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: $font-size;
    border-left: 5px solid transparent;
    margin-left: 4px;
    transition-duration: .05s;

    &:hover {
        background-color: $gray6;
    }
    &.active {
        border-left: 5px solid $blue5;
        font-weight: 700;
        color: $blue5;
    }
}

.mobile-nav-icon{
    display: inline-block;
    width: 40px;
    height: auto;
    font-size: 22px;
    text-align: center;
    padding-bottom: 2px;
}

.mobile-nav-link{
    font-size: inherit;
    color: inherit;
    &:hover {
        color: inherit;
    }
}

.mobile-nav-container h3{
    font-weight: 700;
    color: $black;
    font-size: $font-size4;
}

.mobile-nav-dropdown-menu-item{
    padding: 2px 8px;
    border-left: 5px solid transparent;
    font-size: $font-size - 1px;

    &:hover {
        background-color: $gray6;
    }

    &.active {
        font-weight: 700;
        border-left: 5px solid $blue5;
    }
}

.mobile-nav-dropdown-menu-link{
    display: inline-block;
    padding: 3px 0;
    color: inherit;
    font-size: inherit;
    &:hover {
        color: inherit;
    }
}

.header__coins-points-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: 100%;
    padding-left: 8px;
    color: $black;
}

.header__coins-points-button {
    padding: 0;
    color: inherit;
    display: inline-flex;
    align-items: center;

    .inline-image {
        margin: 0;
        padding: 2px;
    }

    .value {
        text-align: center;
        display: inline-block;
        width: 50px;
    }
}

/*
|         |
| Header2 |
|         |
*/

.header2 {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    color: $black;
    background-color: $white;
    border-bottom: 1px solid $light-grey;
    padding: 0 10px;
}

.header2__section {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
    h3 {
        padding: 0 8px;
    }
}

.header2__left {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: start;

}

.header2__logo {
    width: 140px;
    height: auto;
    padding: 8px 0;
    margin: 0;
    margin-left: 4px;
}

.header2__hamburger-button {
    background-color: transparent;
    padding: 8px;
    color: inherit;
    font-size: 18px;
    line-height: 18px;
}

.header2__right {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}

.header2__mobile-search-icon, .bell-icon {
    // width: 35px;
    // height: 35px;
    // border-radius: 20px;
    // text-align: center;
    // padding: 6px;
    margin-right: 4px;
    font-size: 18px;
}

.header2__mobile-search-form {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;

    &.show {
        display: block;
    }
}

.header2__search-icon {
    margin-right: 4px;
    background-color: transparent;
    color: white;
}

.header2__search-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 400px;
    display: inline-block;
    height: 40px;

    .iconify {
        position: absolute;
        top: 12px;
        left: 10px;
        font-size: 18px;
    }

    input {
        padding: 6px 12px;
        padding-left: 36px;
        color: $black;
        border: 1px solid $light-grey;
        border-radius: $border-radius;

        &:hover {
            border: 1px solid $blue3;
            // box-shadow: $box-shadow-blue;
        }

        &:focus {
            border: 2px solid $blue3;
        }

        &::placeholder {
            opacity: 0.7;
        }
    }
}



.base-header {
    justify-content: space-between;
}

.base-header__left {

    .base-header__brand {
        display: inline-block;
        height: 60px;
        padding: 13px 0;

        @media (min-width: $lg) {
            margin-right: 12px;
        }
    }
}

.base-header__login-links-container {

}

.base-header__dropdown-menu {
    left: unset;
    right: 0;
}

.mobile-base-nav-item {
    margin: 0;
    font-size: $font-size + 2px;
    padding: 8px 15px;
    height: unset;

    &:first-child {
        margin-top: 8px;
    }

    .iconify {
        font-size: 22px;
        margin-right: 12px;
    }
}

.mobile-base-nav-icon {
    font-size: 24px;
}

.base-header {
    a {
        // padding: 10px 12px;
        &:hover {
            color: $black;
            text-decoration: none;
        }
    }

    .button--primary {
        color: $white;

        &:hover {
            color: $white;
        }
    }
}

.base-header__login-links-container {
    padding: 0 6px;
    text-align: center;
    a {
        display: block;
        width: 100%;
        padding: 12px;
    }
}

.base-header__left {
    display: flex;
}

.base-header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;

    .base-header__menu-item {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        border-bottom: 3px solid transparent;
        padding: 20px 12px 16px;
        color: $black;

        a {
            color: inherit;
            &.active {
                color: $blue6;
                &:hover {
                    font-weight: $blue5;
                }
            }
        }

        i {
            color: $gray2;
            font-size: 12px;
        }

        &:hover {
            cursor: pointer;
            color: $blue5;
            > ul.dropdown-menu {
                display: block;
            }
        }

        ul.dropdown-menu {
            display: none;
            list-style: none;
            position: absolute;
            top: 90%;
            left: 3px;
            padding: 8px;

            li {
                color: $black;
                background-color: transparent;
                padding: 8px 12px;
                position: relative;
                border-left: 3px solid transparent;

                &.active {
                    border-left: 3px solid $blue5;
                    font-weight: 700;
                    color: $blue5;
                }

                a {
                    color: inherit;
                    &:hover {
                        text-decoration: none;
                    }
                }

                &:hover {
                    background-color: $gray6;
                }
            }
        }

        &.active {
            border-bottom: 3px solid $blue5;
            .base-header__menu-link {
                font-weight: 700;
                color: $blue5;
            }
        }
    }
}

.dropdown-menu .dropdown-toggle:after{
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
}

.dropdown-menu .dropdown-menu{
    margin-left:0;
    margin-right: 0;
}

.dropdown-menu li{
    position: relative;
}

.dropdown-menu > li:hover > .submenu__level-2 {
    display: block;
    top: 5px;
    left: 50%;
    position: absolute;
}

