// Selectize
.selectize-input {
    padding: 8px 12px;
    input {
        height: 26px;
    }
}

.selectize-control.multi .selectize-input>div {
    border-radius: 4px;
    padding: 6px;
}

.selectize-dropdown-content>div.create {
    padding: 8px;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    line-height: 26px;
}
