@import 'style';
@import 'variables';
@import 'base';

// Plugins
@import 'selectize';

@import 'helpers';
@import 'navs';
@import 'components';
@import 'animations';
@import 'board_pass';

@import 'mixins';

.error-page-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    @media (min-width: $lg) {
        padding: 40px 80px;
    }

    .main-img {
        width: 300px;
        height: 300px;
    }

    .description {
        font-size: $font-size5;
        font-weight: 500;
        margin-bottom: 16px;
    }
}
