$item-left-width: 25%;
.board-pass {
    max-width: 1350px;
    margin: 0 auto;
    box-shadow: $box-shadow1;
    border-radius: 4px;

    .item {
        background: $white;
        overflow: hidden;
        border-radius: inherit;
        display: flex;
        flex-wrap: wrap;
    }
    .item-left {
        padding: 79px 30px;
        position: relative;
        width: 100%;

        @media screen and (min-width: $md) {
            width: $item-left-width;
        }

        .up-border, .down-border {
            padding: 14px 15px;
            background-color: $body-bg;
            border-radius: 50%;
            position: absolute;
        }

        .up-border {
            left: -15px;
            bottom: -15px;
            @media screen and (min-width: $md) {
                left: unset;
                bottom: unset;
                top: -14px;
                right: -15px;
            }
        }

        .down-border {
            right: -15px;
            bottom: -15px;
            @media screen and (min-width: $md) {
                right: unset;
                bottom: unset;
                bottom: -13px;
                right: -15px;
            }
        }

    }

    .item-right {
        width: 100%;
        padding: 16px 24px;
        border-top: 3px dotted $gray4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $blue1;

        @media screen and (min-width: $md) {
            border: 0;
            border-left: 3px dotted $gray4;
            width: 100% - $item-left-width;
            padding: 24px 24px 24px 36px;
        }
    }

    .cta-button {
        text-transform: uppercase;

        &.upgrade {background-color: $blue6;}
        &.renew {background-color: $green;}
        &.purchase {background-color: $red;}
    }
}
