* {
    font-family: 'Poppins', 'Open Sans', 'sans serif';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
}

h1, .h1 {
    font-size: 30px;
}

h2, .h2 {
    font-size: 22px;
}

h3, .h3 {
    font-size: 16px;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-size: 14px;
}

a, p, span, button, label, input{
    font-size: 14px;
}

button, .button-link, input, img {
    border-radius: 4px;
}

p{
    margin-bottom: 8px;
}

a{
    color: #1da0dd;
}

a:hover{
    color: #198dc2;
    text-decoration: none;
}

ol, ul{
    list-style-position: inside;
}

ul{
    list-style-type: disc;
}

button {
    border: 0;
    padding: 6px 12px;
}

button:hover, button:focus {
    border: 0;
    outline: 0;
}

.green {
    color: #2ac787;
}

.red {
    color: #ff0000;
}

.btn:hover, .btn:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}

button.green, .button-link.green {
    color: #fff;
    background-color: #26b67c;
}

button.green:hover, .button-link.green:hover {
    color: #fff;
    background-color: #2ac787;
}

button.blue, .button-link.blue {
    color: #fff;
    background-color: #198dc2;
}

button.blue:hover, .button-link.blue:hover {
    color: #fff;
    background-color: #1da0dd;
}

.button-link{
    display: inline-block;
    text-align: center;
    padding: 6px 12px;
}

.button-link:hover {
    cursor: pointer;
    text-decoration: none;
}

.transparent {
    background-color: transparent;
}

label {
    margin-bottom: 4px;
    letter-spacing: 0.3px;
    font-weight: 700;
    color: #545454;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

input {
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    border: 1px solid #ced4da;
}

input:hover {
    border: 1px solid #1da0dd;
}

input:focus {
    border: 1px solid #1da0dd;
    outline: 0;
}

input[type=checkbox] {
    display: inline-block;
    width: unset;
    height: unset;
    margin-right: 3px;
}

input[type=checkbox] + label {
    display: inline-block;
    margin: 0;
}

input[type=radio] {
    width: unset;
    height: unset;
}

input[type=radio] + label {
    font-weight: 400;
}

textarea{
    resize: vertical;
    width: 100%;
    height: 100px;
    padding: 6px 12px;
    border-radius: 4px;
    border-color: #ced4da;
}

textarea:hover{
    border: 1px solid #1da0dd;
    outline: 0;
}

textarea:focus{
    border : 1px solid #1da0dd;
    outline: 0;
}

.coin-button {
    display: flex;
    align-items: center;
}

.inline-image-sm {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

.inline-image {
    width: 25px;
    height: 25px;
    margin-right: 4px;
}

.icon {
    font-size: 24px;
}

.icon.lg {
    font-size: 32px;
}

.wrapper, .ask-wrapper {
    width: 100%;
    padding: 24px 20px;
    border-radius: 4px;
}

.wrapper{
    min-width: 300px;
    max-width: 460px;
}

.ask-wrapper{
    min-width: 300px;
    max-width: 740px;
}

.ask-wrapper button[type=submit] {
    display: block;
    margin: 0 auto;
}

.wrapper .alert {
    text-align: left;
}

.pagination{
    justify-content: center;
    margin-top: 12px;
}

.page-item.active .page-link{
    color: #fff;
    background-color: #6c53a7;
    border-color: #6c53a7;
}

a.page-link{
    color: #000;
}

.page-link:hover{
    color: #000;
    background-color: #eee;
}

.page-link:focus{
    outline: 0;
}

.form-field{
    position: relative;
    font-size: 15px;
    margin-bottom: 24px;
}

.error-message{
    color: red;
}

.tag{
    display: inline-block;
    max-width: 100%;
    font-size: 13px;
    padding: 4px 6px;
    color: #333;
    background-color: #e3e8ec;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tag:hover {
    color: #fff;
    background-color: #47a892;
    cursor: pointer;
}

a.username{
    color: #000;
}

a.username img.avatar {
    flex-basis: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 40px;
}

.slim-select[name=sort]{
    min-height: 42px;
    padding: 6px 12px;
    margin-left:10px;
}

.slim-select[name=sort] + .ss-main{
    display: inline-block;
    width: 125px;
    margin-left: 3px;
    z-index: 50;
}

.slim-select[name=sort] + .ss-main .ss-content .ss-search{
    display: none;
}

.heading-panel h2{
    letter-spacing: 0.7px;
}

.toast-top-center{
    top: 75px;
}

#toast-container>.toast-success{
    background-color: #20CC82;
}

#toast-container>.toast-error{
    background-color: red;
}

.swal2-checkbox input, .swal2-radio input {
    width: 35px;
    height: 35px;
    margin: 0 auto !important;
}

/*===========================================
|                   HEADER                  |
============================================= */

.header{
    width: 100%;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 1000;
    padding: 0 10px;
    background-color: #fff;
}

a.header-brand {
    display: inline-block;
    /* height: 60px; */
    padding: 0;
}

a.header-brand:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
}

.hamburger-button{
    font-size: 20px;
    color: inherit;
    background-color: transparent;
}

.header-right-menu{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}

.login-link{
    border-radius: 4px;
}

.mobile-search-overlay{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}


.logout-dropdown-menu{
    min-width: unset;
    width: 150px;
    top: 48px;
}

.logout-dropdown-menu a, .logout-dropdown-menu button {
    padding: 4px 10px;
}

.logout-dropdown-menu a:focus, .logout-dropdown-menu button:focus {
    background-color: #ddd;
    color: #000;
}

.mfp-close:hover{
    background-color: transparent;
}

.mfp-img{
    width: 100% !important;
    max-width: 800px !important;
}

/* ===============================================
|                  MOBILE NAV                    |
================================================== */

.mobile-body-overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background-color: rgba(0, 0, 0, 0.5);
}

.mobile-nav-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    z-index: 1000;
    color: #fff;
    background-color: #6c53a7;
    overflow: auto;
}

.mobile-nav-container h2{
    padding: 8px 12px;
    font-weight: 600;
    font-size: 24px;
}

.mobile-nav-brand{
    display: block;
    padding: 0 15px;
}

.mobile-nav-menu{
    list-style: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.mobile-nav-container h3{
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    padding-left: 8px;
}

.mobile-nav-dropdown-menu-item{
    padding: 2px 8px;
    border-left: 5px solid transparent;
}

.mobile-nav-dropdown-menu-item:hover{
    background-color: #60469e;
}

.mobile-nav-dropdown-menu-item.active{
    background-color: #60469e;
    border-left: 5px solid #f9f9f9;
}

.mobile-nav-dropdown-menu-link{
    color: inherit;
}

.mobile-nav-dropdown-menu-link:hover{
    color: inherit;
    text-decoration: none;
}

/* =========================================
|                NAV SIDEBAR               |
============================================ */

.nav-container{
    width: 270px;
    height: calc( 100vh - 60px );
    position: fixed;
    top: 0;
    left: 0;
    color: #000;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    overflow: auto;
}

/* total width */
.nav-container::-webkit-scrollbar {
    background-color:#fff;
    width:4px;
}

/* background of the scrollbar except button or resizer */
.nav-container::-webkit-scrollbar-track {
    background-color:#fff;
}
.nav-container::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4;
}

/* scrollbar itself */
.nav-container::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:1px solid #fff;
}
.nav-container::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:1px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {display:none}

.nav-container h3{
    font-weight: 600;
    opacity: 0.7;
    font-size: 18px;
    padding-left: 8px;
}

.nav-menu{
    list-style: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.nav-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    padding-top: 1px;
}

.nav-icon img {
    width: 25px;
    height: 25px;
}

.nav-link{
    font-weight: 500;
    color: inherit;
    padding: 0;
}

.nav-link:hover{
    color: inherit;
}

.nav-dropdown-arrow{
    position: absolute;
    right: 0;
    width: 50px;
    height: 40px;
    text-align: center;
    padding-top: 9px;
    z-index: 10;
}

.nav-dropdown-arrow:hover{
    cursor: pointer;
}

.nav-dropdown-menu{
    display: none;
    list-style: none;
    width: 80%;
    margin-left: 20%;
    margin-top: 1px;
}

.nav-dropdown-menu-item{
    padding: 2px 8px;
    cursor: pointer;
    border-left: 5px solid transparent;
}

.nav-dropdown-menu-item:hover{
    background-color: #f9f9f9;
    cursor: pointer;
}

.nav-dropdown-menu-item.active{
    background-color: #f9f9f9;
    border-left: 5px solid #60469e;
    cursor: pointer;
}

.nav-dropdown-menu-link{
    color: inherit;
}

.nav-dropdown-menu-link:hover{
    color: inherit;
    text-decoration: none;
}

.nav-footer {
    padding-left: 8px;
    font-size: 14px;
}

.nav-footer a{
    margin-right: 4px;
    font-size: 14px;
}

.mobile-nav-footer a{
    color: white;
}

.mobile-nav-footer a:hover{
    color: white;
}

.nav-footer a:hover {
    text-decoration: underline;
}

/*=========================================
|                SEARCH BAR               |
=========================================== */

.mobile-search-form{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
}

.mobile-search-input-header{
    display: block;
    width: 100%;
    font-size: inherit;
    padding: 10px 12px;
    margin: 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    position: relative;
}

.mobile-search-input-header:hover{
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.mobile-search-input-header:focus{
    outline: 0;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.search-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 500px;
    display: inline-block;
}

.search-form i{
    position: absolute;
    top: 8px;
    left: 6px;
    font-size: 20px;
}

.search-input-header{
    padding: 6px 12px;
    padding-left: 32px;
    color: #000;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
}

.search-input-header::placeholder{
    color: #000;
    opacity: 0.6;

}
.search-input-header:hover{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #000;
    background-color: transparent;
    box-shadow: none;
}

.search-input-header:focus{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #000;
    background-color: transparent;
    box-shadow: none;
}

/*========================================
|            QUESTION BLOCK              |
========================================= */

.question-block-list{
    width: 100%;
    margin: 0;
}

.question-block:first-child{
    border-top: 1px solid #ced4da;
}

.question-block{
    width: 100%;
    min-width: 320px;
    display: flex;
    border-bottom: 1px solid #ced4da;
    padding: 6px 8px;
}

.question-block-stats{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80px;
    text-align: center;
    margin-right: 8px;
    font-size: 16px;
}

.question-block-details{
    width: 100%;
    font-size: 16px;
    position: relative;
}

.question-block-description{
    font-size: 15px;
    overflow: hidden;
    max-height: 50px;
}

.question-block-description p {
    margin-bottom: 0;
}

.question-block-description annotation {
    display: none;
}

.question-block-tag{
    margin-right: 3px;
    margin-bottom: 3px;
    max-width: 63px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal-dialog {
    top: 60px; /* height of header */
}

.modal-footer .btn-close {
    color: #fff;
    background-color: #20CC82;
    border: 0;
}

.modal-footer .btn-close:hover {
    color: #fff;
    background-color: #26b67c;
}

button.close:hover{
    background-color: transparent;
}

.question-toolbar #shareIcons {
    height: 38px;
}
.question-toolbar .jssocials-shares {
    margin: 0;
    display: inline;
}

.question-toolbar .jssocials-share {
    margin: 0;
}

.question-toolbar .jssocials-share:not(:last-child) {
    margin-right: 2px;
}

.question-toolbar .jssocials-share-link {
    height: 38px;
    padding: 6px 8px;
}

.edit-history-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.answer-checked{
    display: inline-block;
    color: #47a892;
    padding: 4px 6px;
}

.sign-in-panel{
    padding: 36px;
    margin: 12px auto;
    width: 100%;
    max-width: 650px;
}

.sign-in-panel p{
    letter-spacing: 0.5px;
}

.sign-in-panel a{
    background-color: #26b67c;
    transition: all 0.4s ease 0s;
    padding: 10px 22px;
}

.sign-in-panel a:hover{
    background-color: #2ac787;
    letter-spacing: 1px;
}

/*==========================================
|                QUESTIONS                 |
============================================ */

section.question img.question-img{
    max-height: 500px;
}

section.answers img.answer-img{
    max-height: 300px;
}

section.question img.question-img:hover, section.answers img.answer-img:hover{
    cursor: pointer;
    opacity: 0.9;
}

.question-post-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 8px;
}

.question-post-details *{
    font-size: inherit;
}

.qa-tool-button{
    color: #ced4da;
    background-color: transparent;
    border: 1px solid #dee2e6;
    width: 42px;
}

.qa-tool-button:hover{
    color: #ced4da;
    border: 1px solid #dee2e6;
    background-color: #f2f2f2;
}

.qa-tool-button:focus {
    border: 1px solid #dee2e6;
}

.qa-tool-button.active{
    color: #198dc2;
    border: 1px solid #dee2e6;
    background-color: transparent;
}

.qa-tool-button.active:hover{
    color: #06c;
    border: 1px solid #dee2e6;
    background-color: #f2f2f2;
}

.question-comments > button:focus, .answer-comments > button:focus {
    outline: 1px solid #1da0dd;
}

.question-comment-form input, .answer-comment-form input {
    height: 25px;
    font-size: 12.8px;
    padding: 0;
    margin-left: -6px;
    padding-left: 6px;
    width: calc(100% - 105px);
}

.question-comment-form button, .answer-comment-form button {
    width: 105px;
    height: 25px;
    font-size: 12.8px;
    padding: 0;
}

/*=========================================
|                 ANSWERS                 |
=========================================== */

form.create-answer-form{
    text-align: center;
    padding: 0 16px;
}

.answer-header{
    font-size: 18px;
    padding: 4px 8px;
    border-bottom: 1px solid #D8DBE2;
}

section.answers ul.answer-menu{
    margin: 0;
    padding: 0 16px;
    margin-bottom: 8px;
}

section.answers ul.answer-menu > li{
    font-size: 14px;
    border-bottom: 1px solid #D8DBE2;
    padding: 8px 0;
}

section.answers .answer{
    font-size: inherit;
    margin-top: 4px;
    margin-bottom: 8px;
}

/* =========================================
|               ANSWER-BLOCK               |
============================================ */

.editor{
    font-size: 20px;
    height: 200px;
}

.ql-toolbar{
    text-align: center;
}

.ql-snow .ql-tooltip[data-mode=formula]::before, .ql-snow .ql-tooltip[data-mode=link]::before {
    font-size: 16px;
}

.ask-button, .answer-button {
    width: 250px;
    height: 40px;
    font-size: inherit;
}

/* ======================================
|                   ASK                 |
========================================= */

/* Slim Select */
.ss-main .ss-single-selected, .ss-main .ss-multi-selected{
    min-height: 42px;
    padding: 6px 12px;
}

.ss-main .ss-multi-selected .ss-add{
    display: flex;
    width: 8px;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    margin: 0 6px;
}

.ss-main .ss-multi-selected .ss-values .ss-value{
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    padding: 4px 6px;
    color: #333;
    background-color: #e3e8ec;
    border-radius: 4px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ss-main .ss-content .ss-list .ss-option:hover{
    color: #000;
    background-color: #f8f9fa;
}

.ss-main .ss-content .ss-list .ss-option:focus{
    background-color: #ddd;
}

/* /Slim Select */

/* ======================================
|             SIGN IN/SIGN UP           |
========================================= */

.google-btn{
    width: 100%;
    height: 42px;
    border: 1px solid #B8B6B6;
    background-color: #fff;
    padding: 0;
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
}

.google-btn:hover{
    border: 1px solid #1da0dd;
    background-color: #fff;
}

.google-icon{
    width: 33px;
    height: 33px;
    margin-right: 3px;
    border-radius: 100px;
    object-fit: cover;
    background-color: transparent;
}

.login-method-swap{
    font-size: 14px;
}

.login-method-swap a{
    font-size: inherit;
}

/* ======================================
|              User Profile             |
========================================= */

.profile-img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.nav-pills{
    width: 33.33%;
    height: 40px;
    padding: 0;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-pills:hover{
    cursor: pointer;
}

.nav-pills a{
    color: inherit;
}

.nav-pills.active{
    color: #6c53a7;
    border-bottom: 3px solid #6c53a7;
}

.nav-pills.active a{
    font-weight: 600;
}

.user-stats-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-stats{
    width: 200px;
    height: 200px;
    text-align: center;
    border: 3px solid #6c53a7;
    border-radius: 100%;
    position: relative;
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.user-stats-value{
    font-size: 45px;

}

.avatar-settings-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-settings-container img{
    margin: 0;
    margin-bottom: 8px;
}

.verified-text{
    color: #2ac787;
}


/* ======================================
|             SEARCH RESULT             |
========================================= */
.search-input-container{
    position: relative;
}

.search-input{
    padding-left: 36px;
}

.search-input + i{
    position: absolute;
    top: 9px;
    left: 17px;
    font-size: 20px;
}

.spmpaper-img {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}

a.blog-home-link {
    font-size: 30px;
}

.blog-post {
    background-color: #eee;
    padding: 0;
    margin-bottom: 6px;
    height: auto;
    transition-duration: .25s;
}

.blog-post:hover {
    transform: scale(1.015);
    cursor: pointer;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
    background-color: #eaf0f6;
}

.blog-title {
    color: #000;
}

.blog-title:hover {
    color: #1da0dd;
}

.blog-tag {
    padding: 6px 12px;
    background-color: #eee;
    border-radius: 4px;
    color: #000;
}


.blog-post a.stretched-link::after {
    z-index: -1;
}

.blog-category {
    z-index: 10;
}

.blog-category:hover {
    text-decoration: underline;
}

.blog-post img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.blog-author-avatar {
    width: 120px;
    height: 120px;
}

section.blog-content .cover-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.blog__body img {
    width: 100%;
    max-width: 500px;
    object-fit: contain;
}

section.about-the-author {
    text-align: center;
}

section.about-the-author h2 {
    font-weight: 700;
}

.blog__body-editor {
    height: 300px;
}

.blog-logout-dropdown-menu {
    left: -90px;
}

.jssocials-share > a {
    font-size: 18px;
}

.notes-container img {
    max-height: 500px;
}

/* ABOUT page */

section.about .blog-post {
    height: auto;
}

section.about .team-avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}

section.features .feature-image-container {
    text-align: center;
    padding: 20px 0;
}

section.features .feature-image-container img {
    width: 120px;
    height: 120px;
}

section.us-elsewhere .nav-pills {
    width: unset;
    height: unset;
}

section.us-elsewhere .nav-pills .nav-item {
    height: unset;
    display: unset;
}

section.us-elsewhere .social-icon {
    font-size: 48px;
}

section.us-elsewhere .nav-link {
    padding: 20px
}

section.us-elsewhere .nav-link:hover {
    box-shadow: 0 2px 2px rgba(12,13,14,0.2);
}

section.us-elsewhere .nav-link.facebook:hover{
    background-color: #3b5998;
    color: #ffffff;
}

section.us-elsewhere .nav-link.instagram:hover {
    background-color: #f56040;
    color: #ffffff;
}

section.us-elsewhere .nav-link.linkedin:hover {
    background-color: #0077B5;
    color: #ffffff;
}

section.us-elsewhere .nav-link.telegram:hover {
    background-color: #0088cc;
    color: #ffffff;
}

section.us-elsewhere .nav-link.youtube:hover {
    background-color: #ff0000;
    color: #ffffff;
}

section.our-partners div.row > div {
    margin-top: auto;
    margin-bottom: auto;
}

section.lifetime-coins img {
    padding: 30px 0;
    max-height: 160px;
}


@media (min-width: 375px){
    .question-block-tag{
        max-width: 80px;
    }
}

@media (min-width: 425px){
    .question-block-tag{
        max-width: 95px;
    }
}

@media(min-width: 470px){
    .wrapper{
        padding: 30px;
        margin: 50px auto;
        box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
    }
}



 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {
    /* ============================================
    |                    TAGS                     |
    =============================================== */

        .tag-list-panel{
            width: 49.1%;
        }

        .user-stats-container{
            flex-direction: row;
        }

        .user-stats{
            width: 30vw;
            height: 30vw;
        }

        .avatar-settings-container{
            flex-direction: row;
        }

        .avatar-settings-container img{
            margin: 0;
        }

        .question-block-tag{
            max-width: 130px;
        }


     }

     /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {

        .tag{
            font-size: 14px;
        }

        /* .col-md-6 {
            max-width: 49%;
        }

        .col-md-4 {
            max-width: 32.8%;
        } */

        .header{
            padding: 0 12px;
            font-size: 15px;
        }

        .hamburger-button{
            display: none;
        }

        .header-brand{
            display: inline-block;
            height: 60px;
        }

        .nav-container{
            margin-top: 60px;
            padding-top: 12px;
        }

        .content{
            margin-left: 270px;
            width: calc(100% - 270px);
        }

        .search-bar{
            font-size: 15px;
        }

        .nav-sort-container{
            width: 100%;
        }


        .question-block-tag{
            max-width: 150px;
        }

        .answer-block{
            font-size: 15px;
        }

        .answer-block-time{
            font-size: 14px;
        }

        .answer-form{
            font-size: 15px;
        }

        .answer-header{
            padding: 4px 16px;
        }


        form.create-answer-form{
            padding: 0 24px;
        }

        .google-btn{
            height: 42px;
        }

        .google-icon{
            width: 39px;
            height: 39px;
        }

        .login-method-swap{
            font-size: 15px;
        }

        .text-editor-header{
            font-size: 16px;
        }


        .search-button-min{
            top: 12px;
            height: 36px;
        }

        .about-the-creator .panel{
            width: 33%;
            margin: 0 auto;
        }

        .nav-pills{
            width: 100px;
        }

        .user-stats-container{
            flex-direction: column;
        }

        .user-stats{
            width: 200px;
            height: 200px;
        }

        .search-input-container i{
            left: 26px;
        }

        .ask-wrapper{
            padding: 30px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
            margin: 60px auto;
        }

        .notification-dropdown-menu {
            width: 300px;
        }

        .blog-post {
            height: 330px;
        }

        section.recommended-articles .blog-post.recommended-blog-post {
            height: 360px;
            margin: 0;
        }

        section.recommended-articles .blog-post.recommended-blog-post:first-child{
            margin-right: 0.3%;
        }

        section.recommended-articles .blog-post.recommended-blog-post:nth-child(2){
            margin: 0 0.3%;
        }

        section.recommended-articles .blog-post.recommended-blog-post:nth-child(3){
            margin-left: 0.3%;
        }

        .blog-post:nth-child(odd) {
            margin-right: 0.5%;
        }

        .blog-post:nth-child(even) {
            margin-left: 0.5%;
        }

        section.no-questions-found {
            padding: 120px 0;
        }

    }

    @media (min-width: 918px){
        .user-stats-container{
            flex-direction: row;
        }

        .user-stats{
            width: 200px;
            height: 200px;
        }
    }

     /* Large devices (desktops, 992px and up) */
    @media (min-width: 998px) {
        .question-block-stats{
            font-size: 18px;
            width: 110px;
        }

        .tag-list-panel{
            width: 32%;
        }

        .user-stats{
            width: 18vw;
            height: 18vw;
        }

        section.no-questions-found img {
            width: 300px;
            height: 300px;
        }

    }

     /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) { }

    html {
        visibility: visible;
        opacity: 1;
    }
