.filter-container {
    border-bottom: 1px solid $gray5;
    padding-bottom: 4px;
    margin-bottom: 16px;
    @media (min-width: $lg) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .select-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 4px;
        select {
            margin-bottom: 4px;
            @media (min-width: $lg) {
                margin-bottom: 0;
                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }
    }

    .filter-buttons {
        text-align: right;
    }
}

.filter-select {
    &--md {
        width: 100%;
        @media (min-width: $lg) {
            width: 150px;
        }
    }
    &--lg {
        width: 100%;
        @media (min-width: $lg) {
            width: 250px;
        }
    }
    &--xl {
        width: 100%;
        @media (min-width: $lg) {
            width: 300px;
        }
    }
}
