@import 'components/classroom';
@import 'components/resources';
@import 'components/post';

.page-heading__button-group {
    display: flex;
    @media (min-width: $sm) {
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }
}
