.filter-select {
    &--md {
        width: 100%;
        @media (min-width: $lg) {
            width: 150px;
        }
    }
    &--lg {
        width: 100%;
        @media (min-width: $lg) {
            width: 250px;
        }
    }
    &--xl {
        width: 100%;
        @media (min-width: $lg) {
            width: 300px;
        }
    }
}
