// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

@import '../app';

// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables";

// Import Classroom Mixins and Components
@import "mixins";
@import "global";
@import "utilities";

// Custom Components
@import "dropdowns";
@import "navs";
@import "buttons";
@import "cards";
@import "charts";
@import "login";
// @import "error";
@import "footer";
@import 'navs';
@import 'components';

.studentTable, .invoiceTable, .reportTable, .lessonTable  {
    thead {
        th {
            border: 0;
            border-bottom: 1px solid $gray6;
        }
    }
    thead, tbody {
        tr {
            border-bottom: 1px solid $gray6;
        }
    }
}


.homework-block-metric {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    text-align: center;
    .metric {
        flex: 1;
        min-width: 25%;
    }
    .key {
        font-size: $font-size3;
        font-weight: 700;
    }

    .value {
    }
}

.parent__child-list {
    list-style: none;

    .parent__child-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-details {
            display: flex;
            flex-direction: row;

            .avatar {
                width: 60px;
                height: 60px;
                margin-right: 8px;
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }

        .cta-buttons {

        }
    }
}

.prebuilt-resources-modal {
    .modal-header {
        font-weight: 700;
        font-size: $font-size5;
        padding: 16px;
    }

    .modal-body {
        padding: 16px;
    }
}

.breadcrumbs {
    padding: 8px 12px;
    border-radius: 4px;
    color: $black;
    background-color: $gray6;
    border: 1px solid $gray5;
}

.resource {
    padding: 12px 16px;
    .resource-checkbox {
        width: 22px;
        height: 22px;
    }
}

