.user-profile__header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .heading {
        font-size: $font-size7;
        font-weight: 700;
        margin-bottom: 2px;
    }

    .sub-heading {
        font-size: $font-size4;
        font-weight: 400;
        color: $gray1;
        margin-bottom: 4px;
    }

    .sub-text {
        color: $gray2;
        font-size: $font-size1;
    }

}

.user-profile__metrics {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    text-align: center;
    .metric {
        flex: 1;
    }

    .key {
        font-size: $font-size3;
        font-weight: 700;
    }

    .value {
    }
}


 .user-profile__questions {
    //  margin-bottom: 8px;
     .title {
         font-weight: 700;
     }
     .view-more {
        padding-left: 4px;
        display: inline-block;
        font-size: $font-size;

        &:hover {
            text-decoration: underline;
        }
     }

 }

 .user-profile__question {
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 28px;
    position: relative;
     .icon {
         position: absolute;
         width: 20px;
         height: 20px;
         top: 0;
         left: 4px;
         font-size: 18px;
         text-align: center;
         color: $light-grey;

         .recommended {
             color: $yellow;
         }

         .upvoted {
             color: $blue4;
         }

         .viewed {
             color: $green
         }
     }

     .link {
        color: $grey;

         &:hover {
             text-decoration: underline;
         }
     }
 }

 .user-questions__list {
     margin-bottom: 8px;
 }

 .user-questions__question {
     display: block;
     padding: 4px 0;

     .details {
         font-size: $font-size - 2px;

         span {
             font-size: inherit;
         }
     }
 }

 .user-answers__answer {
     @extend .user-questions__question;
     .question {
         font-size: $font-size - 2px;
     }
 }

.user-credentials {
}

.user-credentials__item {
    display: flex;
    font-size: $font-size;
    padding: 4px 0;
    .iconify {
        font-size: 22px;
        margin-right: 8px;
    }

    .value {
        color: $grey;
        line-height: 24px;
    }
}

.user-credentials__empty {
    font-style: italic;
    font-weight: 300;
    color: $gray3;
}
