.question--block {
    $questionBlockXPadding: 12px;
    padding: 6px $questionBlockXPadding;

    .icon--bar {
        .icon {
            width: 30px;
            height: 30px;
            margin-right: 5px;
            &:hover {
                background-color: transparent;
            }
        }
    }

    .question-block__image-container {
        margin: 4px (-$questionBlockXPadding);

        .question-block__image {
            width: 100%;
            height: auto;
            max-height: 500px;
            background-color: $grey;

            &:hover {
                cursor: pointer;
                opacity: .9;
            }
        }
    }

}

%question-block__icon {
    color: $light-grey;
    background-color: transparent;
    width: 28px;
    height: 28px;
    margin-right: 12px;
    font-size: 24px;
    padding: 0;

    &:hover, &:focus {
        background-color: transparent;
    }
}

.question-block__icon-group {
    flex-wrap: nowrap;
}

.question-block__award, .answer-block__award{
    @extend %question-block__icon;
    &.unawarded, &.awarded {
        color: $red;
    }
}
.question-block__check, .answer-block__check {
    @extend %question-block__icon;
    &.checked {
        color: $green;
    }
}
.question-block__star, .answer-block__star {
    @extend %question-block__icon;
    margin-right: 0;
    &.recommend {
        color: $yellow;
    }
}

.question-block__flag-left {
    @include flag( 25px );
    position: absolute;
    top: 0;
    right: -12px;
    padding-top: 2px;
    padding-left: ( 25px /2 + 6px);
    padding-right: 8px;
    background-color: $red;

    &.stoichiometry_mania {
        color: $white;
        background-color: $blue6;
    }

    &.question-of-the-day {
        color: $white;
        background-color: $gold;
    }
}

.question-block__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;

    .tag {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.question-block__tags {
    color: $gray2;
    font-size: $font-size2;
    margin: 0;
    li {
        display: inline;
        a, span, button {
            color: $grey;
            &:hover {
                text-decoration: underline;
                color: $black;
            }
        }
    }
}

.question-block__user-info, .answer-block__user-info {
    color: $black;
    display: flex;
    position: relative;
    align-items: flex-start;
    margin-bottom: 8px;
    .avatar {
        margin-right: 8px;
        min-width: 40px;
        max-width: 60px;
    }
    .text {
        line-height: 20px;
    }

    .user-info {
        font-size: $font-size + 1px;
        color: $black;
        margin: 0;
    }
    .username {
        font-weight: 700;
        font-size: $font-size + 1px;
        color: $black;
        margin: 0;
        &:hover {
            color: $black;
            text-decoration: underline;
        }
    }
    .time {
        font-size: $font-size1;
        color: $gray2;
    }

    &.active {
        color: $blue4;
        border-bottom: 3px solid $blue4;
        font-weight: 700;
        font-size: $font-size;

        &:hover {
            text-decoration: underline;
        }
    }

    &:hover {
        color: $black;
    }
}

.question-block__title {
    position: relative;
    font-size: $font-size6;
    font-weight: 500;
    margin-bottom: 6px;

    &:hover {
        text-decoration: underline;
    }

}

.question-block__button-group {
    margin-left: (-$toolButtonXPadding);
    position: relative;
}

/*
|                      |
| Question Tool Button |
|                      |
*/

%tool-button {
    padding: $toolButtonXPadding 12px;
    letter-spacing: 1px;
    background-color: $white;
    border-radius: 1000px;
    width: unset;
    height: 40px;
    font-size: 14px;
    color: $grey;

    .icon {
        font-size: 18px;
    }

    &:hover {
        background-color: $lighter-grey;
        color: $blue;
    }

    &.active {
        background-color: $lighter-grey;
        color: $blue;

        &:hover, &:focus {
            border: 0;
            outline: 0;
        }

        .iconify {
            color: inherit;
            font-size: 28px;
            font-weight: inherit;
        }

        a {
            color: inherit;
            font-size: $font-size4;
            font-weight: inherit;

        }
    }
}
/*
|                      |
| Question Tool Button |
|                      |
*/

.question-upvote-button, .answer-upvote-button {
    @extend %tool-button;
    @include fa5-icon(900, "f062");
    width: 140px;
    &:hover {
        background-color: $lighter-grey;
    }
    &:focus {
        color: $grey;
    }
    &.upvoted {
        color: $blue4;
        font-weight: 700;
    }
}

.answer {
    p {
        margin-bottom: 3px;
    }
}

.answer-button {
    @extend %tool-button;
    @include fa5-icon(400, "f075");
    width: 140px;
    .icon {
        font-size: 18px;
    }
}

.answer-check-button {
    @extend %tool-button;
    width: 120px;
    &:hover {
        background-color: $lighter-grey;
        color: $green;
    }

    &.checked {
        background-color: transparent;
        color: $green;

        &:hover {
            background-color: $lighter-grey;
        }
    }
}

.question__user-header, .answer__user-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.more-button {
    @extend %tool-button;
}

.question__image-container, .answer__image-container {
    margin: 0 (-$panelXPadding);
    margin-bottom: 8px;
    width: calc(100% + (2 * #{$panelXPadding}));

    img {
        width: 100%;
        height: auto;
        border-radius: 0;
        max-height: 500px;
        background-color: $grey;

        &:hover {
            opacity: .9;
            cursor: pointer;
        }
    }
}

.question__description {
    color: $black;
    p {
        color: inherit;
        margin-bottom: 3px;
    }
}

.qb-container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 12px;
}

.qb-container__ask-qb {
    padding: 8px;
    position: relative;
    vertical-align: center;
    padding-left: 56px;
    .avatar {
        position: absolute;
        left: 9px;
        top: 8px;
    }

    .ask {
        color: $grey;
        font-weight: 500;
        line-height: 35px;
        color: $grey;
        background-color: $lighter-grey;
        display: inline-block;
        padding: 4px 16px;
        width: 100%;
        height: 40px;
        border-radius: 1000px;

        &:hover {
            background-color: $light-grey;
        }
    }

    .ask-qb__toolbar {
        display: flex;
        margin: 8px;
        padding-top: 4px;
        margin-bottom: 0;
        border-top: 1px solid $gray5;
    }

    .ask-qb__toolbar-button {
        border-radius: 4px;
        padding: 8px;
        &:hover {
            background-color: $light-grey;
        }

        .iconify {
            font-size: 24px;
        }
    }
}

.question__title {
    font-size: $font-size7;
    font-weight: 700;
    margin-bottom: 6px;
    color: $black;
}

.question__comment-button, .answer__comment-button {
    font-size: $font-size - 2px;

    &:hover {
        text-decoration: underline;
    }
}

.question__comment-list, .answer__comment-list {
    border-top: 1px solid $light-grey;
    padding-left: 18px;
    display: none;
}

.question__comment-item, .answer__comment-item {
    padding: 4px 12px;
    border: 0;

    &:not(:last-child) {
        border-bottom: 1px solid $light-grey;
        margin-bottom: 0;
    }

    .comment {
        font-size: $font-size - 1px;
    }

    .time {
        font-size: $font-size - 3px;
    }

    .delete-button {
        color: $red;
        padding: 0;
        margin: 0;
        background-color: transparent;

        &:hover, &:focus {
            color: $red;
            background-color: transparent;
        }
    }
}

.answer-input__answer-button {
    width: 50%;
    max-width: 200px;
    margin-bottom: 4px;
}

.answer-input__sign-up-link {
    // display: inline-block;
    // font-size: $font-size + 2px;
    // border-radius: 1000px;
}
