.notes__header {
    background-color: $white;
    padding: $headerPadding;
}


.notes__results-count, .resource__results-count {
    font-size: 13px;
    margin-bottom: 8px;
}

.note, .pp, .resource {
    background-color: $white;
    padding: 8px 12px;
    transition: all .2s ease-in-out;
    margin-bottom: 8px;
    &:hover {
        box-shadow: $box-shadow-dark;
        transform: scale(1.01);
    }

    &.unavailable {
        background-color: $gray6;
    }
}

.note__title, .resource__title, .pp__title {
    font-size: $font-size4;
    margin-bottom: 5px;
}

.note__description, .pp__description {
    color: $gray1;
    font-size: $font-size2;
    margin-bottom: 6px;
    font-weight: 400;
}

.note__cta, .pp__cta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-weight: 700;

    form {
        width: 100%;
    }
    a, button {
        display: block;
        width: 100%;
        height: 40px;
        font-weight: inherit;
    }
    @media (min-width: $sm) {
        form {
            max-width: 130px;
        }
        a, button {
            max-width: 130px;
        }
    }
}

.pp__cta {
    .button--primary {
        margin-bottom: 4px;
    }
}

.notes__pdf-container {
    width: 100%;
    height: 450px;
    padding: 12px 0;
    @media (min-width: $lg) {
        height: 650px;
    }
    embed {
        width: 100%;
        height: 100%;
    }
}

.pdf-viewer-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav--tabs {
    border: 0;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 8px;
    .nav-item {
        margin: 0;
        border: 0;
        background-color: transparent;
    }
    .nav-link {
        padding: 9px 12px;
        border: 0;
        &.active {
            background-color: transparent;
            border-bottom: 3px solid $blue4;
        }
    }
}

.filter__title {
    font-weight: 700;
}

.filter__label {
    color: $grey;
}

.filter__button {
    &.clear-filter {
        &:hover {
            text-decoration: underline;
        }
    }
}

.note__empty, .resource__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 0;
    img {
        width: 50%;
        max-width: 300px;
        height: auto;
    }
    h4 {
        font-weight: 700;
        font-size: 16px;
    }
}

.tpp__grid-sizer,
.tpp__grid-item { width: 49%; }


.tpp__chapter-block {
    padding: 0;
    margin-bottom: 12px;
}

.tpp__chapter-block-heading {
    padding: 12px;
    border-bottom: 1px solid $gray4;

    .heading {
        color: $blue6;
        font-weight: 700;
        font-size: $font-size5;
        margin-bottom: 4px;
    }

    .sub-heading {
        font-size: $font-size3;
        color: $gray2;
        font-weight: 500;
        margin-bottom: 0;
    }
}

.tpp__chapter-block-body {
    padding: 8px 12px;
}

.tpp-block {

    &:not(:last-child) {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid $gray4;
    }
}

.tpp-block__heading {
    font-size: $font-size4;
    margin-bottom: 4px;
}

.tpp-block__sub-heading {
    color: $gray2;
    font-size: $font-size2;
    font-weight: 400;
}

.note-block {
    @extend .tpp-block;
}

.note-block__heading {
    @extend .tpp-block__heading;
}

.note-block__sub-heading {
    @extend .tpp-block__sub-heading;
}


.note__grid-sizer,
.note__grid-item { width: 49%; }


.resource__board-select-button {
    position: relative;
    color: $gray1;
    .name {
        font-size: $font-size3;
        color: inherit;
        span {
            color: inherit;
            font-size: inherit;
        }
    }

    .iconify {
        font-size: 18px;
        margin-top: -3px;
        margin-left: -3px;
        color: inherit;
    }
}

.resource__type-section {
    padding-bottom: 8px;
    .heading {
        font-size: $font-size5;
        font-weight: 500;
        margin-bottom: 10px;
        color: $gray1;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $gray4;
        margin-bottom: 16px;
    }
}

.learn__heading, .resource__heading {
    font-size: $font-size8;
    font-weight: 700;
}

.learn__sub-heading, .resource__sub-heading {
    font-size: $font-size4;
    color: $gray1;
}

.guide__details {
    font-size: $font-size3;
    font-weight: 400;
    color: $gray2;
}

.learn__menu-list-item {
    padding: 30px 20px;
    color: $black;
    box-shadow: $box-shadow1;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    text-align: center;
    transition: all .2s ease-in-out;
    height: 140px;
    border-radius: $border-radius;

    .iconify {
        color: $blue5;
        font-size: 48px;
        display: inline-block;
        margin-bottom: 12px;
        transition: all .1s ease-in-out;
    }

    .text {
        font-size: $font-size5;
        color: $black;
        font-weight: 700;
    }

    &:hover {
        box-shadow: $box-shadow2;
        transform: scale(1.02);
    }
}

.resource-subject-item {
    .icon {
        font-size: 42px;
        color: $gray2;
        &.active {
            color: $blue4;
        }
    }

    .label {
        color: $gray2;
        &.active {
            color: $blue4;
            font-weight: 700;
        }
    }
}

.resourcePdfViewer {
    width: 100%;
    height: 500px;
    @media (min-width: $lg) {
        height: 750px;
    }
    border: 1px solid $gray4;
    box-shadow: $box-shadow-darkest;
    border-radius: 4px;
}


.learn__chapters {
}

.learn__chapter {
    background-color: $white;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    margin-bottom: 12px;
    box-shadow: $box-shadow1;

    &:hover {
        cursor: pointer;
    }

    &.active {
        .arrow-icon {
            transform: rotate(180deg);
        }

        + .learn__guides {
            display: block;
        }
    }

    .arrow-icon {
        width: 18px;
        height: 18px;
        text-align: center;
        font-size: 18px;
        line-height: 0;
        transition: transform .3s ease-in-out;
    }

    .name {
        display: inline-block;
        margin-right: 8px;
    }

    .count {
        color: $gray2;
        font-size: $font-size2;
    }
}

.learn__guides {
    display: none;
    margin-bottom: 12px;
    padding-left: 8px;
    border-left: 5px solid $blue6;
}

.learn__guide {
    display: block;
    padding: 6px;
    color: $gray1;
    font-size: $font-size3;
    > a {
        font-size: inherit;
        color: inherit;
        &:hover {
            color: inherit;
            text-decoration: underline;
        }
    }
}

.learn__prev-next-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .prev {
        text-align: left;
    }

    .next {
        text-align: right;
    }
}

.learn__empty-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    @media (min-width: $lg) {
        padding: 20px 40px;
    }

    .main-img {
        width: 300px;
        height: 300px;
    }

    .description {
        font-size: $font-size5;
        font-weight: 500;
        margin-bottom: 16px;
    }
}

.resource__breadcrumbs {
    font-size: $font-size3;
    margin-bottom: 6px;
    color: $black;

    a {
        font-size: inherit;
        color: $blue3;

        &:hover {
            text-decoration: none;
        }
    }
}

.pp__tags {
    .tag:not(:last-child) {
        margin-right: 2px;
    }
}

.resource {

    &__header {
        background: linear-gradient(90deg, $blue6 0, $blue4 115%);
        height: 270px;
        margin-bottom: -225px;
    }

    &__h1 {
        color: $white;
        font-size: $font-size10;
        font-weight: 700;
    }

    &__exam-board {
        span {
            display: inline-block;
            position: relative;
            position: relative;
            font-size: $font-size4;
            font-weight: 500;
            margin-bottom: 4px;
            &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                height: 4px;
                background-color: $blue6;
                width: 100%;
                border-radius: 1000px;
            }
        }
    }

}

.resource__nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.resource__prev-button, .resource__next-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 16px;

    @media(min-width: $md) {
        width: 220px;
    }

    div, p {
        width: 100%;
        text-align: left;
        margin: 0;
    }

    .prev-next-text {
        font-size: $font-size1;
        margin-bottom: 2px;
    }

    .title {
        font-size: $font-size4;
    }

    .iconify {
        font-size: 48px;
    }
}

.resource-nav-pills {
    text-align: left;
    width: 100%;
    max-width: 100%;
    height: unset;
    border: 1px solid $gray5;
    border-radius: 4px;
    background-color: $white;
    .nav-link {
        text-align: inherit;
        padding: 12px 18px;
        font-size: $font-size3;
        font-weight: 400;
        border-radius: 0;
        line-height: unset;

        &:not(:last-child) {
            border-bottom: 1px solid $gray5;
        }
        .subtitle {
            color: $gray2;
            font-size: $font-size1;
            font-weight: 400;
        }

        &.active {
            .subtitle {
                color: $gray6;
            }
        }
    }
}

.resource__block {
    padding: 10px 12px;
    height: 100%;
}

.resource__link {
    color: $black;
    font-weight: 700;
    font-size: $font-size5;
    &:hover {
        color: $blue5;
        text-decoration: underline;
    }

    a {
        display: block;
        color: inherit;
        text-decoration: inherit;
    }
}

.resource__subject-list {
    .subject-item {
        color: $black;
        box-shadow: 0 1px 1px rgba(0,0,0,.12);
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all .2s ease-in-out;
        width: 100%;
        height: 180px;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid $gray4;

        &:hover {
            border: 5px solid $blue4;
        }

        &__icon {
            font-size: 64px;
            font-weight: 700;
            color: $blue6;
        }

        &__title {
            font-size: $font-size5;
            font-weight: 500;
        }

        &__subtitle {
            font-size: $font-size1;
            color: $gray2;
        }
    }
}

.resource__section-header {
    font-size: $font-size5;
    font-weight: 500;
    border-bottom: 1px solid $gray5;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.resource__panel-dropdown-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid $gray5;
    background-color: $white;
    box-shadow: $box-shadow1;
    padding: 2px 12px;

    .text {
        line-height: 33px;
    }

    .arrow-icon {
        font-size: 20px;
        transition: .2s;
    }
    &:hover {
        cursor: pointer;
    }

    &.active {
        .arrow-icon {
            transform: rotate(180deg);
        }
        + .resource__panel-dropdown-container {
            display: block;
        }
    }

    + .resource__panel-dropdown-container {
        display: none;
        padding: 2px 12px;
        margin-bottom: 8px;
    }
}

.resource__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid $gray5;
}
