.search__container {
    .query {
        font-weight: 700;
        font-size: $font-size - 2px;
    }

}

.search__form {
    position: relative;
    width: 100%;
    .icon {
        position: absolute;
        left: 8px;
        top: 2px;
    }

    input {
        padding-left: 36px;
    }
}
