@charset "UTF-8";

* {
  font-family: "Poppins", "Open Sans", "sans serif";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
.h1 {
  font-size: 30px;
}

h2,
.h2 {
  font-size: 22px;
}

h3,
.h3 {
  font-size: 16px;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: 14px;
}

a,
p,
span,
button,
label,
input {
  font-size: 14px;
}

button,
.button-link,
input,
img {
  border-radius: 4px;
}

p {
  margin-bottom: 8px;
}

a {
  color: #1da0dd;
}

a:hover {
  color: #198dc2;
  text-decoration: none;
}

ol,
ul {
  list-style-position: inside;
}

ul {
  list-style-type: disc;
}

button {
  border: 0;
  padding: 6px 12px;
}

button:hover,
button:focus {
  border: 0;
  outline: 0;
}

.green {
  color: #2ac787;
}

.red {
  color: #ff0000;
}

.btn:hover,
.btn:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
}

button.green,
.button-link.green {
  color: #fff;
  background-color: #26b67c;
}

button.green:hover,
.button-link.green:hover {
  color: #fff;
  background-color: #2ac787;
}

button.blue,
.button-link.blue {
  color: #fff;
  background-color: #198dc2;
}

button.blue:hover,
.button-link.blue:hover {
  color: #fff;
  background-color: #1da0dd;
}

.button-link {
  display: inline-block;
  text-align: center;
  padding: 6px 12px;
}

.button-link:hover {
  cursor: pointer;
  text-decoration: none;
}

.transparent {
  background-color: transparent;
}

label {
  margin-bottom: 4px;
  letter-spacing: 0.3px;
  font-weight: 700;
  color: #545454;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

input {
  display: block;
  width: 100%;
  height: 42px;
  padding: 6px 12px;
  border: 1px solid #ced4da;
}

input:hover {
  border: 1px solid #1da0dd;
}

input:focus {
  border: 1px solid #1da0dd;
  outline: 0;
}

input[type=checkbox] {
  display: inline-block;
  width: unset;
  height: unset;
  margin-right: 3px;
}

input[type=checkbox] + label {
  display: inline-block;
  margin: 0;
}

input[type=radio] {
  width: unset;
  height: unset;
}

input[type=radio] + label {
  font-weight: 400;
}

textarea {
  resize: vertical;
  width: 100%;
  height: 100px;
  padding: 6px 12px;
  border-radius: 4px;
  border-color: #ced4da;
}

textarea:hover {
  border: 1px solid #1da0dd;
  outline: 0;
}

textarea:focus {
  border: 1px solid #1da0dd;
  outline: 0;
}

.coin-button {
  display: flex;
  align-items: center;
}

.inline-image-sm {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.inline-image {
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.icon {
  font-size: 24px;
}

.icon.lg {
  font-size: 32px;
}

.wrapper,
.ask-wrapper {
  width: 100%;
  padding: 24px 20px;
  border-radius: 4px;
}

.wrapper {
  min-width: 300px;
  max-width: 460px;
}

.ask-wrapper {
  min-width: 300px;
  max-width: 740px;
}

.ask-wrapper button[type=submit] {
  display: block;
  margin: 0 auto;
}

.wrapper .alert {
  text-align: left;
}

.pagination {
  justify-content: center;
  margin-top: 12px;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #6c53a7;
  border-color: #6c53a7;
}

a.page-link {
  color: #000;
}

.page-link:hover {
  color: #000;
  background-color: #eee;
}

.page-link:focus {
  outline: 0;
}

.form-field {
  position: relative;
  font-size: 15px;
  margin-bottom: 24px;
}

.error-message {
  color: red;
}

.tag,
.tag--success,
.tag.green,
.green.tag--primary,
.green.tag--light,
.primary.tag--success,
.green.tag--success,
.tag--light,
.primary.tag--light,
.tag.primary,
.tag--primary {
  display: inline-block;
  max-width: 100%;
  font-size: 13px;
  padding: 4px 6px;
  color: #333;
  background-color: #e3e8ec;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag:hover,
.tag--success:hover,
.tag--light:hover,
.tag--primary:hover {
  color: #fff;
  background-color: #47a892;
  cursor: pointer;
}

a.username {
  color: #000;
}

a.username img.avatar {
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 40px;
}

.slim-select[name=sort] {
  min-height: 42px;
  padding: 6px 12px;
  margin-left: 10px;
}

.slim-select[name=sort] + .ss-main {
  display: inline-block;
  width: 125px;
  margin-left: 3px;
  z-index: 50;
}

.slim-select[name=sort] + .ss-main .ss-content .ss-search {
  display: none;
}

.heading-panel h2 {
  letter-spacing: 0.7px;
}

.toast-top-center {
  top: 75px;
}

#toast-container > .toast-success {
  background-color: #20CC82;
}

#toast-container > .toast-error {
  background-color: red;
}

.swal2-checkbox input,
.swal2-radio input {
  width: 35px;
  height: 35px;
  margin: 0 auto !important;
}

/*===========================================
|                   HEADER                  |
============================================= */

.header {
  width: 100%;
  font-size: 15px;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1000;
  padding: 0 10px;
  background-color: #fff;
}

a.header-brand {
  display: inline-block;
  /* height: 60px; */
  padding: 0;
}

a.header-brand:hover {
  border: 0;
  outline: 0;
  box-shadow: none;
}

.hamburger-button {
  font-size: 20px;
  color: inherit;
  background-color: transparent;
}

.header-right-menu {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
}

.login-link {
  border-radius: 4px;
}

.mobile-search-overlay {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.logout-dropdown-menu {
  min-width: unset;
  width: 150px;
  top: 48px;
}

.logout-dropdown-menu a,
.logout-dropdown-menu button {
  padding: 4px 10px;
}

.logout-dropdown-menu a:focus,
.logout-dropdown-menu button:focus {
  background-color: #ddd;
  color: #000;
}

.mfp-close:hover {
  background-color: transparent;
}

.mfp-img {
  width: 100% !important;
  max-width: 800px !important;
}

/* ===============================================
|                  MOBILE NAV                    |
================================================== */

.mobile-body-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.5);
}

.mobile-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  z-index: 1000;
  color: #fff;
  background-color: #6c53a7;
  overflow: auto;
}

.mobile-nav-container h2 {
  padding: 8px 12px;
  font-weight: 600;
  font-size: 24px;
}

.mobile-nav-brand {
  display: block;
  padding: 0 15px;
}

.mobile-nav-menu {
  list-style: none;
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.mobile-nav-container h3 {
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  padding-left: 8px;
}

.mobile-nav-dropdown-menu-item {
  padding: 2px 8px;
  border-left: 5px solid transparent;
}

.mobile-nav-dropdown-menu-item:hover {
  background-color: #60469e;
}

.mobile-nav-dropdown-menu-item.active {
  background-color: #60469e;
  border-left: 5px solid #f9f9f9;
}

.mobile-nav-dropdown-menu-link {
  color: inherit;
}

.mobile-nav-dropdown-menu-link:hover {
  color: inherit;
  text-decoration: none;
}

/* =========================================
|                NAV SIDEBAR               |
============================================ */

.nav-container {
  width: 270px;
  height: calc( 100vh - 60px );
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: auto;
}

/* total width */

.nav-container::-webkit-scrollbar {
  background-color: #fff;
  width: 4px;
}

/* background of the scrollbar except button or resizer */

.nav-container::-webkit-scrollbar-track {
  background-color: #fff;
}

.nav-container::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

/* scrollbar itself */

.nav-container::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 1px solid #fff;
}

.nav-container::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 1px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.nav-container h3 {
  font-weight: 600;
  opacity: 0.7;
  font-size: 18px;
  padding-left: 8px;
}

.nav-menu {
  list-style: none;
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.nav-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  padding-top: 1px;
}

.nav-icon img {
  width: 25px;
  height: 25px;
}

.nav-link {
  font-weight: 500;
  color: inherit;
  padding: 0;
}

.nav-link:hover {
  color: inherit;
}

.nav-dropdown-arrow {
  position: absolute;
  right: 0;
  width: 50px;
  height: 40px;
  text-align: center;
  padding-top: 9px;
  z-index: 10;
}

.nav-dropdown-arrow:hover {
  cursor: pointer;
}

.nav-dropdown-menu {
  display: none;
  list-style: none;
  width: 80%;
  margin-left: 20%;
  margin-top: 1px;
}

.nav-dropdown-menu-item {
  padding: 2px 8px;
  cursor: pointer;
  border-left: 5px solid transparent;
}

.nav-dropdown-menu-item:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.nav-dropdown-menu-item.active {
  background-color: #f9f9f9;
  border-left: 5px solid #60469e;
  cursor: pointer;
}

.nav-dropdown-menu-link {
  color: inherit;
}

.nav-dropdown-menu-link:hover {
  color: inherit;
  text-decoration: none;
}

.nav-footer {
  padding-left: 8px;
  font-size: 14px;
}

.nav-footer a {
  margin-right: 4px;
  font-size: 14px;
}

.mobile-nav-footer a {
  color: white;
}

.mobile-nav-footer a:hover {
  color: white;
}

.nav-footer a:hover {
  text-decoration: underline;
}

/*=========================================
|                SEARCH BAR               |
=========================================== */

.mobile-search-form {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
}

.mobile-search-input-header {
  display: block;
  width: 100%;
  font-size: inherit;
  padding: 10px 12px;
  margin: 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  position: relative;
}

.mobile-search-input-header:hover {
  border: 1px solid #B8B6B6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.mobile-search-input-header:focus {
  outline: 0;
  border: 1px solid #B8B6B6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 500px;
  display: inline-block;
}

.search-form i {
  position: absolute;
  top: 8px;
  left: 6px;
  font-size: 20px;
}

.search-input-header {
  padding: 6px 12px;
  padding-left: 32px;
  color: #000;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.search-input-header::-webkit-input-placeholder {
  color: #000;
  opacity: 0.6;
}

.search-input-header::-moz-placeholder {
  color: #000;
  opacity: 0.6;
}

.search-input-header:-ms-input-placeholder {
  color: #000;
  opacity: 0.6;
}

.search-input-header::-ms-input-placeholder {
  color: #000;
  opacity: 0.6;
}

.search-input-header::placeholder {
  color: #000;
  opacity: 0.6;
}

.search-input-header:hover {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #000;
  background-color: transparent;
  box-shadow: none;
}

.search-input-header:focus {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #000;
  background-color: transparent;
  box-shadow: none;
}

/*========================================
|            QUESTION BLOCK              |
========================================= */

.question-block-list {
  width: 100%;
  margin: 0;
}

.question-block:first-child {
  border-top: 1px solid #ced4da;
}

.question-block {
  width: 100%;
  min-width: 320px;
  display: flex;
  border-bottom: 1px solid #ced4da;
  padding: 6px 8px;
}

.question-block-stats {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 80px;
  text-align: center;
  margin-right: 8px;
  font-size: 16px;
}

.question-block-details {
  width: 100%;
  font-size: 16px;
  position: relative;
}

.question-block-description {
  font-size: 15px;
  overflow: hidden;
  max-height: 50px;
}

.question-block-description p {
  margin-bottom: 0;
}

.question-block-description annotation {
  display: none;
}

.question-block-tag {
  margin-right: 3px;
  margin-bottom: 3px;
  max-width: 63px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal-dialog {
  top: 60px;
  /* height of header */
}

.modal-footer .btn-close {
  color: #fff;
  background-color: #20CC82;
  border: 0;
}

.modal-footer .btn-close:hover {
  color: #fff;
  background-color: #26b67c;
}

button.close:hover {
  background-color: transparent;
}

.question-toolbar #shareIcons {
  height: 38px;
}

.question-toolbar .jssocials-shares {
  margin: 0;
  display: inline;
}

.question-toolbar .jssocials-share {
  margin: 0;
}

.question-toolbar .jssocials-share:not(:last-child) {
  margin-right: 2px;
}

.question-toolbar .jssocials-share-link {
  height: 38px;
  padding: 6px 8px;
}

.edit-history-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.answer-checked {
  display: inline-block;
  color: #47a892;
  padding: 4px 6px;
}

.sign-in-panel {
  padding: 36px;
  margin: 12px auto;
  width: 100%;
  max-width: 650px;
}

.sign-in-panel p {
  letter-spacing: 0.5px;
}

.sign-in-panel a {
  background-color: #26b67c;
  transition: all 0.4s ease 0s;
  padding: 10px 22px;
}

.sign-in-panel a:hover {
  background-color: #2ac787;
  letter-spacing: 1px;
}

/*==========================================
|                QUESTIONS                 |
============================================ */

section.question img.question-img {
  max-height: 500px;
}

section.answers img.answer-img {
  max-height: 300px;
}

section.question img.question-img:hover,
section.answers img.answer-img:hover {
  cursor: pointer;
  opacity: 0.9;
}

.question-post-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 8px;
}

.question-post-details * {
  font-size: inherit;
}

.qa-tool-button {
  color: #ced4da;
  background-color: transparent;
  border: 1px solid #dee2e6;
  width: 42px;
}

.qa-tool-button:hover {
  color: #ced4da;
  border: 1px solid #dee2e6;
  background-color: #f2f2f2;
}

.qa-tool-button:focus {
  border: 1px solid #dee2e6;
}

.qa-tool-button.active {
  color: #198dc2;
  border: 1px solid #dee2e6;
  background-color: transparent;
}

.qa-tool-button.active:hover {
  color: #06c;
  border: 1px solid #dee2e6;
  background-color: #f2f2f2;
}

.question-comments > button:focus,
.answer-comments > button:focus {
  outline: 1px solid #1da0dd;
}

.question-comment-form input,
.answer-comment-form input {
  height: 25px;
  font-size: 12.8px;
  padding: 0;
  margin-left: -6px;
  padding-left: 6px;
  width: calc(100% - 105px);
}

.question-comment-form button,
.answer-comment-form button {
  width: 105px;
  height: 25px;
  font-size: 12.8px;
  padding: 0;
}

/*=========================================
|                 ANSWERS                 |
=========================================== */

form.create-answer-form {
  text-align: center;
  padding: 0 16px;
}

.answer-header {
  font-size: 18px;
  padding: 4px 8px;
  border-bottom: 1px solid #D8DBE2;
}

section.answers ul.answer-menu {
  margin: 0;
  padding: 0 16px;
  margin-bottom: 8px;
}

section.answers ul.answer-menu > li {
  font-size: 14px;
  border-bottom: 1px solid #D8DBE2;
  padding: 8px 0;
}

section.answers .answer {
  font-size: inherit;
  margin-top: 4px;
  margin-bottom: 8px;
}

/* =========================================
|               ANSWER-BLOCK               |
============================================ */

.editor {
  font-size: 20px;
  height: 200px;
}

.ql-toolbar {
  text-align: center;
}

.ql-snow .ql-tooltip[data-mode=formula]::before,
.ql-snow .ql-tooltip[data-mode=link]::before {
  font-size: 16px;
}

.ask-button,
.answer-button {
  width: 250px;
  height: 40px;
  font-size: inherit;
}

/* ======================================
|                   ASK                 |
========================================= */

/* Slim Select */

.ss-main .ss-single-selected,
.ss-main .ss-multi-selected {
  min-height: 42px;
  padding: 6px 12px;
}

.ss-main .ss-multi-selected .ss-add {
  display: flex;
  width: 8px;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  margin: 0 6px;
}

.ss-main .ss-multi-selected .ss-values .ss-value {
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  padding: 4px 6px;
  color: #333;
  background-color: #e3e8ec;
  border-radius: 4px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ss-main .ss-content .ss-list .ss-option:hover {
  color: #000;
  background-color: #f8f9fa;
}

.ss-main .ss-content .ss-list .ss-option:focus {
  background-color: #ddd;
}

/* /Slim Select */

/* ======================================
|             SIGN IN/SIGN UP           |
========================================= */

.google-btn {
  width: 100%;
  height: 42px;
  border: 1px solid #B8B6B6;
  background-color: #fff;
  padding: 0;
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}

.google-btn:hover {
  border: 1px solid #1da0dd;
  background-color: #fff;
}

.google-icon {
  width: 33px;
  height: 33px;
  margin-right: 3px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: transparent;
}

.login-method-swap {
  font-size: 14px;
}

.login-method-swap a {
  font-size: inherit;
}

/* ======================================
|              User Profile             |
========================================= */

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-pills {
  width: 33.33%;
  height: 40px;
  padding: 0;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-pills:hover {
  cursor: pointer;
}

.nav-pills a {
  color: inherit;
}

.nav-pills.active {
  color: #6c53a7;
  border-bottom: 3px solid #6c53a7;
}

.nav-pills.active a {
  font-weight: 600;
}

.user-stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-stats {
  width: 200px;
  height: 200px;
  text-align: center;
  border: 3px solid #6c53a7;
  border-radius: 100%;
  position: relative;
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-stats-value {
  font-size: 45px;
}

.avatar-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-settings-container img {
  margin: 0;
  margin-bottom: 8px;
}

.verified-text {
  color: #2ac787;
}

/* ======================================
|             SEARCH RESULT             |
========================================= */

.search-input-container {
  position: relative;
}

.search-input {
  padding-left: 36px;
}

.search-input + i {
  position: absolute;
  top: 9px;
  left: 17px;
  font-size: 20px;
}

.spmpaper-img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
}

a.blog-home-link {
  font-size: 30px;
}

.blog-post {
  background-color: #eee;
  padding: 0;
  margin-bottom: 6px;
  height: auto;
  transition-duration: 0.25s;
}

.blog-post:hover {
  transform: scale(1.015);
  cursor: pointer;
  box-shadow: 0 10px 50px -5px rgba(51, 71, 91, 0.12);
  background-color: #eaf0f6;
}

.blog-title {
  color: #000;
}

.blog-title:hover {
  color: #1da0dd;
}

.blog-tag {
  padding: 6px 12px;
  background-color: #eee;
  border-radius: 4px;
  color: #000;
}

.blog-post a.stretched-link::after {
  z-index: -1;
}

.blog-category {
  z-index: 10;
}

.blog-category:hover {
  text-decoration: underline;
}

.blog-post img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-author-avatar {
  width: 120px;
  height: 120px;
}

section.blog-content .cover-img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__body img {
  width: 100%;
  max-width: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

section.about-the-author {
  text-align: center;
}

section.about-the-author h2 {
  font-weight: 700;
}

.blog__body-editor {
  height: 300px;
}

.blog-logout-dropdown-menu {
  left: -90px;
}

.jssocials-share > a {
  font-size: 18px;
}

.notes-container img {
  max-height: 500px;
}

/* ABOUT page */

section.about .blog-post {
  height: auto;
}

section.about .team-avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 12px;
}

section.features .feature-image-container {
  text-align: center;
  padding: 20px 0;
}

section.features .feature-image-container img {
  width: 120px;
  height: 120px;
}

section.us-elsewhere .nav-pills {
  width: unset;
  height: unset;
}

section.us-elsewhere .nav-pills .nav-item {
  height: unset;
  display: unset;
}

section.us-elsewhere .social-icon {
  font-size: 48px;
}

section.us-elsewhere .nav-link {
  padding: 20px;
}

section.us-elsewhere .nav-link:hover {
  box-shadow: 0 2px 2px rgba(12, 13, 14, 0.2);
}

section.us-elsewhere .nav-link.facebook:hover {
  background-color: #3b5998;
  color: #ffffff;
}

section.us-elsewhere .nav-link.instagram:hover {
  background-color: #f56040;
  color: #ffffff;
}

section.us-elsewhere .nav-link.linkedin:hover {
  background-color: #0077B5;
  color: #ffffff;
}

section.us-elsewhere .nav-link.telegram:hover {
  background-color: #0088cc;
  color: #ffffff;
}

section.us-elsewhere .nav-link.youtube:hover {
  background-color: #ff0000;
  color: #ffffff;
}

section.our-partners div.row > div {
  margin-top: auto;
  margin-bottom: auto;
}

section.lifetime-coins img {
  padding: 30px 0;
  max-height: 160px;
}

@media (min-width: 375px) {
  .question-block-tag {
    max-width: 80px;
  }
}

@media (min-width: 425px) {
  .question-block-tag {
    max-width: 95px;
  }
}

@media (min-width: 470px) {
  .wrapper {
    padding: 30px;
    margin: 50px auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 20px 48px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  /* ============================================
  |                    TAGS                     |
  =============================================== */

  .tag-list-panel {
    width: 49.1%;
  }

  .user-stats-container {
    flex-direction: row;
  }

  .user-stats {
    width: 30vw;
    height: 30vw;
  }

  .avatar-settings-container {
    flex-direction: row;
  }

  .avatar-settings-container img {
    margin: 0;
  }

  .question-block-tag {
    max-width: 130px;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .tag,
  .tag--success,
  .tag.green,
  .green.tag--primary,
  .green.tag--light,
  .primary.tag--success,
  .green.tag--success,
  .tag--light,
  .primary.tag--light,
  .tag.primary,
  .tag--primary {
    font-size: 14px;
  }

  /* .col-md-6 {
      max-width: 49%;
  }

  .col-md-4 {
      max-width: 32.8%;
  } */

  .header {
    padding: 0 12px;
    font-size: 15px;
  }

  .hamburger-button {
    display: none;
  }

  .header-brand {
    display: inline-block;
    height: 60px;
  }

  .nav-container {
    margin-top: 60px;
    padding-top: 12px;
  }

  .content {
    margin-left: 270px;
    width: calc(100% - 270px);
  }

  .search-bar {
    font-size: 15px;
  }

  .nav-sort-container {
    width: 100%;
  }

  .question-block-tag {
    max-width: 150px;
  }

  .answer-block {
    font-size: 15px;
  }

  .answer-block-time {
    font-size: 14px;
  }

  .answer-form {
    font-size: 15px;
  }

  .answer-header {
    padding: 4px 16px;
  }

  form.create-answer-form {
    padding: 0 24px;
  }

  .google-btn {
    height: 42px;
  }

  .google-icon {
    width: 39px;
    height: 39px;
  }

  .login-method-swap {
    font-size: 15px;
  }

  .text-editor-header {
    font-size: 16px;
  }

  .search-button-min {
    top: 12px;
    height: 36px;
  }

  .about-the-creator .panel {
    width: 33%;
    margin: 0 auto;
  }

  .nav-pills {
    width: 100px;
  }

  .user-stats-container {
    flex-direction: column;
  }

  .user-stats {
    width: 200px;
    height: 200px;
  }

  .search-input-container i {
    left: 26px;
  }

  .ask-wrapper {
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 20px 48px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
    margin: 60px auto;
  }

  .notification-dropdown-menu {
    width: 300px;
  }

  .blog-post {
    height: 330px;
  }

  section.recommended-articles .blog-post.recommended-blog-post {
    height: 360px;
    margin: 0;
  }

  section.recommended-articles .blog-post.recommended-blog-post:first-child {
    margin-right: 0.3%;
  }

  section.recommended-articles .blog-post.recommended-blog-post:nth-child(2) {
    margin: 0 0.3%;
  }

  section.recommended-articles .blog-post.recommended-blog-post:nth-child(3) {
    margin-left: 0.3%;
  }

  .blog-post:nth-child(odd) {
    margin-right: 0.5%;
  }

  .blog-post:nth-child(even) {
    margin-left: 0.5%;
  }

  section.no-questions-found {
    padding: 120px 0;
  }
}

@media (min-width: 918px) {
  .user-stats-container {
    flex-direction: row;
  }

  .user-stats {
    width: 200px;
    height: 200px;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 998px) {
  .question-block-stats {
    font-size: 18px;
    width: 110px;
  }

  .tag-list-panel {
    width: 32%;
  }

  .user-stats {
    width: 18vw;
    height: 18vw;
  }

  section.no-questions-found img {
    width: 300px;
    height: 300px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

html {
  visibility: visible;
  opacity: 1;
}

html,
body {
  background-color: #F0F2F5;
}

html {
  height: 100%;
}

.root {
  position: relative;
  padding-top: 60px;
  min-height: 95vh;
}

* {
  font-family: "Poppins", "Roboto", sans-serif;
  letter-spacing: 0.3px;
  box-sizing: border-box;
}

h1,
.h1 {
  font-size: 36px;
  color: #000000;
  font-weight: 500;
}

h2,
.h2 {
  font-size: 32px;
  color: #000000;
  font-weight: 500;
}

h3,
.h3 {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

h1 span,
h1 a,
h2 span,
h2 a,
h3 span,
h3 a,
h4 span,
h4 a,
h5 span,
h5 a,
h6 span,
h6 a {
  font-size: inherit;
}

li {
  font-size: 14px;
}

div,
a,
p,
span,
button,
label,
input,
blockquote {
  font-size: 14px;
}

button {
  padding: 8px 12px;
  background-color: transparent;
  border: 0;
}

button:hover,
button:focus {
  outline: 0;
  border: 0;
}

label {
  display: block;
  color: #505050;
  letter-spacing: 0.5px;
  font-weight: 500;
}

label.normal-weight {
  font-weight: 400;
}

select {
  width: 100%;
  height: 42px;
  border: 1px solid lightgray;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='lightgray'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 10px) 17px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

select:focus {
  border: 2px solid #1da0dd;
  outline: 0;
}

input {
  display: block;
  width: 100%;
  height: 42px;
  padding: 6px 12px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

input:hover {
  border: 1px solid #1da0dd;
}

input:focus {
  border: 1px solid #1da0dd;
  outline: 0;
}

input:-moz-read-only {
  background-color: #DCDCDC;
}

input:read-only {
  background-color: #DCDCDC;
}

input[type=checkbox] {
  display: inline-block;
  width: unset;
  height: unset;
  margin-right: 3px;
}

input[type=checkbox] + label {
  display: inline-block;
  margin: 0;
}

input[type=checkbox]:disabled {
  cursor: not-allowed;
}

input[type=checkbox]:disabled + label:hover {
  cursor: not-allowed;
}

label {
  margin-bottom: 4px;
  letter-spacing: 0.3px;
  font-weight: 500;
  color: #505050;
}

textarea {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid lightgray;
  border-radius: 4px;
  resize: vertical;
}

textarea:hover {
  border: 1px solid #1da0dd;
}

textarea:focus {
  border: 1px solid #1da0dd;
  outline: 0;
}

input,
textarea {
  border: 1px solid lightgray;
  font-size: 14px;
}

input:focus,
textarea:focus {
  border: 2px solid #1da0dd;
  outline: 0;
}

th,
tr,
td {
  font-size: 14px;
  padding: 6px 8px;
}

a.disabled:hover {
  cursor: not-allowed;
}

.alert-primary {
  color: #000000;
  background-color: #e0fbfc;
  border-color: #B6D9EE;
}

#toast-container > .toast-success {
  background-color: #26b67c;
}

#toast-container > .toast-danger,
#toast-container > .toast-error {
  background-color: #e63946;
}

#toast-container > .toast-info {
  background-color: #198dc2;
}

.toast-top-right {
  top: 64px;
}

.jssocials-share {
  background-color: transparent;
  color: darkgray !important;
}

.jssocials-share .jssocials-share-link {
  color: inherit !important;
  font-size: 16px;
}

.jssocials-share i.fa {
  font-family: "Font Awesome 5 Brands" !important;
  font-weight: 400;
}

.swal2-confirm {
  background-color: #2174D3;
}

.swal2-confirm:hover {
  background-color: #064389;
}

textarea.tinymce-editor {
  display: none;
}

.mce-content-body {
  margin: 0;
  padding: 6px 12px !important;
}

.editor {
  height: 100%;
}

.ql-editor {
  height: 250px;
  resize: vertical;
  border: 1px solid transparent;
}

.ql-editor:hover {
  border: 1px solid #1da0dd;
}

.ql-editor:focus {
  border: 2px solid #1da0dd;
}

.icon-lg {
  font-size: 24px;
}

.bg-lighter-blue {
  background-color: #B6D9EE;
}

.bg-blue2 {
  background-color: #B6D9EE;
}

.bg-light-red {
  background-color: #e77e87;
}

.modal-dialog {
  background-color: #ffffff;
}

.modal-content {
  border: 0;
  border-radius: 4px;
  background-color: #ffffff;
}

.list-group-item {
  border: 0;
  padding: 16px 18px;
}

.list-group-item:hover {
  border: 0;
}

.list-group-item.active {
  color: #ffffff;
  background-color: #2174D3;
}

.list-group-item.active:hover {
  background-color: #064389;
}

.nav-tabs {
  border-bottom: 1px solid #DCDCDC;
}

.data-header {
  font-weight: 700;
}

.data-header,
.data-row {
  display: flex;
}

.data-header .key,
.data-row .key {
  font-weight: inherit;
  min-width: 90%;
  color: gray;
}

.data-header .value,
.data-row .value {
  font-weight: inherit;
  text-align: center;
  min-width: 10%;
}

.mb-2 {
  margin-bottom: 8px;
}

.dashboard h2 {
  font-size: 24px;
  font-weight: 700;
}

.list-style-none {
  list-style: none;
}

.card {
  border: 1px solid #DCDCDC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.ql-toolbar {
  text-align: center;
}

.container-wider {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-wider {
    max-width: 740px;
  }
}

@media (min-width: 768px) {
  .container-wider {
    max-width: 920px;
  }
}

@media (min-width: 992px) {
  .container-wider {
    max-width: 1160px;
  }
}

@media (min-width: 1200px) {
  .container-wider {
    max-width: 1340px;
  }
}

.dataTables_length {
  float: left;
}

.dataTables_filter {
  float: right;
  display: none;
}

@media (min-width: 768px) {
  .dataTables_filter {
    display: block;
  }
}

.dataTables_info {
  float: left;
  padding: 12px 0;
  margin-bottom: 16px;
}

.dataTables_paginate {
  float: right;
  padding: 12px 0;
  margin-bottom: 16px;
}

.paginate_button {
  border-radius: 0;
  border: 1px solid lightgray;
  background-color: transparent;
  color: #2174D3 !important;
  padding: 8px 12px;
}

.paginate_button:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.paginate_button.current {
  color: #ffffff !important;
  background-color: #2174D3;
}

.border-gold {
  border: 1px solid #FFDF00;
}

.border-width3px {
  border-width: 3px;
}

.dropdown-item:focus {
  color: inherit;
  background-color: lightgray;
}

.modal-dialog {
  background-color: #ffffff;
  border-radius: 4px;
}

.modal-open .modal {
  padding: 0 !important;
}

.tui-full-calendar-time-schedule-content {
  font-weight: 400;
}

.modal-header .close span {
  font-size: 22px;
}

#calendarMenu {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#calendarMenu .calendar-render-range {
  font-weight: 700;
  font-size: 18px;
}

#calendarMenu .menu-navi {
  margin-right: 8px;
}

#calendarMenu .calendar-btn {
  border-radius: 1000px;
  border: 1px solid lightgray;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  margin-right: 3px;
  padding: 8px 10px;
}

#calendarMenu .calendar-btn:disabled {
  color: gray;
  background-color: #DCDCDC;
}

#calendarMenu .calendar-btn .calendar-move-today {
  padding: 0 16px;
  line-height: 30px;
  font-weight: 700;
}

#calendarMenu .calendar-btn .calendar-move-day {
  padding: 8px;
}

#calendarMenu .calendar-btn .calendar-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

#calendarMenu .calendar-btn .ic-arrow-line-left {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAK1JREFUKBVjYKAFaGhoYMJlLjMuibS0NNZHjx6t1tHR0bx69eoBdHVYTQRpev/+/Uqg4sD////rYbOZEd0kZE1AufWCgoLhs2bN+o2uDkUjsZpAhsA1kqIJpBGrH0EShAA8VM+ePfvPxsZm3Y8fP3SAmgJBNIgPEsdmCFwjSJIUzRhOBYUgKCSB5qwH4kBQtBAVHSCbQQAWWIyMjJdWrVrVABYklsBmE7F6caoDAB4rYZDo034sAAAAAElFTkSuQmCC") no-repeat;
}

#calendarMenu .calendar-btn .ic-arrow-line-right {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAKNJREFUKBVjYKA2aGhoYMJnJiM2ybCwsIb////rCQoKhs+aNes3NjUYpoJsAmkCKg58//79yrS0NFZsGrHaCFIM0gTSDMTrsdnMjM20s2fP/rOxsVn348cPHZBmEA3ig8Rh6rFqBEkS0ozhR5iJhGisfgRpIuRPrBoJaQIZjOFUUHQQClGQRozAOXDgwH8dHR1NoNx7bNEA0oQXEEpyeDXjkwQAiyNhSndGN/YAAAAASUVORK5CYII=") no-repeat;
}

.tinymce-editor-contents {
  margin-top: 8px;
}

.tinymce-editor-contents * {
  font-family: "Poppins", "Roboto", sans-serif;
}

.tinymce-editor-contents h2,
.tinymce-editor-contents h3,
.tinymce-editor-contents h4 {
  margin-bottom: 16px;
}

.tinymce-editor-contents h2 {
  font-size: 28px;
  font-weight: 700;
}

.tinymce-editor-contents h3 {
  font-size: 22px;
  font-weight: 700;
}

.tinymce-editor-contents h4 {
  font-size: 18px;
  font-weight: 500;
  color: gray;
}

.tinymce-editor-contents p {
  margin-bottom: 8px;
}

.tinymce-editor-contents hr {
  margin: 24px 0;
  border-bottom: 1px solid #DCDCDC;
}

.tinymce-editor-contents img {
  max-width: 100%;
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

.tinymce-editor-contents .content-wrapper,
.tinymce-editor-contents .content-blockquote {
  padding: 8px 12px;
  margin-bottom: 16px;
  border-radius: 4px;
}

.tinymce-editor-contents .content-wrapper *:last-child,
.tinymce-editor-contents .content-blockquote *:last-child {
  margin-bottom: 0;
}

.tinymce-editor-contents .content-wrapper {
  border: 1px solid #B6D9EE;
  background-color: #e0fbfc;
}

.tinymce-editor-contents .content-blockquote {
  border: 1px solid #DCDCDC;
  border-left: 4px solid #2174D3;
  padding: 8px;
  padding-left: 16px;
  background-color: #F5F5F5;
}

.badge-light {
  background-color: #DCDCDC;
  color: gray;
}

.selectize-input {
  padding: 8px 12px;
}

.selectize-input input {
  height: 26px;
}

.selectize-control.multi .selectize-input > div {
  border-radius: 4px;
  padding: 6px;
}

.selectize-dropdown-content > div.create {
  padding: 8px;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  line-height: 26px;
}

@media screen and (min-width: 992px) {
  .w-lg-100 {
    width: 100%;
  }
}

.bg-success,
.bg-green {
  background-color: #26b67c;
}

.bg-warning,
.bg-orange {
  background-color: #FF8C00;
}

.bg-blue5 {
  background-color: #2174D3 !important;
}

.bg-info,
.bg-blue6 {
  background-color: #064389 !important;
}

.bg-danger,
.bg-red {
  background-color: #e63946 !important;
}

.bg-gray5 {
  background-color: #DCDCDC !important;
}

.bg-body {
  background-color: #F0F2F5 !important;
}

.bg-gray6 {
  background-color: #F5F5F5 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-dark-red {
  background-color: #ba333e !important;
}

.bg-blue1 {
  background-color: #e0fbfc !important;
}

.bg-blue4 {
  background-color: #198dc2 !important;
}

.bg-blue6 {
  background-color: #064389 !important;
}

.box-shadow1 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.gray1 {
  color: #505050 !important;
}

.gray2 {
  color: gray !important;
}

.gray3 {
  color: darkgray !important;
}

.gray4 {
  color: lightgray !important;
}

.uppercase {
  text-transform: uppercase;
}

.border-bottom-gray2 {
  border-bottom: 1px solid gray;
}

.white {
  color: #ffffff;
}

.red {
  color: #e63946 !important;
}

.dark-red {
  color: #ba333e !important;
}

.yellow {
  color: #FFD700 !important;
}

.dark-yellow {
  color: #d1b200 !important;
}

.orange {
  color: #FF8C00 !important;
}

.blue4 {
  color: #198dc2 !important;
}

.blue5 {
  color: #2174D3;
}

.blue6 {
  color: #064389;
}

.dark-red {
  color: #ba333e;
}

.error {
  color: #e63946;
}

.green {
  color: #26b67c !important;
}

.orange {
  color: #FF8C00 !important;
}

.color-inherit {
  color: inherit;
}

.font-size-inherit {
  font-size: inherit;
}

.font-size1 {
  font-size: 11px !important;
}

.font-size2 {
  font-size: 13px;
}

.font-size3 {
  font-size: 14px;
}

.font-size4 {
  font-size: 16px;
}

.font-size5 {
  font-size: 18px;
}

.font-size6 {
  font-size: 22px;
}

.font-size7 {
  font-size: 24px;
}

.font-size8 {
  font-size: 28px;
}

.font-size9 {
  font-size: 32px;
}

.font-size10 {
  font-size: 36px;
}

.font-size11 {
  font-size: 44px;
}

.font-size12 {
  font-size: 48px;
}

.font-size-64px {
  font-size: 64px;
}

.font-weight400 {
  font-weight: 400;
}

.font-weight500 {
  font-weight: 500;
}

.font-weight700 {
  font-weight: 700;
}

.minw-100px {
  min-width: 100px;
}

.mw-100px {
  max-width: 100px;
}

.minw-50px {
  min-width: 50px;
}

.minw-150px {
  min-width: 150px;
}

.minw-250px {
  min-width: 250px;
}

.w-150px {
  width: 150px;
}

.w-250px {
  width: 250px;
}

.minw-62px {
  min-width: 62px;
}

.maxw-50px {
  max-width: 50px;
}

.maxw-70px {
  max-width: 70px;
}

.maxw-100px {
  max-width: 100px;
}

.maxw-150px {
  max-width: 150px;
}

.maxw-250px {
  max-width: 250px;
}

.maxw-460px {
  max-width: 460px;
}

.maxw-600px {
  max-width: 600px;
}

.maxw-740px {
  max-width: 740px;
}

.maxw-960px {
  max-width: 960px;
}

.mw-50 {
  max-width: 496px;
}

.mw-70 {
  max-width: 694.4px;
}

.mw-80 {
  max-width: 793.6px;
}

.mw-100 {
  max-width: 992px;
}

.max-100pct {
  max-width: 100% !important;
}

.mw-30px {
  min-width: 30px;
}

.mw-150px {
  min-width: 150px;
}

.mw-300px {
  min-width: 300px;
}

.h-225px {
  height: 225px;
}

.h-250px {
  height: 250px;
}

.flex-1 {
  flex: 1;
}

.all-caps {
  text-transform: uppercase;
}

.font-sm {
  font-size: 13px;
}

.recommended {
  color: #FFD700;
}

.checked {
  color: #26b67c;
}

.grow {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.grow:hover {
  transform: scale(1.02);
}

.linkedin .iconify:hover {
  color: #0e76a8;
}

.youtube .iconify:hover {
  color: #ff0000;
}

.facebook .iconify:hover {
  color: #3b5998;
}

.instagram .iconify:hover {
  color: #dd2a7b;
}

.w100-header {
  background-color: #ffffff;
  padding: 16px 0;
}

.color-inherit {
  color: inherit;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.scale-on-hover:hover {
  transform: scale(1.02);
}

.fast {
  transition-duration: 0.2s;
}

.text-uppercase {
  text-transform: uppercase;
}

.white-hoverable {
  background-color: #ffffff;
}

.white-hoverable:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.px-12px {
  padding-left: 12px;
  padding-right: 12px;
}

.border-gray3 {
  border-color: darkgray !important;
}

.border-gray4 {
  border-color: lightgray !important;
}

.border-gray5 {
  border-color: #DCDCDC !important;
}

.border-gray6 {
  border-color: #F5F5F5 !important;
}

.border-red {
  border-color: #e63946 !important;
}

.border-blue5 {
  border-color: #2174D3 !important;
}

.border-width-3px {
  border-width: 3px !important;
}

.border-left-white-3px {
  border-left: 3px solid #ffffff !important;
}

.border-left-green-3px {
  border-left: 3px solid #26b67c !important;
}

.border-left-yellow-3px {
  border-left: 3px solid #FFD700 !important;
}

.border-left-gray5-3px {
  border-left: 3px solid #DCDCDC !important;
}

.border-left-blue5-3px {
  border-left: 3px solid #2174D3 !important;
}

.border-left-blue6-3px {
  border-left: 3px solid #064389 !important;
}

.h-500px {
  height: 500px;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-cover {
  background-size: cover;
}

.bg-gray2 {
  background-color: gray;
}

.filter--blur-1px {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

/*
|         |
| Overlay |
|         |
*/

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.5);
}

.header,
.header2 {
  color: #000000;
  z-index: 1025;
}

/*
 * ----------------------
 * NOTIFICATION DROPDDOWN
 * ----------------------
 */

.notification-dropdown-menu {
  width: 335px;
  top: 47px;
  left: unset;
  right: -150px;
  padding: 0;
}

@media (min-width: 992px) {
  .notification-dropdown-menu {
    right: -60px;
  }
}

.notification-dropdown-menu:hover {
  cursor: default;
}

.notification-dropdown-menu .dropdown-header {
  border-bottom: 1px solid #DCDCDC;
  padding: 12px;
  z-index: 10;
  background-color: #F5F5F5;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
}

.notification-badge {
  position: absolute;
  border-radius: 100%;
  top: 0px;
  left: 48%;
}

.notification-badge:hover {
  cursor: pointer;
}

.notification-dropdown-list {
  padding: 0;
  overflow: auto;
  max-height: 60vh;
}

.notification-list-item {
  padding: 8px 12px;
  position: relative;
  border-bottom: 1px solid #DCDCDC;
}

.notification-list-item:hover {
  background-color: #F5F5F5;
}

.notification-list-item.unread {
  background-color: #e0fbfc;
}

.notification-list-item.unread:hover {
  background-color: #F5F5F5;
}

.notification-list-item p,
.notification-list-item span {
  font-size: 13px;
}

.notification-list-item p {
  margin-bottom: 4px;
}

.mobile-nav-link {
  font-size: inherit;
}

.mobile-nav-dropdown-menu-item {
  font-size: 13px;
}

.mobile-nav-dropdown-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.mobile-nav-dropdown-menu-link {
  color: inherit;
  font-size: inherit;
  display: inline-block;
  padding: 3px 0;
}

.mobile-nav-dropdown-menu-link:hover {
  color: inherit;
}

.hamburger-button {
  padding: 8px;
  display: block;
}

@media (min-width: 992px) {
  .hamburger-button {
    display: none;
  }
}

.header {
  width: 100%;
  font-size: 15px;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1000;
  padding: 0 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
}

.header-icon {
  font-size: 18px;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding-bottom: 4px;
}

.header-icon:hover,
.header-icon:focus {
  background-color: #F5F5F5;
}

.header-icon:focus {
  color: #2174D3;
}

a.header-brand {
  display: inline-block;
  height: 60px;
  padding: 12px 0;
}

.search-input-header {
  padding: 6px 12px;
  padding-left: 32px;
  color: #000000;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.search-input-header:hover,
.search-input-header:focus {
  color: #000000;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__sidenav {
  background-color: transparent;
  box-shadow: none;
}

/* total width */

.header__sidenav::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.03);
  width: 8px;
}

/* background of the scrollbar except button or resizer */

.header__sidenav::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.03);
}

.header__sidenav::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

/* scrollbar itself */

.header__sidenav::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.03);
}

.header__sidenav::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 1px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.header__sidenav .heading {
  font-weight: 700;
  color: #000000;
  font-size: 16px;
}

.nav-icon {
  display: inline-block;
  width: 40px;
  font-size: 22px;
  text-align: center;
  line-height: unset;
  padding-top: 0;
  padding-bottom: 2px;
}

.nav-icon img {
  width: 25px;
  height: 25px;
}

.nav-pills .nav-link {
  font-weight: inherit;
  color: inherit;
  padding: 0;
}

.nav-pills .nav-link.active {
  background-color: #2174D3;
}

.nav-pills:hover {
  color: inherit;
}

.mobile-nav-dropdown-arrow {
  position: absolute;
  right: 0;
  width: 50px;
  height: 40px;
  text-align: center;
  padding-top: 9px;
  z-index: 10;
}

.mobile-nav-dropdown-arrow:hover {
  cursor: pointer;
}

.mobile-nav-dropdown-menu {
  display: none;
  list-style: none;
  width: 80%;
  margin-top: 1px;
  margin-left: 48px;
}

.mobile-nav-dropdown-menu-item {
  padding: 2px 8px;
  cursor: pointer;
  border-left: 5px solid transparent;
  position: relative;
}

.mobile-nav-dropdown-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.mobile-nav-dropdown-menu-item.active {
  background-color: transparent;
  border-left: 5px solid #2174D3;
  font-weight: 700;
}

.mobile-nav-dropdown-menu-item.active:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.mobile-nav-dropdown-menu-item .mobile-nav-dropdown-arrow {
  padding: 0;
  padding-top: 2px;
}

ul.mobile-nav-dropdown-menu__level-2 {
  display: none;
  margin-left: 30px;
  list-style: none;
}

.mobile-nav-dropdown-menu-link {
  color: #000000;
}

.mobile-nav-dropdown-menu-link:hover {
  color: #000000;
  text-decoration: none;
}

.nav-footer {
  padding-left: 8px;
  font-size: 14px;
}

.nav-footer a {
  margin-right: 4px;
  font-size: 14px;
}

.mobile-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  z-index: 1000;
  color: #000000;
  background-color: #ffffff;
  overflow: auto;
}

.mobile-nav-container h2 {
  padding: 8px 12px;
  font-weight: 700;
}

.mobile-nav-brand {
  padding: 0 15px;
  height: 66px;
  display: inline-block;
}

.mobile-nav-brand.mobile-base-nav-brand {
  padding: 18px 0;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.mobile-nav-menu {
  list-style: none;
  font-size: 14px;
}

.mobile-nav-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
  border-left: 5px solid transparent;
  margin-left: 4px;
  transition-duration: 0.05s;
}

.mobile-nav-item:hover {
  background-color: #F5F5F5;
}

.mobile-nav-item.active {
  border-left: 5px solid #2174D3;
  font-weight: 700;
  color: #2174D3;
}

.mobile-nav-icon {
  display: inline-block;
  width: 40px;
  height: auto;
  font-size: 22px;
  text-align: center;
  padding-bottom: 2px;
}

.mobile-nav-link {
  font-size: inherit;
  color: inherit;
}

.mobile-nav-link:hover {
  color: inherit;
}

.mobile-nav-container h3 {
  font-weight: 700;
  color: #000000;
  font-size: 16px;
}

.mobile-nav-dropdown-menu-item {
  padding: 2px 8px;
  border-left: 5px solid transparent;
  font-size: 13px;
}

.mobile-nav-dropdown-menu-item:hover {
  background-color: #F5F5F5;
}

.mobile-nav-dropdown-menu-item.active {
  font-weight: 700;
  border-left: 5px solid #2174D3;
}

.mobile-nav-dropdown-menu-link {
  display: inline-block;
  padding: 3px 0;
  color: inherit;
  font-size: inherit;
}

.mobile-nav-dropdown-menu-link:hover {
  color: inherit;
}

.header__coins-points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: 100%;
  padding-left: 8px;
  color: #000000;
}

.header__coins-points-button {
  padding: 0;
  color: inherit;
  display: inline-flex;
  align-items: center;
}

.header__coins-points-button .inline-image {
  margin: 0;
  padding: 2px;
}

.header__coins-points-button .value {
  text-align: center;
  display: inline-block;
  width: 50px;
}

/*
|         |
| Header2 |
|         |
*/

.header2 {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  color: #000000;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}

.header2__section:not(:last-child) {
  margin-bottom: 8px;
}

.header2__section h3 {
  padding: 0 8px;
}

.header2__left {
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: start;
}

.header2__logo {
  width: 140px;
  height: auto;
  padding: 8px 0;
  margin: 0;
  margin-left: 4px;
}

.header2__hamburger-button {
  background-color: transparent;
  padding: 8px;
  color: inherit;
  font-size: 18px;
  line-height: 18px;
}

.header2__right {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
}

.header2__mobile-search-icon,
.bell-icon {
  margin-right: 4px;
  font-size: 18px;
}

.header2__mobile-search-form {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
}

.header2__mobile-search-form.show {
  display: block;
}

.header2__search-icon {
  margin-right: 4px;
  background-color: transparent;
  color: white;
}

.header2__search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 400px;
  display: inline-block;
  height: 40px;
}

.header2__search-form .iconify {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 18px;
}

.header2__search-form input {
  padding: 6px 12px;
  padding-left: 36px;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header2__search-form input:hover {
  border: 1px solid #1da0dd;
}

.header2__search-form input:focus {
  border: 2px solid #1da0dd;
}

.header2__search-form input::-webkit-input-placeholder {
  opacity: 0.7;
}

.header2__search-form input::-moz-placeholder {
  opacity: 0.7;
}

.header2__search-form input:-ms-input-placeholder {
  opacity: 0.7;
}

.header2__search-form input::-ms-input-placeholder {
  opacity: 0.7;
}

.header2__search-form input::placeholder {
  opacity: 0.7;
}

.base-header {
  justify-content: space-between;
}

.base-header__left .base-header__brand {
  display: inline-block;
  height: 60px;
  padding: 13px 0;
}

@media (min-width: 992px) {
  .base-header__left .base-header__brand {
    margin-right: 12px;
  }
}

.base-header__dropdown-menu {
  left: unset;
  right: 0;
}

.mobile-base-nav-item {
  margin: 0;
  font-size: 16px;
  padding: 8px 15px;
  height: unset;
}

.mobile-base-nav-item:first-child {
  margin-top: 8px;
}

.mobile-base-nav-item .iconify {
  font-size: 22px;
  margin-right: 12px;
}

.mobile-base-nav-icon {
  font-size: 24px;
}

.base-header a:hover {
  color: #000000;
  text-decoration: none;
}

.base-header .button--primary,
.base-header .button--success {
  color: #ffffff;
}

.base-header .button--primary:hover,
.base-header .button--success:hover {
  color: #ffffff;
}

.base-header__login-links-container {
  padding: 0 6px;
  text-align: center;
}

.base-header__login-links-container a {
  display: block;
  width: 100%;
  padding: 12px;
}

.base-header__left {
  display: flex;
}

.base-header__menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

.base-header__menu .base-header__menu-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 3px solid transparent;
  padding: 20px 12px 16px;
  color: #000000;
}

.base-header__menu .base-header__menu-item a {
  color: inherit;
}

.base-header__menu .base-header__menu-item a.active {
  color: #064389;
}

.base-header__menu .base-header__menu-item a.active:hover {
  font-weight: #2174D3;
}

.base-header__menu .base-header__menu-item i {
  color: gray;
  font-size: 12px;
}

.base-header__menu .base-header__menu-item:hover {
  cursor: pointer;
  color: #2174D3;
}

.base-header__menu .base-header__menu-item:hover > ul.dropdown-menu {
  display: block;
}

.base-header__menu .base-header__menu-item ul.dropdown-menu {
  display: none;
  list-style: none;
  position: absolute;
  top: 90%;
  left: 3px;
  padding: 8px;
}

.base-header__menu .base-header__menu-item ul.dropdown-menu li {
  color: #000000;
  background-color: transparent;
  padding: 8px 12px;
  position: relative;
  border-left: 3px solid transparent;
}

.base-header__menu .base-header__menu-item ul.dropdown-menu li.active {
  border-left: 3px solid #2174D3;
  font-weight: 700;
  color: #2174D3;
}

.base-header__menu .base-header__menu-item ul.dropdown-menu li a {
  color: inherit;
}

.base-header__menu .base-header__menu-item ul.dropdown-menu li a:hover {
  text-decoration: none;
}

.base-header__menu .base-header__menu-item ul.dropdown-menu li:hover {
  background-color: #F5F5F5;
}

.base-header__menu .base-header__menu-item.active {
  border-bottom: 3px solid #2174D3;
}

.base-header__menu .base-header__menu-item.active .base-header__menu-link {
  font-weight: 700;
  color: #2174D3;
}

.dropdown-menu .dropdown-toggle:after {
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

.dropdown-menu .dropdown-menu {
  margin-left: 0;
  margin-right: 0;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu > li:hover > .submenu__level-2 {
  display: block;
  top: 5px;
  left: 50%;
  position: absolute;
}

.filter-container {
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 4px;
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  .filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.filter-container .select-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4px;
}

.filter-container .select-container select {
  margin-bottom: 4px;
}

@media (min-width: 992px) {
  .filter-container .select-container select {
    margin-bottom: 0;
  }

  .filter-container .select-container select:not(:last-child) {
    margin-right: 8px;
  }
}

.filter-container .filter-buttons {
  text-align: right;
}

.filter-select--md {
  width: 100%;
}

@media (min-width: 992px) {
  .filter-select--md {
    width: 150px;
  }
}

.filter-select--lg {
  width: 100%;
}

@media (min-width: 992px) {
  .filter-select--lg {
    width: 250px;
  }
}

.filter-select--xl {
  width: 100%;
}

@media (min-width: 992px) {
  .filter-select--xl {
    width: 300px;
  }
}

.loading-icon {
  border-radius: 50%;
}

.loading-icon.in-button {
  margin: 0 auto;
  width: 21px;
  height: 21px;
}

.loading-icon.in-editor {
  padding: 12px 0;
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

.loading-icon.loading {
  -webkit-animation: rotate 0.6s infinite linear;
          animation: rotate 0.6s infinite linear;
}

.loading-icon.white {
  border: 3px #DCDCDC solid;
  border-top: 3px #ffffff solid;
}

.loading-icon.blue {
  border: 3px #064389 solid;
  border-top: 3px #e0fbfc solid;
}

.square-dot {
  border: 0;
  padding: 4px;
  margin: 0;
  display: inline-block;
}

.dropdown-menu.right {
  left: unset;
  right: 0;
}

.page-header {
  font-size: 24px;
  font-weight: 700;
  color: #505050;
  margin-bottom: 0;
}

.page-subheader {
  font-size: 18px;
  font-weight: 500;
  color: gray;
  margin-bottom: 0;
}

.wrapper,
.ask-wrapper {
  width: 100%;
  padding: 24px 20px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  margin: 0 auto;
  padding: 30px;
}

.wrapper .heading,
.wrapper .sub-heading,
.ask-wrapper .heading,
.ask-wrapper .sub-heading {
  text-align: center;
}

.wrapper .heading,
.ask-wrapper .heading {
  color: #2174D3;
  font-size: 28px;
  margin-bottom: 8px;
  font-weight: 700;
}

.wrapper .sub-heading,
.ask-wrapper .sub-heading {
  color: #000000;
  font-size: 16px;
}

.wrapper [type=submit],
.ask-wrapper [type=submit] {
  text-align: center;
}

.wrapper {
  min-width: 300px;
  max-width: 460px;
}

.ask-wrapper {
  min-width: 300px;
  max-width: 740px;
}

.inline-image {
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

a.header-link {
  color: #000000;
}

a.header-link:hover {
  color: #000000;
  text-decoration: none;
}

a.inactive {
  color: #000000;
}

a.inactive:hover {
  color: #000000;
  text-decoration: underline;
}

a.hover-on-underline:hover,
a.underline-on-hover:hover {
  text-decoration: underline;
}

.button-link {
  padding: 0;
  margin: 0;
  display: inline-block;
  color: #000000;
  border: 0;
}

.button-link:hover {
  outline: 0;
  border: 0;
}

.button-link:hover.underline-on-hover {
  text-decoration: underline;
}

.gray-button {
  color: gray;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0;
}

.gray-button .iconify {
  font-size: 20px;
  margin-right: 4px;
}

.gray-button:hover {
  color: #198dc2;
}

.gray-button.disabled {
  color: lightgray;
}

.gray-button.disabled:hover {
  cursor: not-allowed;
}

.gray-button.sm {
  font-size: 13px;
}

.gray-button.sm .iconify {
  font-size: 18px;
  margin-right: 2px;
}

.table th,
.table td {
  color: #505050;
}

.button,
.button--danger--inverse,
.button--danger,
.button--orange--inverse,
.button--orange,
.button--success--inverse,
.button--primary--inverse,
.button--primary,
.button--success {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 8px 12px;
  text-align: center;
  display: inline-block;
}

.button:hover,
.button--danger--inverse:hover,
.button--danger:hover,
.button--orange--inverse:hover,
.button--orange:hover,
.button--success--inverse:hover,
.button--primary--inverse:hover,
.button--primary:hover,
.button--success:hover {
  text-decoration: none;
}

.button .iconify,
.button--danger--inverse .iconify,
.button--danger .iconify,
.button--orange--inverse .iconify,
.button--orange .iconify,
.button--success--inverse .iconify,
.button--primary--inverse .iconify,
.button--primary .iconify,
.button--success .iconify {
  font-size: 18px;
}

.button:disabled,
.button--danger--inverse:disabled,
.button--danger:disabled,
.button--orange--inverse:disabled,
.button--orange:disabled,
.button--success--inverse:disabled,
.button--primary--inverse:disabled,
.button--primary:disabled,
.button--success:disabled {
  cursor: not-allowed;
}

.button.sm,
.sm.button--danger--inverse,
.sm.button--danger,
.sm.button--orange--inverse,
.sm.button--orange,
.sm.button--success--inverse,
.sm.button--primary--inverse,
.sm.button--primary,
.sm.button--success {
  font-size: 14px;
  padding: 4px 8px;
}

.button.sm .iconify,
.sm.button--danger--inverse .iconify,
.sm.button--danger .iconify,
.sm.button--orange--inverse .iconify,
.sm.button--orange .iconify,
.sm.button--success--inverse .iconify,
.sm.button--primary--inverse .iconify,
.sm.button--primary .iconify,
.sm.button--success .iconify {
  font-size: 18px;
}

.button.lg,
.lg.button--danger--inverse,
.lg.button--danger,
.lg.button--orange--inverse,
.lg.button--orange,
.lg.button--success--inverse,
.lg.button--primary--inverse,
.lg.button--primary,
.lg.button--success {
  padding: 12px 16px;
}

.button.lg .iconify,
.lg.button--danger--inverse .iconify,
.lg.button--danger .iconify,
.lg.button--orange--inverse .iconify,
.lg.button--orange .iconify,
.lg.button--success--inverse .iconify,
.lg.button--primary--inverse .iconify,
.lg.button--primary .iconify,
.lg.button--success .iconify {
  font-size: 24px;
}

.button--primary,
.button--success {
  color: #ffffff;
  background-color: #2174D3;
}

.button--primary:hover,
.button--success:hover,
.button--primary:focus,
.button--success:focus {
  color: #ffffff;
  background-color: #064389;
  border: 1px solid transparent;
}

.button--primary.disabled,
.disabled.button--success,
.button--primary:disabled,
.button--success:disabled {
  background-color: #198dc2;
  border: 1px solid transparent;
}

.button--primary.disabled:hover,
.disabled.button--success:hover,
.button--primary:disabled:hover,
.button--success:disabled:hover {
  border: 1px solid transparent;
  background-color: #198dc2;
}

.button--primary--inverse {
  color: #2174D3;
  background-color: #ffffff;
  border: 1px solid #2174D3;
}

.button--primary--inverse:hover,
.button--primary--inverse:focus {
  color: #2174D3;
  background-color: #F5F5F5;
  border: 1px solid #2174D3;
}

.button--primary--inverse.disabled,
.button--primary--inverse:disabled {
  background-color: #DCDCDC;
}

.button--primary--inverse.disabled:hover,
.button--primary--inverse:disabled:hover {
  background-color: #DCDCDC;
}

.button--success {
  color: #ffffff;
  background-color: #26b67c;
  border: 1px solid #26b67c;
}

.button--success:hover,
.button--success:focus {
  color: #ffffff;
  background-color: #1f9868;
}

.button--success.disabled,
.button--success:disabled {
  background-color: #98d6bd;
  border: 1px solid transparent;
}

.button--success.disabled:hover,
.button--success:disabled:hover {
  background-color: #98d6bd;
  border: 1px solid transparent;
}

.button--success--inverse {
  color: #26b67c;
  background-color: #ffffff;
  border: 1px solid #26b67c;
}

.button--success--inverse:hover,
.button--success--inverse:focus {
  color: #26b67c;
  background-color: #F5F5F5;
  border: 1px solid #26b67c;
}

.button--success--inverse.disabled,
.button--success--inverse:disabled {
  background-color: #98d6bd;
}

.button--orange {
  color: #ffffff;
  background-color: #FF8C00;
  border: 1px solid #FF8C00;
}

.button--orange:hover,
.button--orange:focus {
  color: #ffffff;
  background-color: #e67e00;
  border: 1px solid #FF8C00;
}

.button--orange:disabled {
  background-color: #ffa333;
  border: 1px solid transparent;
}

.button--orange--inverse {
  color: #FF8C00;
  background-color: #ffffff;
  border: 1px solid #FF8C00;
}

.button--orange--inverse:hover,
.button--orange--inverse:focus {
  color: #FF8C00;
  background-color: #F5F5F5;
  border: 1px solid #FF8C00;
}

.button--orange--inverse:disabled {
  background-color: #ffa333;
}

.button--danger {
  color: #ffffff;
  background-color: #e63946;
  border: 1px solid #e63946;
}

.button--danger:hover,
.button--danger:focus {
  color: #ffffff;
  background-color: #ba333e;
  border: 1px solid #e63946;
}

.button--danger:disabled {
  background-color: #e77e87;
  border: 1px solid transparent;
}

.button--danger--inverse {
  color: #e63946;
  background-color: #ffffff;
  border: 1px solid #e63946;
}

.button--danger--inverse:hover,
.button--danger--inverse:focus {
  color: #e63946;
  background-color: #F5F5F5;
  border: 1px solid #e63946;
}

.button--danger--inverse:disabled {
  background-color: #e77e87;
}

.google-btn {
  width: 100%;
  height: 42px;
  border: 1px solid gray;
  background-color: #ffffff;
  padding: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.google-btn:hover,
.google-btn:focus {
  border: 1px solid #1da0dd;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.google-icon {
  width: 33px;
  height: 33px;
  margin-right: 3px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: transparent;
}

.panel {
  padding: 8px 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.panel.p-0 .panel-header {
  padding: 12px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  background-color: #F5F5F5;
  border-bottom: 1px solid lightgray;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.panel.p-0 .panel-body {
  padding: 8px 12px;
}

.panel.p-0 .panel-footer {
  padding: 8px 12px;
}

.cta-panel {
  color: #ffffff;
  background-color: #064389;
  padding: 20px;
}

.cta-panel__button {
  color: #064389;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: 700;
  padding: 12px;
  transition: 0.2s ease-in-out;
  display: inline-block;
  width: 200px;
  font-size: 18px;
  border-radius: 8px;
}

.cta-panel__button:hover {
  transform: scale(1.02);
}

.panel-title,
.block-title {
  color: #555555;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 4px;
}

.avatar {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 2px;
  border-radius: 100%;
}

.form-field {
  margin-bottom: 16px;
}

.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 42px;
  border: 1px dashed #ced4da;
  border-radius: 3px;
  transition: 0.2s;
  padding: 6px 12px;
}

.file-drop-area.is-active {
  background-color: rgba(255, 255, 255, 0.05);
}

.fake-btn {
  flex-shrink: 0;
  background-color: #1da0dd;
  border: 1px solid #1da0dd;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.fake-btn:hover {
  cursor: pointer;
  background-color: #198dc2;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 56px;
  /* 42px + 2*6px */
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.file-input:focus {
  outline: none;
}

.file-input-preview {
  margin-top: 8px;
  width: 100%;
  max-width: 100%;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.pagination {
  justify-content: center;
  margin-top: 12px;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #2174D3;
  border-color: #2174D3;
}

a.page-link {
  color: #000000;
}

a.page-link:hover {
  color: #000000;
  background-color: #F5F5F5;
}

a.page-link:focus {
  outline: 0;
}

.nav-pills {
  flex: 1;
  height: 40px;
  padding: 0;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid transparent;
  font-weight: 500;
}

@media (min-width: 992px) {
  .nav-pills {
    max-width: 135px;
  }
}

.nav-pills:hover {
  cursor: pointer;
}

.nav-pills.active {
  color: #2174D3;
  border-bottom: 3px solid #2174D3;
}

.nav-pills a {
  font-weight: 500;
  color: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 38px;
}

.nav-pills a:hover {
  text-decoration: none;
}

.nav-link.active {
  border-bottom: 3px solid #064389;
}

.html-container ol,
.html-container ul,
.html-container p {
  padding: 0;
  margin: 0;
}

.steps-form {
  padding: 8px 0;
}

.steps-form .title {
  display: none;
}

.steps-form .steps {
  color: #000000;
}

.steps-form .steps ul {
  list-style: none;
  margin-bottom: 8px;
}

.steps-form .steps li {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 12px;
  color: inherit;
  background-color: #F5F5F5;
  border-radius: 4px;
}

.steps-form .steps li.current {
  color: #ffffff;
  background-color: #2174D3;
}

.steps-form .steps a {
  color: inherit;
}

.steps-form .steps .current-info {
  display: none;
}

.steps-form .content {
  width: 100%;
  margin: 0;
}

.steps-form .content label.error {
  font-weight: 500;
}

.steps-form .actions {
  display: none;
}

.styled-radio-input {
  display: block;
  margin-bottom: 6px;
  position: relative;
}

.styled-radio-input label {
  padding: 12px;
  padding-left: 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #000000;
  background-color: #F5F5F5;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  margin: 0;
  border: 1px solid #DCDCDC;
}

.styled-radio-input label:before {
  width: 30px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #2174D3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.styled-radio-input label:after {
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid #DCDCDC;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 12px;
  top: 17px;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.styled-radio-input input:disabled ~ label {
  background-color: #ffffff;
  border: 1px solid #F5F5F5;
}

.styled-radio-input input:disabled ~ label:hover {
  cursor: default;
}

.styled-radio-input input:checked ~ label {
  color: #ffffff;
}

.styled-radio-input input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.styled-radio-input input:checked ~ label:after {
  background-color: #26b67c;
  border-color: #26b67c;
}

.styled-radio-input input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.fb-button {
  color: #ffffff;
  background-color: #395185;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 240px;
}

.fb-button:hover {
  color: #ffffff;
  background-color: #395185;
}

.fb-button .iconify {
  font-size: 24px;
  margin-right: 6px;
}

.heading {
  font-weight: 700;
  font-size: 44px;
}

.sub-heading {
  font-size: 18px;
  color: #505050;
  margin-bottom: 12px;
}

.profile-img {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-img.lg {
  min-width: 120px;
  min-height: 120px;
  width: 120px;
  height: 120px;
}

.eclipse {
  border-radius: 1000px;
}

.tag,
.tag--success,
.tag.green,
.green.tag--primary,
.green.tag--light,
.primary.tag--success,
.green.tag--success,
.tag--light,
.primary.tag--light,
.tag.primary,
.tag--primary {
  display: inline-block;
  text-align: center;
  background-color: transparent;
  border-radius: 1000px;
  font-size: 12px;
  padding: 3px 8px !important;
}

.tag:hover,
.tag--success:hover,
.tag--light:hover,
.tag--primary:hover {
  cursor: default;
}

.tag.sm,
.sm.tag--success,
.sm.tag--light,
.sm.tag--primary {
  padding: 2px 4px !important;
  font-size: 10px;
}

.tag.lg,
.lg.tag--success,
.lg.tag--light,
.lg.tag--primary {
  padding: 6px 16px;
  font-size: 16px;
  line-height: 25px;
}

.tag.primary,
.primary.tag--success,
.primary.tag--light,
.primary.tag--primary,
.tag--primary {
  color: #2174D3;
  background-color: #ffffff;
  border: 1px solid #2174D3;
}

.tag.primary:hover,
.primary.tag--success:hover,
.primary.tag--light:hover,
.tag.primary:focus,
.primary.tag--success:focus,
.primary.tag--light:focus,
.tag--primary:hover,
.tag--primary:focus {
  color: #2174D3;
  background-color: #ffffff;
  border: 1px solid #2174D3;
  cursor: pointer;
}

.tag--light {
  color: gray;
  background-color: #DCDCDC;
  border: 1px solid darkgray;
}

.tag--light:hover,
.tag--light:focus {
  color: #ffffff;
  background-color: darkgray;
  border: 1px solid lightgray;
  cursor: pointer;
}

.tag--success,
.tag.green,
.green.tag--success,
.green.tag--primary,
.green.tag--light {
  color: #1f9868 !important;
  background-color: #cfece0;
  border: 1px solid #26b67c;
}

.tag--success:hover,
.tag--success:focus,
.tag.green:hover,
.green.tag--primary:hover,
.green.tag--light:hover,
.tag.green:focus,
.green.tag--primary:focus,
.green.tag--light:focus {
  color: #ffffff !important;
  background-color: #74c7a6;
  border: 1px solid #1f9868;
  cursor: pointer;
}

.tag.free,
.free.tag--primary,
.free.tag--light,
.free.tag--success,
.tag.red,
.red.tag--primary,
.red.tag--light,
.red.tag--success {
  color: #e63946 !important;
  background-color: transparent !important;
  border: 2px solid #e63946;
}

.tag.free:hover,
.free.tag--primary:hover,
.free.tag--light:hover,
.free.tag--success:hover,
.tag.red:hover,
.red.tag--primary:hover,
.red.tag--light:hover,
.red.tag--success:hover {
  color: #2174D3;
  background-color: transparent !important;
  border: 2px solid #e63946;
}

.tag.owned,
.owned.tag--primary,
.owned.tag--light,
.owned.tag--success {
  width: 64px;
  color: #26b67c;
  border: 2px solid #26b67c;
}

.tag.shared,
.shared.tag--primary,
.shared.tag--light,
.shared.tag--success {
  width: 80px;
  color: #FF8C00;
  border: 2px solid #FF8C00;
}

.tag.private,
.private.tag--primary,
.private.tag--light,
.private.tag--success {
  padding: 6px 8px;
  color: #198dc2;
  border: 2px solid #198dc2;
  height: unset;
}

.status-tag {
  text-align: center;
  font-weight: 500;
  background-color: transparent;
  border-radius: 1000px;
  font-size: 13px;
  padding: 2px 6px;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.status-tag.blue5,
.status-tag.issued {
  color: #ffffff !important;
  background-color: #2174D3 !important;
}

.status-tag.yellow,
.status-tag.submitted,
.status-tag.scheduled {
  color: #998100 !important;
  background-color: #FFD700 !important;
}

.status-tag.green,
.status-tag.marked,
.status-tag.returned,
.status-tag.active,
.status-tag.paid {
  color: #2e7458 !important;
  background-color: #98d6bd !important;
}

.status-tag.red,
.status-tag.overdue {
  color: #811821 !important;
  background-color: #e77e87 !important;
}

.status-tag.red--inverse,
.status-tag.overdue--inverse {
  color: #e63946 !important;
  background-color: transparent !important;
  border: 1px solid #e63946;
}

.status-tag.light,
.status-tag.gray,
.status-tag.gray4,
.status-tag.unsubmitted {
  color: gray !important;
  background-color: #DCDCDC !important;
}

.status-tag.sm {
  padding: 2px 4px !important;
  font-size: 11px;
}

.status-tag.lg {
  padding: 4px 8px;
}

.user-role-icon {
  font-size: 20px;
  color: #064389;
  padding: 0;
  line-height: 1px;
}

.key-value-pair {
  display: flex;
  font-size: 14px;
  padding: 2px 0;
}

.key-value-pair .key {
  min-width: 33%;
  margin-right: 8px;
}

.key-value-pair .value {
  color: gray;
  line-height: 24px;
  width: 100%;
}

.homework-metric-block {
  text-align: center;
}

.homework-metric-block .metric {
  padding: 8px;
}

.homework-metric-block .key {
  font-size: 14px;
  font-weight: 700;
}

.hiddenFormSection {
  display: none;
}

.overflow-x-auto {
  overflow-x: auto;
}

.flag {
  display: inline-block;
  background: #198dc2;
  padding: 10px 40px;
  text-transform: uppercase;
  color: white;
  position: relative;
}

.flag span {
  color: black;
}

.flag .triangle-left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 25px solid #ffffff;
  border-bottom: 25px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}

.user-info {
  color: #000000;
  margin-bottom: 8px;
}

.user-info .avatar {
  margin-right: 8px;
  min-width: 40px;
  max-width: 60px;
}

.user-info .text {
  line-height: 20px;
}

.user-info .user-info {
  font-size: 15px;
  color: #000000;
  margin: 0;
}

.user-info .username {
  font-weight: 700;
  font-size: 15px;
  color: #000000;
  margin: 0;
}

.user-info .username:hover {
  color: #000000;
  text-decoration: underline;
}

.user-info .time {
  font-size: 12px;
  color: gray;
}

.user-info.active {
  color: #198dc2;
  border-bottom: 3px solid #198dc2;
  font-weight: 700;
  font-size: 14px;
}

.user-info.active:hover {
  text-decoration: underline;
}

.user-info:hover {
  color: #000000;
}

.collapseButtonParent:hover {
  cursor: pointer;
}

ol.checklist,
ul.checklist {
  margin: 0;
  padding: 0;
}

ol.checklist li,
ul.checklist li {
  line-height: 18px;
  position: relative;
  list-style-type: none;
  padding-left: 24px;
  margin-bottom: 12px;
}

ol.checklist li::before,
ul.checklist li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 6px;
  height: 12px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #26b67c;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #DCDCDC;
}

.dot.active {
  background-color: #26b67c;
}

.blue-underline {
  color: #000000;
  text-decoration: underline;
  -webkit-text-decoration-color: #198dc2;
          text-decoration-color: #198dc2;
}

.blue-underline:hover,
.blue-underline:focus {
  color: #198dc2;
  text-decoration: none;
}

.styled-checkbox,
.styled-checkbox--blue,
.styled-checkbox--green {
  display: none !important;
}

.styled-checkbox + label,
.styled-checkbox--blue + label,
.styled-checkbox--green + label {
  display: block;
  cursor: pointer;
  padding: 4px 0;
  color: #000000;
  font-weight: 400;
}

.styled-checkbox + label::before,
.styled-checkbox--blue + label::before,
.styled-checkbox--green + label::before {
  content: "\2714";
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 3px;
  margin-right: 7px;
  vertical-align: baseline;
  color: transparent;
  transition: 0.2s;
  font-size: 14px;
  line-height: 20px;
}

.styled-checkbox + label:active::before,
.styled-checkbox--blue + label:active::before,
.styled-checkbox--green + label:active::before {
  transform: scale(0);
}

.styled-checkbox:checked + label::before,
.styled-checkbox--blue:checked + label::before,
.styled-checkbox--green:checked + label::before {
  background-color: #2174D3;
  border-color: #2174D3;
  color: #ffffff;
}

.styled-checkbox:disabled + label,
.styled-checkbox--blue:disabled + label,
.styled-checkbox--green:disabled + label {
  color: gray;
}

.styled-checkbox:disabled + label::before,
.styled-checkbox--blue:disabled + label::before,
.styled-checkbox--green:disabled + label::before {
  transform: scale(1);
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
}

.styled-checkbox:checked:disabled + label:before,
.styled-checkbox--blue:checked:disabled + label:before,
.styled-checkbox--green:checked:disabled + label:before {
  transform: scale(1);
  background-color: #1da0dd;
  border-color: #1da0dd;
}

.styled-checkbox--green:checked + label::before {
  background-color: #26b67c;
  border-color: #26b67c;
  color: #ffffff;
}

.styled-checkbox--green:checked:disabled + label:before {
  background-color: #98d6bd;
  border-color: #98d6bd;
}

.styled-checkbox--blue:checked + label::before {
  background-color: #064389;
  border-color: #064389;
  color: #ffffff;
}

.styled-checkbox--blue:checked:disabled + label:before {
  background-color: #198dc2;
  border-color: #064389;
}

.smart-bar-container {
  width: 100%;
  background-color: #e0fbfc;
  color: #000000;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  left: 0;
  z-index: 999;
  font-size: 16px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid #B6D9EE;
}

.smart-bar {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 992px) {
  .smart-bar {
    padding: 6px 0;
    text-align: center;
  }
}

.smart-bar .dismiss-button {
  width: 38px;
  min-width: 38px;
  max-width: 38px;
}

.smart-bar .time {
  font-size: inherit;
  color: inherit;
}

.avatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 2px;
  border-radius: 100% !important;
}

.avatar-lg {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  margin: 0;
  border-radius: 100% !important;
}

.file-block {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 6px;
  background-color: #ffffff;
}

.file-block:hover {
  cursor: pointer;
}

.file-block:hover .file-title {
  color: #198dc2;
}

.file-block.selected {
  border: 2px solid #198dc2;
  background-color: #F5F5F5;
}

.file-block .file-preview {
  display: inline-block;
  min-width: 85px;
  height: 100%;
  margin-right: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0fbfc;
  border-right: 1px solid #DCDCDC;
}

.file-block .file-preview .iconify {
  font-size: 38px;
  color: #064389;
}

.file-block .file-content {
  flex: 1;
  width: 0;
}

.file-block .file-title {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-block .file-type {
  font-size: 11px;
  color: gray;
}

.file-block .file-cross-button {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  text-align: center;
  z-index: 100;
}

.custom_pdf_viewer_preview {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.custom_pdf_viewer_preview + .custom-pdf-preview-prompt-block {
  padding: 18px 24px;
  width: 100%;
  position: relative;
  bottom: 25px;
}

.star-rating-bar .star {
  color: lightgray;
  font-size: 40px;
}

.star-rating-bar .star.hover,
.star-rating-bar .star:hover {
  cursor: pointer;
  color: #FFD700;
}

.star-rating-bar .star.active {
  color: #FFD700;
}

.star-rating-bar .star.active:hover {
  color: #d1b200;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 48px;
  font-family: Times;
  line-height: 1;
}

.Stars.xs {
  font-size: 18px;
}

.Stars.sm {
  font-size: 24px;
}

.Stars::before {
  content: "\2605\2605\2605\2605\2605";
  letter-spacing: 3px;
  background: linear-gradient(90deg, #FFD700 var(--percent), lightgray var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.board-pass {
  max-width: 1350px;
  margin: 0 auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.board-pass .item {
  background: #ffffff;
  overflow: hidden;
  border-radius: inherit;
  display: flex;
  flex-wrap: wrap;
}

.board-pass .item-left {
  padding: 79px 30px;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .board-pass .item-left {
    width: 25%;
  }
}

.board-pass .item-left .up-border,
.board-pass .item-left .down-border {
  padding: 14px 15px;
  background-color: #F0F2F5;
  border-radius: 50%;
  position: absolute;
}

.board-pass .item-left .up-border {
  left: -15px;
  bottom: -15px;
}

@media screen and (min-width: 768px) {
  .board-pass .item-left .up-border {
    left: unset;
    bottom: unset;
    top: -14px;
    right: -15px;
  }
}

.board-pass .item-left .down-border {
  right: -15px;
  bottom: -15px;
}

@media screen and (min-width: 768px) {
  .board-pass .item-left .down-border {
    right: unset;
    bottom: unset;
    bottom: -13px;
    right: -15px;
  }
}

.board-pass .item-right {
  width: 100%;
  padding: 16px 24px;
  border-top: 3px dotted lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e0fbfc;
}

@media screen and (min-width: 768px) {
  .board-pass .item-right {
    border: 0;
    border-left: 3px dotted lightgray;
    width: 75%;
    padding: 24px 24px 24px 36px;
  }
}

.board-pass .cta-button {
  text-transform: uppercase;
}

.board-pass .cta-button.upgrade {
  background-color: #064389;
}

.board-pass .cta-button.renew {
  background-color: #26b67c;
}

.board-pass .cta-button.purchase {
  background-color: #e63946;
}

.error-page-container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .error-page-container {
    padding: 40px 80px;
  }
}

.error-page-container .main-img {
  width: 300px;
  height: 300px;
}

.error-page-container .description {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

