 /* -----------------------------------------------------
                        SPM BOARD                                               
                     CONTRIBUTORS: PRESTON
                   ON: 2ND AUGUST 2019
             LAST UPDATED: 10TH JANUARY 2020
--------------------------------------------------------*/
 
@media (min-width: 375px){
    .question-block-tag{
        max-width: 80px;
    }
}

@media (min-width: 425px){
    .question-block-tag{
        max-width: 95px;
    }
}

@media(min-width: 470px){
    .wrapper{
        padding: 30px;
        margin: 50px auto;
        box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
    }
}



 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) { 
    /* ============================================
    |                    TAGS                     |
    =============================================== */
    
        .tag-list-panel{
            width: 49.1%;
        }

        .user-stats-container{
            flex-direction: row;            
        }

        .user-stats{
            width: 30vw;
            height: 30vw;
        }

        .avatar-settings-container{
            flex-direction: row;
        }

        .avatar-settings-container img{
            margin: 0;
        }

        .question-block-tag{
            max-width: 130px;
        }

    
     }
    
     /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { 
    
        .tag{
            font-size: 14px;
        }
        
        /* .col-md-6 {
            max-width: 49%;
        }

        .col-md-4 {
            max-width: 32.8%;
        } */
        
        .header{
            padding: 0 12px;
            font-size: 15px;
        }

        .hamburger-button{
            display: none;
        }
        
        .header-brand{
            display: inline-block;
            height: 60px;
        }

        .nav-container{
            margin-top: 60px;
            padding-top: 12px;
        }

        .content{
            margin-left: 270px;
            width: calc(100% - 270px);
        }

        .search-bar{
            font-size: 15px; 
        }

        .nav-sort-container{
            width: 100%;
        }


        .question-block-tag{
            max-width: 150px;
        }

        .answer-block{
            font-size: 15px;
        }

        .answer-block-time{
            font-size: 14px;
        }

        .answer-form{
            font-size: 15px;
        }

        .answer-header{
            padding: 4px 16px;
        }


        form.create-answer-form{
            padding: 0 24px;
        }
        
        .google-btn{
            height: 42px;
        }
        
        .google-icon{
            width: 39px;
            height: 39px;
        }
        
        .login-method-swap{
            font-size: 15px;
        }
        
        .text-editor-header{
            font-size: 16px;
        }
        
        
        .search-button-min{
            top: 12px;
            height: 36px;
        }

        .about-the-creator .panel{
            width: 33%;
            margin: 0 auto;
        }

        .nav-pills{
            width: 100px;
        }

        .user-stats-container{
            flex-direction: column;
        }

        .user-stats{
            width: 200px;
            height: 200px;
        }

        .search-input-container i{
            left: 26px;
        }
        
        .ask-wrapper{
            padding: 30px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
            margin: 60px auto;
        }

        .notification-dropdown-menu {
            width: 300px;
        }

        .blog-post {
            height: 330px;
        }

        section.recommended-articles .blog-post.recommended-blog-post {
            height: 360px;
            margin: 0;
        }

        section.recommended-articles .blog-post.recommended-blog-post:first-child{
            margin-right: 0.3%;
        }

        section.recommended-articles .blog-post.recommended-blog-post:nth-child(2){
            margin: 0 0.3%;
        }
        
        section.recommended-articles .blog-post.recommended-blog-post:nth-child(3){
            margin-left: 0.3%;
        }

        .blog-post:nth-child(odd) {
            margin-right: 0.5%;
        }
        
        .blog-post:nth-child(even) {
            margin-left: 0.5%;
        }

        section.no-questions-found {
            padding: 120px 0;
        }

    }

    @media (min-width: 918px){
        .user-stats-container{
            flex-direction: row;
        }

        .user-stats{
            width: 200px;
            height: 200px;
        }
    }
    
     /* Large devices (desktops, 992px and up) */
    @media (min-width: 998px) {             
        .question-block-stats{
            font-size: 18px;
            width: 110px;
        }
    
        .tag-list-panel{
            width: 32%;
        }
        
        .user-stats{
            width: 18vw;
            height: 18vw;
        }

        section.no-questions-found img {
            width: 300px;
            height: 300px;
        }
    
    }
    
     /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) { }

    html {
        visibility: visible;
        opacity: 1;
    }