
.classroom-panel__banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px 0;
    background-color: $blue1;
    color: $black;
}

.classroom-panel__cover-img {
    width: 100%;
    height: 250px;
    display: inline-block;
    object-fit: cover;
}


.classrooms__menu-list-item {
    padding: 30px 20px;
    color: $black;
    box-shadow: $box-shadow1;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    text-align: center;
    transition: all .2s ease-in-out;
    height: 140px;
    border-radius: $border-radius;

    .iconify {
        color: $blue5;
        font-size: 48px;
        display: inline-block;
        margin-bottom: 12px;
        transition: all .1s ease-in-out;
    }

    .text {
        font-size: $font-size5;
        color: $black;
        font-weight: 700;
    }

    &:hover {
        box-shadow: $box-shadow2;
        transform: scale(1.02);
    }

}
