.resource-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid $gray4;
    .checkbox-input {
    }

    .title {
        color: $black;
    }

    &:hover {
        cursor: pointer;
    }
}

.rating-progress-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    height: 24px;
    .unit {
        width: 32px;
        margin-right: 8px;
    }

    .progress {
        width: calc(100% - 40px);
        height: 100%;
        border-radius: 1000px;
    }

    &.lg {
        height: 30px;
    }

    .metrics{
        min-width: 50px;
    }
}
