
.blog {
    * {
        font-family: $font-family-sans-serif !important;
    }
    p {
        font-size: $font-size4;
    }
}

.blog__cover-img, .guide__cover-img {
    margin: 0 (-$panelXPadding);
    margin-top: (-$panelYPadding);
    width: calc(100% + (2 * #{$panelXPadding}));
    max-width: unset;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 8px;
    object-fit: cover;
    max-height: 450px;
}


.blog__details {
    font-size: $font-size;
}

.blog-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
}

.blog-tag {
    background-color: $gray6;
    padding: 6px 12px;
    border-radius: 4px;
    color: $black;
    margin: 0;
    display: inline-block;

    &.sm {
        font-size: $font-size1;
    }

    &.active {
        color: $white;
        background-color: $blue5;
        font-weight: 700;
    }
}

.blog-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $white;
    border: 1px solid $gray5;
    transition-duration: .25s;
    height: 100%;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        transform: scale(1.015);
        .title, .blog-block__title {
            color: $blue4;
        }
    }

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .title {
        font-size: $font-size7;
        font-weight: 500;
    }

    .category {
        z-index: 10;
    }
}

.blog-block__title {
    font-size: $font-size7;
    font-weight: 500;
}

.blog-block__body {
    padding: 8px 16px;
    width: 100%;
}

.blog__header, .guide__header {
    margin-bottom: 12px;
    border-bottom: 3px dashed $blue5;
}

.blog-title, .blog__title, .guide__title {
    font-size: $font-size12;
    font-weight: 500;
    margin-bottom: 8px;
}

.blog__body, .guide__body {
    overflow-x: auto;
    * {
        font-size: $font-size4;
        color: $gray1;
    }
    img {
        width: 100% !important;
        max-width: 100% !important;
        object-fit: contain;
        padding: 0 !important;
        max-height: 325px;
        margin-top: 8px;
        margin-bottom: 16px;
    }

    a {
        color: $blue4;
        text-decoration: underline;
        &:hover {
            color: $blue5;
        }
    }

    ol, ul {
        padding-left: 8px;
    }

    table {
        width: auto !important;
        max-width: 100% !important;
        margin: 0 auto;

        th, tr, td {
            padding: 4px 8px;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: $black;
        margin-bottom: 4px;
    }

    h1, h2, h1 *, h2 * {
        font-size: $font-size5;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 16px;
        color: $blue5;
        text-transform: uppercase;
    }

    h3, h3 * {
        font-size: $font-size4;
        font-weight: 700;
    }

    p {
        margin-bottom: 0;
        * {
            margin-bottom: 0;
        }
    }
}

.blog__author-avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 4px;
}

.blog__author-name {
    font-size: $font-size + 4px;

    a {
        font-size: inherit;
    }
}

.blog-author__avatar {
    @extend .blog__author-avatar;
}
