.coin-block {
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    border-radius: 4px;
}

.coin-block__img-container {
    min-width: 100px;
    border-radius: inherit;
    @media (min-width: $md) {
        min-width: 150px;
    }
    text-align: center;
    background-color: $blue1;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    .iconify {
        font-size: 52px;
        color: $yellow;
    }
}

.coin-block__text-container {
    border-radius: inherit;
    padding: 8px 12px;
}

.coin-block__coins-in-return {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px;
    span {
        color: $blue6;
        font-size: $font-size7;
        font-weight: 700;
    }
}

.my-coins__coin-balance {
    padding-top: 8px;
    margin-bottom: 8px;
    .title {
        font-size: $font-size + 4px;
        margin-bottom: 8px;
    }
}


.my-coins__coins-es {
    margin-bottom: 8px;
    text-align: center;

    .title {
        font-size: $font-size + 2px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 8px;
    }

}

.my-coins__coin-image {
    width: 145px;
    height: 145px;
    padding: 20px 0;
}

.my-coins__results-count {
    font-size: $font-size - 1px;
    margin-bottom: 4px;
}

.my-coins__coin-history-item {
    position: relative;
    padding: 8px 0;
    padding-left: 60px;

    .amount {
        position: absolute;
        left: 0;
        top: 8px;
        display: inline-block;
        width: 50px;
        text-align: center;
        padding: 6px 8px;
        color: $white;

        &.green {
            color: $white !important;
            background-color: $green;
        }

        &.red {
            color: $white !important;
            background-color: $red;
        }
    }

    .link {
        margin-right: 4px;
        &:hover {
            text-decoration: underline;
        }
    }

    .time {
        font-size: $font-size - 2px;
        color: $grey;
    }
 }

.store__balance-type {
    .title {
        color: $grey;
        text-transform: uppercase;
        font-size: $font-size - 1px;
    }

    .inline-image {

    }
}

.store__balance-info {
    a {
        font-size: $font-size + 2px;
    }
}

.store__products {
    > .row {
        justify-content: center;
    }
}

.store__product-panel {
    text-align: center;
    padding: 12px 16px;
    color: $grey;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.store__product-img-container {
    width: 100%;
    height: 180px;
    padding: 18px 24px;
    text-align: center;

    img {
        height: calc(100% - 36px);
        margin-bottom: 26px;
    }
}

.store__products-title {
    color: $gray1;
    font-size: $font-size3;
    text-transform: uppercase;
}

.store__products-subtitle {
    color: $gray2;
    font-size: $font-size2;
    text-transform: uppercase;
}

.store__product-name {
    color: $black;
    font-weight: 700;
    margin-bottom: 0;
}

.store__product-label {
    font-weight: 700;
    margin-bottom: 0;
}

.store__product-description {
    margin-bottom: 12px;
}

.store__product-cta {
    text-align: center;

    label {
        font-size: $font-size - 2px;
    }

    .inline-img {
        width: 18px;
        height: 18px;
    }
    button {
        display: block;
        width: 100%;
    }
}
