.form-steps {
	display: block;
	width: 100%;
	position: relative;
	margin: 40px 0;

	&:after {
		content: "";
    display: table;
    clear: both;
	}

	&__item {
		padding: 0;
		position: relative;
		display: block;
		float: left;
		width: 33%;
		text-align: center;
	}

	&__item-content {
		display: inline-block;
	}
	// Step Icon
	&__item-icon {
        background: #ffffff;
        color: gray;
        display: block;
        border-radius: 100%;
        text-align: center;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin: 0 auto 10px auto;
        position: relative;
        font-size: 18px;
        font-weight: 700;
        z-index: 2;
	}
	// Step text
	&__item-text {
		font-size: 13px;
		color: $gray2;
		font-weight: 500;
	}

	&__item-line {
		display: inline-block;
		height: 3px;
		width: 100%;
		background: $gray5;
		float: left;
		position: absolute;
		left: -50%;
		top: 22px;
		z-index: 1;
	}
	// Active Step
	&__item--active {
		.form-steps__item-icon {
			background: $blue4;
			color: $white;
		}

		.form-steps__item-text {
			color: $gray2;
		}

		.form-steps__item-line {
			background: $blue4;
		}
	}
	// Active Step
	&__item--completed {
		.form-steps__item-text {
			color: $gray2;
		}

		.form-steps__item-icon {
			background: $blue4;
			background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDkuMTIgNyI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTkuMTIgMS4wNkw4LjA2IDAgMy4xOCA0Ljg4IDEuMDYgMi43NiAwIDMuODIgMy4xOCA3bDUuOTQtNS45NHoiLz48L3N2Zz4=);
			color: transparent;
			background-size: 10px;
			background-repeat: no-repeat;
			background-position: center center;
			width: 25px;
			height: 25px;
			line-height: 25px;
		}

		.form-steps__item-line {
			background: $blue4;
		}
	}
}
