.register__role-tabs {
    width: calc( 100% + 60px );
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -30px;
    margin-top: -35px;
    border-bottom: 3px solid transparent;
    .register__role-tab {
        position: relative;
        flex: 1;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 10px;
        margin-bottom: 12px;
        color: $gray2;
        background-color: $gray6;
    }
}
