.about__main {
    @extend .main__landing;
    background-image: url('../../public/img/about/about_main_wp.png');
}

.about__video-iframe-container {
    width: 100%;
    max-width: 400px;
    height: 240px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: $box-shadow4;

    iframe {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}

.about__team-member-dp {
    border-radius: 1000px;

}

.about__team {

}

.about__team-member-avatar {
    width: 150px;
    height: 150px;
    box-shadow: 0;
    background-color: $blue1;
    border-radius: 100px;
    object-fit: cover;
    margin-bottom: 12px;
}
