.landing__main {
    padding: 40px 20px;
    background-image: url('../../public/img/landing/main_wp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: $md) {
        padding: 80px 20px;
    }
}

.landing__board-panel {
    padding: 48px 24px;
    text-align: center;
    box-shadow: $box-shadow-dark;
    margin-bottom: 24px;
    .heading {
        font-size: 80px;
        font-weight: 700;
        margin-bottom: 16px;
        background-image: url('../../public/img/landing/highlight.png');
        background-size: 50% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 32px;
        color: $black;
    }

    .sub-heading {
        color: $black;
        margin-bottom: 16px;
    }

    .cta-button {
        display: inline-block;
        padding: 12px 24px;
        width: 100%;
        max-width: 250px;
    }
}

.landing__what-is-board, .faq__main {
    .heading {
        font-size: $font-size10;
        font-weight: 700;
    }

    .sub-heading {
        font-size: $font-size5;
        color: $gray2;
    }

    .body {
        font-size: $font-size4;
        color: $gray2;
    }
}


.landing__section-banner {
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../public/img/landing/forum_bg.png');
}

.landing__section-banner-container {
    .heading {
        color: $white;
        font-size: $font-size10;
        font-weight: 700;
    }

    .sub-heading {
        color: $gray6;
        font-size: $font-size4;
        font-weight: 500;
    }

    .body {
        color: $lighter-blue;
    }
}

.landing__banner {
    padding: 48px 0 75px;
}



.landing__card {
    box-shadow: $box-shadow-dark;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    overflow: hidden;
    @media (min-width: $lg) {
        height: 100%;
    }

    &:hover {
        transition: all .3s ease-in-out;
        transform: scale(1.03);
        cursor: pointer;
        box-shadow: $box-shadow-darker;

        img {
            transform: scale(1.03);
        }

        .heading {
            background-position: left bottom;
        }
    }

    .heading {
        font-weight: 700;
        font-size: 28px;
        color: $black;
        display: inline-block;
        background: linear-gradient(to right, $lightest-blue 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .3s ease-in-out;
    }

    .caption {
        padding: 30px 16px 20px;
        color: $gray2;
    }

    img {
        display: inline-block;
        object-fit: cover;
        width: 100%;
        height: 200px;
        transition-duration: .3s;
        object-fit: contain;
        padding: 30px 35px 0;
    }
}
