

.quiz__header {
    background-color: $blue6;
    padding-top: 95px;
    color: $black;
    margin-bottom: 12px;
    text-align: center;
    background-image: url('../../public/img/events/event_wp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 93vh;
    min-height: 700px;

    @media (min-width: $md) {
        padding-top: 165px;
    }

    .heading {
        font-weight: 700;
        font-size: $font-size11;
    }

    .sub-heading {
        font-size: $font-size5;
        color: $gray1;
        margin-bottom: 12px;
    }

    .body {
        color: $gray2;
        font-size: $font-size4;
        margin-bottom: 22px;
    }
    .time {
        font-weight: 700;
        font-size: $font-size7;

        .value {
            font-size: inherit;
            font-weight: inherit;
        }
    }
    .countdown-timer {
        font-size: inherit;
    }
}


.quiz__nav-button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .prev {
        margin-right: 4px;
    }
}



.quiz__countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    .unit-container {
        padding: 12px;
        font-size: $font-size4;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: $lg) {
            padding: 24px;
        }
    }

    .value {
        display: block;
        font-size: 44px;
    }
}

.quiz__half-border-blue {
    position: relative;
    margin-bottom: 36px;
    &::after {
        content: '';
        position: absolute;
        background-color: $blue6;
        width: 224px;
        height: 5px;
        bottom: -21px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.quiz-thank-you__steps {

}

.quiz-thank-you__step {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;

    .step-number {
        min-width: 40px;
        max-width: 40px;
        width: 40px;
        height: 40px;
        border-radius: 1000px;
        border: 3px solid $blue3;
        font-size: 23px;
        font-weight: 700;
        color: $blue3;
        text-align: center;
        margin-right: 18px;
    }

    .step-text {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 14px;
        .heading {
            text-align: inherit;
            font-size: $font-size4;
            color: $black;
            font-weight: 400;
            margin-bottom: 4px;
        }

        .sub-heading {
            font-size: $font-size3;
            color: $gray2;
        }
    }

}

.quiz__social-icons {
    width: 100%;
    max-width: 480px;

    a {
        display: inline-block;
        width: 48%;
    }
}
