.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 12px;
}

.text-center {
    text-align: center;
}

.card-body {
    padding: 12px 25px !important;
    border: 1px solid #eee;

    .card-title {
        color: #064389;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
    }

    .card-text {
        font-size: 16px;
        color: #000;
    }
}

.pb-2 {
    padding-bottom: 8px !important;
}

.py-2 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.col-4, .col-6, .col-12 {
    padding-left: 15px;
    padding-right: 15px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-4 {
    flex: 0 0 50%;
    max-width: 33%;
}

.d-flex {
    display: flex;
}

.d-inline-block {
    display: inline-block;
}

hr {
    border-top: 2px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
}

.border-bottom {
    border-bottom: 2px solid #eee !important;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-between {
    justify-content: space-between;
}

.mb-1 {
    margin-bottom: 4px;
}

.container-fluid {
    width: 100%;
}
