.faq__menu-list {

}

.faq__menu-list-item {
    padding: 30px 20px;
    color: $black;
    box-shadow: $box-shadow1;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    text-align: center;
    transition: all .2s ease-in-out;
    height: 140px;
    border-radius: $border-radius;

    .iconify {
        color: $blue5;
        font-size: 48px;
        display: inline-block;
        margin-bottom: 12px;
        transition: all .1s ease-in-out;
    }

    .text {
        font-size: $font-size5;
        color: $black;
        font-weight: 700;
    }

    &:hover {
        box-shadow: $box-shadow2;
        transform: scale(1.02);
    }
}

.faq__tab-content {
    .tab {
        display: none;
        &.active {
            display: block;
        }
    }
}

.faq__tab-title ,.learn__tab-title {
    font-size: $font-size5;
    font-weight: 700;
    margin-bottom: 12px;
}

.faq__card {
}

.faq__card-header {
    background-color: $white;
    padding: 20px;
    margin-bottom: -1px;
    border: 1px solid $gray5;
    button {
        font-weight: 500;
        font-size: $font-size4;
        color: $black;
        text-align: left;
    }
}

.faq__card-body {
    color: $gray1;
    font-size: $font-size3;
    border-left: 5px solid $blue6;
    border-right: 1px solid $gray5;
}
