.main__landing {
    padding: 90px 20px 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    .iconify {
        font-size: 60px;
        margin-bottom: 8px;
    }
    .title {
        font-size: $font-size5;
    }
    .description {
        color: $gray2;
    }
    ol {
        color: $gray2;
        font-size: $font-size3;

        li {
            font-size: inherit;
        }
    }
}

.main__icon-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    .iconify {
        font-size: 48px;
        margin-bottom: 12px;
        color: $blue5;
    }
    .title {
        font-size: $font-size4;
        margin-bottom: 4px;
        text-align: center;
    }
    .description {
        font-size: $font-size3;
        color: $gray2;
        text-align: center;
    }
}

.main__cta-banner {
    color: $white;
    background-color: $blue6;
    padding: 58px 0;
    text-align: center;

    a {
        width: 100%;
        max-width: 180px;
        font-weight: 700;
        padding: 12px 0;
        transition: .2s ease-in-out;
        display: block;
        font-size: $font-size5;
        border-radius: 4px;

        &.primary {
            color: $blue6;
            background-color: $white;
            border: 2px solid $white;
        }

        &.secondary {
            color: $white;
            background-color: transparent;
            border: 1px solid $white;
        }

        &:hover {
            transform: scale(1.02);
        }
    }
}

.main__footer {
    border-top: 1px solid $gray5;
    a {
        color: $black;

        &:hover {
            color: $black;
            text-decoration: underline;
        }
    }
}

.main__footer-social-accounts {
    .heading {
        font-size: $font-size8;
    }

    .sub-heading {
        font-size: $font-size4;
        color: $black;
        font-weight: 400;
    }

    .iconify {
        color: $gray1;
    }

    .main {
        .iconify {
            font-size: 40px;
        }
    }

    .sub {
        .iconify {
            font-size: 30px;
        }
    }
}

.landing__footer-social-icons {
    .heading {
        color: $black;
        font-weight: 700;

    }
    a {
        color: $black;
    }
}

