.main__landing,
.about__main {
  padding: 90px 20px 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.main__elements .iconify {
  font-size: 60px;
  margin-bottom: 8px;
}

.main__elements .title {
  font-size: 18px;
}

.main__elements .description {
  color: gray;
}

.main__elements ol {
  color: gray;
  font-size: 14px;
}

.main__elements ol li {
  font-size: inherit;
}

.main__icon-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.main__icon-list .iconify {
  font-size: 48px;
  margin-bottom: 12px;
  color: #2174D3;
}

.main__icon-list .title {
  font-size: 16px;
  margin-bottom: 4px;
  text-align: center;
}

.main__icon-list .description {
  font-size: 14px;
  color: gray;
  text-align: center;
}

.main__cta-banner {
  color: #ffffff;
  background-color: #064389;
  padding: 58px 0;
  text-align: center;
}

.main__cta-banner a {
  width: 100%;
  max-width: 180px;
  font-weight: 700;
  padding: 12px 0;
  transition: 0.2s ease-in-out;
  display: block;
  font-size: 18px;
  border-radius: 4px;
}

.main__cta-banner a.primary {
  color: #064389;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.main__cta-banner a.secondary {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.main__cta-banner a:hover {
  transform: scale(1.02);
}

.main__footer {
  border-top: 1px solid #DCDCDC;
}

.main__footer a {
  color: #000000;
}

.main__footer a:hover {
  color: #000000;
  text-decoration: underline;
}

.main__footer-social-accounts .heading {
  font-size: 28px;
}

.main__footer-social-accounts .sub-heading {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

.main__footer-social-accounts .iconify {
  color: #505050;
}

.main__footer-social-accounts .main .iconify {
  font-size: 40px;
}

.main__footer-social-accounts .sub .iconify {
  font-size: 30px;
}

.landing__footer-social-icons .heading {
  color: #000000;
  font-weight: 700;
}

.landing__footer-social-icons a {
  color: #000000;
}

.faq__menu-list-item {
  padding: 30px 20px;
  color: #000000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  height: 140px;
  border-radius: 8px;
}

.faq__menu-list-item .iconify {
  color: #2174D3;
  font-size: 48px;
  display: inline-block;
  margin-bottom: 12px;
  transition: all 0.1s ease-in-out;
}

.faq__menu-list-item .text {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.faq__menu-list-item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.02);
}

.faq__tab-content .tab {
  display: none;
}

.faq__tab-content .tab.active {
  display: block;
}

.faq__tab-title,
.learn__tab-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.faq__card-header {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: -1px;
  border: 1px solid #DCDCDC;
}

.faq__card-header button {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.faq__card-body {
  color: #505050;
  font-size: 14px;
  border-left: 5px solid #064389;
  border-right: 1px solid #DCDCDC;
}

.blog * {
  font-family: "Poppins", "Roboto", sans-serif !important;
}

.blog p {
  font-size: 16px;
}

.blog__cover-img,
.guide__cover-img {
  margin: 0 -12px;
  margin-top: -8px;
  width: calc(100% + (2 * 12px));
  max-width: unset;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-bottom: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 450px;
}

.blog__details {
  font-size: 14px;
}

.blog-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.blog-tag {
  background-color: #F5F5F5;
  padding: 6px 12px;
  border-radius: 4px;
  color: #000000;
  margin: 0;
  display: inline-block;
}

.blog-tag.sm {
  font-size: 11px;
}

.blog-tag.active {
  color: #ffffff;
  background-color: #2174D3;
  font-weight: 700;
}

.blog-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid #DCDCDC;
  transition-duration: 0.25s;
  height: 100%;
  border-radius: 4px;
}

.blog-block:hover {
  cursor: pointer;
  transform: scale(1.015);
}

.blog-block:hover .title,
.blog-block:hover .blog-block__title {
  color: #198dc2;
}

.blog-block img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.blog-block .title {
  font-size: 24px;
  font-weight: 500;
}

.blog-block .category {
  z-index: 10;
}

.blog-block__title {
  font-size: 24px;
  font-weight: 500;
}

.blog-block__body {
  padding: 8px 16px;
  width: 100%;
}

.blog__header,
.guide__header {
  margin-bottom: 12px;
  border-bottom: 3px dashed #2174D3;
}

.blog-title,
.blog__title,
.guide__title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 8px;
}

.blog__body,
.guide__body {
  overflow-x: auto;
}

.blog__body *,
.guide__body * {
  font-size: 16px;
  color: #505050;
}

.blog__body img,
.guide__body img {
  width: 100% !important;
  max-width: 100% !important;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 !important;
  max-height: 325px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.blog__body a,
.guide__body a {
  color: #198dc2;
  text-decoration: underline;
}

.blog__body a:hover,
.guide__body a:hover {
  color: #2174D3;
}

.blog__body ol,
.blog__body ul,
.guide__body ol,
.guide__body ul {
  padding-left: 8px;
}

.blog__body table,
.guide__body table {
  width: auto !important;
  max-width: 100% !important;
  margin: 0 auto;
}

.blog__body table th,
.blog__body table tr,
.blog__body table td,
.guide__body table th,
.guide__body table tr,
.guide__body table td {
  padding: 4px 8px;
}

.blog__body h1,
.blog__body h2,
.blog__body h3,
.blog__body h4,
.blog__body h5,
.blog__body h6,
.guide__body h1,
.guide__body h2,
.guide__body h3,
.guide__body h4,
.guide__body h5,
.guide__body h6 {
  color: #000000;
  margin-bottom: 4px;
}

.blog__body h1,
.blog__body h2,
.blog__body h1 *,
.blog__body h2 *,
.guide__body h1,
.guide__body h2,
.guide__body h1 *,
.guide__body h2 * {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 16px;
  color: #2174D3;
  text-transform: uppercase;
}

.blog__body h3,
.blog__body h3 *,
.guide__body h3,
.guide__body h3 * {
  font-size: 16px;
  font-weight: 700;
}

.blog__body p,
.guide__body p {
  margin-bottom: 0;
}

.blog__body p *,
.guide__body p * {
  margin-bottom: 0;
}

.blog__author-avatar,
.blog-author__avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 4px;
}

.blog__author-name {
  font-size: 18px;
}

.blog__author-name a {
  font-size: inherit;
}

.coin-block {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  border-radius: 4px;
}

.coin-block__img-container {
  min-width: 100px;
  border-radius: inherit;
  text-align: center;
  background-color: #e0fbfc;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .coin-block__img-container {
    min-width: 150px;
  }
}

.coin-block__img-container .iconify {
  font-size: 52px;
  color: #FFD700;
}

.coin-block__text-container {
  border-radius: inherit;
  padding: 8px 12px;
}

.coin-block__coins-in-return {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
}

.coin-block__coins-in-return span {
  color: #064389;
  font-size: 24px;
  font-weight: 700;
}

.my-coins__coin-balance {
  padding-top: 8px;
  margin-bottom: 8px;
}

.my-coins__coin-balance .title {
  font-size: 18px;
  margin-bottom: 8px;
}

.my-coins__coins-es {
  margin-bottom: 8px;
  text-align: center;
}

.my-coins__coins-es .title {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 8px;
}

.my-coins__coin-image {
  width: 145px;
  height: 145px;
  padding: 20px 0;
}

.my-coins__results-count {
  font-size: 13px;
  margin-bottom: 4px;
}

.my-coins__coin-history-item {
  position: relative;
  padding: 8px 0;
  padding-left: 60px;
}

.my-coins__coin-history-item .amount {
  position: absolute;
  left: 0;
  top: 8px;
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 6px 8px;
  color: #ffffff;
}

.my-coins__coin-history-item .amount.green {
  color: #ffffff !important;
  background-color: #26b67c;
}

.my-coins__coin-history-item .amount.red {
  color: #ffffff !important;
  background-color: #e63946;
}

.my-coins__coin-history-item .link {
  margin-right: 4px;
}

.my-coins__coin-history-item .link:hover {
  text-decoration: underline;
}

.my-coins__coin-history-item .time {
  font-size: 12px;
  color: #555555;
}

.store__balance-type .title {
  color: #555555;
  text-transform: uppercase;
  font-size: 13px;
}

.store__balance-info a {
  font-size: 16px;
}

.store__products > .row {
  justify-content: center;
}

.store__product-panel {
  text-align: center;
  padding: 12px 16px;
  color: #555555;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.store__product-img-container {
  width: 100%;
  height: 180px;
  padding: 18px 24px;
  text-align: center;
}

.store__product-img-container img {
  height: calc(100% - 36px);
  margin-bottom: 26px;
}

.store__products-title {
  color: #505050;
  font-size: 14px;
  text-transform: uppercase;
}

.store__products-subtitle {
  color: gray;
  font-size: 13px;
  text-transform: uppercase;
}

.store__product-name {
  color: #000000;
  font-weight: 700;
  margin-bottom: 0;
}

.store__product-label {
  font-weight: 700;
  margin-bottom: 0;
}

.store__product-description {
  margin-bottom: 12px;
}

.store__product-cta {
  text-align: center;
}

.store__product-cta label {
  font-size: 12px;
}

.store__product-cta .inline-img {
  width: 18px;
  height: 18px;
}

.store__product-cta button {
  display: block;
  width: 100%;
}

.form-steps {
  display: block;
  width: 100%;
  position: relative;
  margin: 40px 0;
}

.form-steps:after {
  content: "";
  display: table;
  clear: both;
}

.form-steps__item {
  padding: 0;
  position: relative;
  display: block;
  float: left;
  width: 33%;
  text-align: center;
}

.form-steps__item-content {
  display: inline-block;
}

.form-steps__item-icon {
  background: #ffffff;
  color: gray;
  display: block;
  border-radius: 100%;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto 10px auto;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  z-index: 2;
}

.form-steps__item-text {
  font-size: 13px;
  color: gray;
  font-weight: 500;
}

.form-steps__item-line {
  display: inline-block;
  height: 3px;
  width: 100%;
  background: #DCDCDC;
  float: left;
  position: absolute;
  left: -50%;
  top: 22px;
  z-index: 1;
}

.form-steps__item--active .form-steps__item-icon {
  background: #198dc2;
  color: #ffffff;
}

.form-steps__item--active .form-steps__item-text {
  color: gray;
}

.form-steps__item--active .form-steps__item-line {
  background: #198dc2;
}

.form-steps__item--completed .form-steps__item-text {
  color: gray;
}

.form-steps__item--completed .form-steps__item-icon {
  background: #198dc2;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDkuMTIgNyI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTkuMTIgMS4wNkw4LjA2IDAgMy4xOCA0Ljg4IDEuMDYgMi43NiAwIDMuODIgMy4xOCA3bDUuOTQtNS45NHoiLz48L3N2Zz4=);
  color: transparent;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.form-steps__item--completed .form-steps__item-line {
  background: #198dc2;
}

.about__main {
  background-image: url(/images/about_main_wp.png?ef04127195ee9100794afa676d60d2cb);
}

.about__video-iframe-container {
  width: 100%;
  max-width: 400px;
  height: 240px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.about__video-iframe-container iframe {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.about__team-member-dp {
  border-radius: 1000px;
}

.about__team-member-avatar {
  width: 150px;
  height: 150px;
  box-shadow: 0;
  background-color: #e0fbfc;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 12px;
}

.phy-resources__cover-img {
  width: 500px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.landing__main {
  padding: 40px 20px;
  background-image: url(/images/main_wp.png?8a15e789f6c51f8fcfe47ab9f24d6fee);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .landing__main {
    padding: 80px 20px;
  }
}

.landing__board-panel {
  padding: 48px 24px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 24px;
}

.landing__board-panel .heading {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 16px;
  background-image: url(/images/highlight.png?564ca38866be605f8b6b0a85a7ed915c);
  background-size: 50% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 32px;
  color: #000000;
}

.landing__board-panel .sub-heading {
  color: #000000;
  margin-bottom: 16px;
}

.landing__board-panel .cta-button {
  display: inline-block;
  padding: 12px 24px;
  width: 100%;
  max-width: 250px;
}

.landing__what-is-board .heading,
.faq__main .heading {
  font-size: 36px;
  font-weight: 700;
}

.landing__what-is-board .sub-heading,
.faq__main .sub-heading {
  font-size: 18px;
  color: gray;
}

.landing__what-is-board .body,
.faq__main .body {
  font-size: 16px;
  color: gray;
}

.landing__section-banner {
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/images/forum_bg.png?35310beb2fb77c2ba982f4e1ab6a3abd);
}

.landing__section-banner-container .heading {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
}

.landing__section-banner-container .sub-heading {
  color: #F5F5F5;
  font-size: 16px;
  font-weight: 500;
}

.landing__section-banner-container .body {
  color: #B6D9EE;
}

.landing__banner {
  padding: 48px 0 75px;
}

.landing__card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  overflow: hidden;
}

@media (min-width: 992px) {
  .landing__card {
    height: 100%;
  }
}

.landing__card:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.landing__card:hover img {
  transform: scale(1.03);
}

.landing__card:hover .heading {
  background-position: left bottom;
}

.landing__card .heading {
  font-weight: 700;
  font-size: 28px;
  color: #000000;
  display: inline-block;
  background: linear-gradient(to right, #e0fbfc 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-in-out;
}

.landing__card .caption {
  padding: 30px 16px 20px;
  color: gray;
}

.landing__card img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  transition-duration: 0.3s;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 30px 35px 0;
}

.quiz__header {
  background-color: #064389;
  padding-top: 95px;
  color: #000000;
  margin-bottom: 12px;
  text-align: center;
  background-image: url(/images/event_wp.png?7d7cbeee41f4e3cc4fdd164b48b06a81);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 93vh;
  min-height: 700px;
}

@media (min-width: 768px) {
  .quiz__header {
    padding-top: 165px;
  }
}

.quiz__header .heading {
  font-weight: 700;
  font-size: 44px;
}

.quiz__header .sub-heading {
  font-size: 18px;
  color: #505050;
  margin-bottom: 12px;
}

.quiz__header .body {
  color: gray;
  font-size: 16px;
  margin-bottom: 22px;
}

.quiz__header .time {
  font-weight: 700;
  font-size: 24px;
}

.quiz__header .time .value {
  font-size: inherit;
  font-weight: inherit;
}

.quiz__header .countdown-timer {
  font-size: inherit;
}

.quiz__nav-button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.quiz__nav-button-group .prev {
  margin-right: 4px;
}

.quiz__countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.quiz__countdown-timer .unit-container {
  padding: 12px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .quiz__countdown-timer .unit-container {
    padding: 24px;
  }
}

.quiz__countdown-timer .value {
  display: block;
  font-size: 44px;
}

.quiz__half-border-blue {
  position: relative;
  margin-bottom: 36px;
}

.quiz__half-border-blue::after {
  content: "";
  position: absolute;
  background-color: #064389;
  width: 224px;
  height: 5px;
  bottom: -21px;
  left: 50%;
  transform: translateX(-50%);
}

.quiz-thank-you__step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 16px;
}

.quiz-thank-you__step .step-number {
  min-width: 40px;
  max-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  border: 3px solid #1da0dd;
  font-size: 23px;
  font-weight: 700;
  color: #1da0dd;
  text-align: center;
  margin-right: 18px;
}

.quiz-thank-you__step .step-text {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 14px;
}

.quiz-thank-you__step .step-text .heading {
  text-align: inherit;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 4px;
}

.quiz-thank-you__step .step-text .sub-heading {
  font-size: 14px;
  color: gray;
}

.quiz__social-icons {
  width: 100%;
  max-width: 480px;
}

.quiz__social-icons a {
  display: inline-block;
  width: 48%;
}

